@model IEnumerable<Barragem.Models.Rancking>
    @{
        ViewBag.Title = "Ranking";
    }
    <h4>Ranking da @ViewBag.Temporada</h4>
    <h4>Rodada @ViewBag.Rodada - @ViewBag.dataRodada</h4>

    <p>
        @if (Model.Count() > 0) { 
            @Html.ActionLink("Ranking anteriores", "listarRancking", new { idRodadaAtual = ViewBag.RodadaId })
        }
    </p>
    <ul class="nav nav-tabs" id="myTab">
        @{var classes = ViewBag.Classes;}
        @foreach (Barragem.Models.Classe c in classes){
            var tabName = "#tabClasse" + c.nivel;
            if (c.nivel == 1){
                <li class="active"><a href=@tabName data-toggle="tab">@c.nome</a></li>
            }else {
                <li><a href=@tabName data-toggle="tab">@c.nome</a></li>
            }
        }
        <li><a href="#tabGeral" data-toggle="tab">Geral</a></li>
    </ul>
    <div class="tab-content">
        @foreach (Barragem.Models.Classe c in classes){
        var tabName = "tabClasse" + c.nivel;
        var tabPane = "tab-pane fade";
        if (c.nivel==1){ tabPane = "tab-pane fade in active";}
            <div class="@tabPane" id="@tabName">
                <br>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-striped table-condensed table-bordered">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.posicao)
                            </th>
                            <th>
                                Jogadores
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.pontuacao) - @ViewBag.Rodada
                            </th>
                            <th>
                                Total
                            </th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model){
                    if ((item.classeId == null && c.nivel == 1) || (item.classeId != null && item.classe.nivel == c.nivel)){
                    <tr>
                        <td>
                            @if (item.posicaoClasse != null) {
                            @Html.Raw(item.posicaoClasse+"º");
                        } else {
                            @Html.Raw(item.posicao + "º");
                        }
                        </td>
                        <td>
                            @if (item.userProfile.foto != null){
                            <img id="imgFoto" src="@Url.Action("BuscaFoto", "Account", new { id = @item.userProfile.UserId })" class="profile-image img-circle" style="width:40px;height:40px;">
                        }else{
                            <img id="imgFoto" src="/Content/image/bolatenis.jpg" class="profile-image img-circle" style="width:40px;height:40px;">
                        }
                            <a href="@Url.Action("../Account/Detalhes", new { userId = @item.userProfile.UserId })" title="Detalhes do jogador">
                                @item.userProfile.nome
                            </a>
                        </td>
                        <td>
                            @string.Format("{0:N2}", item.pontuacao)
                        </td>
                        <td>
                            @string.Format("{0:N2}", item.totalAcumulado)
                        </td>
                        <td>
                            <a href="@Url.Action("historicoRanking", new { idJogador = item.userProfile.UserId })" title="histórico da pontuação" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-list"></span></a>
                        </td>
                    </tr>
                    } else if (item.classeId==null) {
                        break;
                    } else if (item.classe.nivel > c.nivel) { break; }
            }
                    </table>
                </div>
            </div>
        }
    <div class="tab-pane fade" id="tabGeral">
        <br>
        <div class="box-body table-responsive no-padding">
            <table class="table table-striped table-condensed table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.posicao)
                    </th>
                    <th>
                        Jogadores
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.pontuacao) - @ViewBag.Rodada
                    </th>
                    <th>
                        Total
                    </th>
                    <th></th>
                </tr>
                @{List<Barragem.Models.Rancking> rankingG = ViewBag.rankingGeral;}
                @foreach (var item in rankingG){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.posicao)º
                </td>
                <td>
                    @if (item.userProfile.foto != null){
                        <img id="imgFoto" src="@Url.Action("BuscaFoto", "Account", new { id = @item.userProfile.UserId })" class="profile-image img-circle" style="width:40px;height:40px;">
                    }else{
                        <img id="imgFoto" src="/Content/image/bolatenis.jpg" class="profile-image img-circle" style="width:40px;height:40px;">
                    }
                    <a href="@Url.Action("../Account/Detalhes", new { userId = @item.userProfile.UserId })" title="Detalhes do jogador">
                        @item.userProfile.nome
                    </a>
                </td>
                <td>
                    @string.Format("{0:N2}", item.pontuacao)
                </td>
                <td>
                    @string.Format("{0:N2}", item.totalAcumulado)
                </td>
                <td>
                    <a href="@Url.Action("historicoRanking", new { idJogador = item.userProfile.UserId })" title="histórico da pontuação" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-list"></span></a>
                </td>
            </tr>
            }
            </table>
        </div>
     </div>
   </div>
