@model Barragem.Models.Jogo

<div class="alinhamento">
    <div class="bloco_jogo">
        <p class="data">@Html.Raw(Model.dataHorarioQuadra)</p>
        <p class="nome">
            <a href="@Url.Action("../Account/Detalhes", new { userId = @Model.desafiado.UserId, mostrarClasse = false })" title="Detalhes do jogador">
                @if ((Model.cabecaChave != null) && (Model.cabecaChave > 0) && (Model.cabecaChave < 100))
                {
                    @Html.Raw("(" + Model.cabecaChave + ") ")
                }
                @Html.Raw(Model.desafiado.nome)
            </a>
            @if (Model.desafiado2 != null)
            {
                @Html.Raw("/ ") <a href="@Url.Action("../Account/Detalhes", new { userId = @Model.desafiado2.UserId, mostrarClasse = false })" title="Detalhes do jogador">
                    @Html.Raw(Model.desafiado2.nome)
                </a>
            }
        </p>
        <p class="numeros">
            @if ((Model.situacao_Id == 4) && (Model.desafiante_id != 10))
            {
                @Html.Raw(Model.qtddGames1setDesafiado + "/" + Model.qtddGames1setDesafiante + " - " + Model.qtddGames2setDesafiado + "/" + Model.qtddGames2setDesafiante)
                if ((Model.qtddGames3setDesafiado != 0) || (Model.qtddGames3setDesafiante != 0))
                {
                    @Html.Raw(" - " + Model.qtddGames3setDesafiado + "/" + Model.qtddGames3setDesafiante)
                }
            }
            else if ((Model.situacao_Id == 5) && (Model.desafiante_id != 10))
            {
                @Html.Raw("WO")
            }
            else if (Model.situacao_Id == 6)
            {
                @Html.Raw(Model.qtddGames1setDesafiado + "/" + Model.qtddGames1setDesafiante + " - " + Model.qtddGames2setDesafiado + "/" + Model.qtddGames2setDesafiante)
                if ((Model.qtddGames3setDesafiado != 0) || (Model.qtddGames3setDesafiante != 0))
                {
                    @Html.Raw(" - " + Model.qtddGames3setDesafiado + "/" + Model.qtddGames3setDesafiante)
                }@Html.Raw(" desist.")
            }
            else
            {
                @Html.Raw("X")
            }
        </p>
        <p class="nome">
            @if (Model.desafiante_id == 10)
            {
                @Html.Raw("bye")
            }
            else
            {
                <a href="@Url.Action("../Account/Detalhes", new { userId = @Model.desafiante.UserId, mostrarClasse = false })" title="Detalhes do jogador">
                    @Html.Raw(Model.desafiante.nome)
                </a>
                if (Model.desafiante2 != null)
                {
                    @Html.Raw("/ ") <a href="@Url.Action("../Account/Detalhes", new { userId = @Model.desafiante2.UserId, mostrarClasse = false })" title="Detalhes do jogador">
                        @Html.Raw(Model.desafiante2.nome)
                    </a>
                }
            }
        </p>
    </div>
</div>