
<div class="box-header with-border">
    <h3 class="dashboard">
        <a href="/Torneio/PainelControle" class="voltar">
            <img src="/Content/img/back.svg" alt="icone">
            Voltar
        </a> | @ViewBag.NomeTorneio
    </h3>
</div>

<ul class="nav nav-tabs" id="myTab">
    <li @if (@ViewBag.flag == "painelTorneio") { @Html.Raw("class='active'") }><a href="@Url.Action("PainelTorneio", new { torneioId = @ViewBag.TorneioId })"><b>Painel</b></a></li>
    <li @if (@ViewBag.flag == "edit") { @Html.Raw("class='active'") }><a href="@Url.Action("EditTorneio", new { id = @ViewBag.TorneioId })"><b>Informações</b></a></li>
    <li @if (@ViewBag.flag == "classes") { @Html.Raw("class='active'") }><a href="@Url.Action("EditClasse", new { torneioId = @ViewBag.TorneioId })"><b>Categorias</b></a></li>
    <li @if (@ViewBag.flag == "inscritos") { @Html.Raw("class='active'") }><a href="@Url.Action("EditInscritos", new { torneioId = @ViewBag.TorneioId })"><b>Inscritos</b></a></li>
    <li @if (@ViewBag.flag == "duplas") { @Html.Raw("class='active' ") }><a href="@Url.Action("EditDuplas", new { torneioId=@ViewBag.TorneioId })"><b>Duplas</b></a>
    <li @if (@ViewBag.flag == "cabecachave") { @Html.Raw("class='active'") }><a href="@Url.Action("EditCabecaChave", new { torneioId = @ViewBag.TorneioId })"><b>Cabeça de Chave</b></a></li>
    <li @if (@ViewBag.flag == "jogos") { @Html.Raw("class='active'") }><a href="@Url.Action("EditJogos", new { torneioId = @ViewBag.TorneioId })"><b>Jogos</b></a>
    <li @if (@ViewBag.flag == "fasegrupo") { @Html.Raw("class='active' ") }><a href="@Url.Action("EditFaseGrupo", new { torneioId=@ViewBag.TorneioId })"><b>Fase Grupo</b></a>
    <li @if (@ViewBag.flag == "obs") { @Html.Raw("class='active' ") }><a href="@Url.Action("EditObs","Torneio", new { torneioId=@ViewBag.TorneioId })"><b>Respostas</b></a>
    <li @if (@ViewBag.flag == "patrocinio") { @Html.Raw("class='active' ") }><a href="@Url.Action("EditPatrocinadores", new { torneioId=@ViewBag.TorneioId })"><b>Patrocínio</b></a>
    @if (Roles.IsUserInRole("admin"))
    {
        <li @if (@ViewBag.flag == "teste") { @Html.Raw("class='active' ") }><a href="@Url.Action("EditTeste", new { torneioId=@ViewBag.TorneioId })"><b>Testes</b></a></li>
    }

</ul>

<style>
    .nav-tabs {
        flex-wrap: wrap;
        display: initial;
        margin-bottom:2px;
    }

    .voltar {
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        color: #989898;
        text-decoration: none;
        margin-right: 10px;
    }
        .voltar:hover {
            color: #989898;
            opacity: 0.6;
            text-decoration:none;
        }
    .dashboard {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        color: #014626;
    }

</style>