<ul class="nav nav-tabs" id="myTab">
    <li @if (@ViewBag.flag == "edit") { @Html.Raw("class='active'") }><a href="@Url.Action("EditTorneio", new { id = @ViewBag.TorneioId })"><b>Informações</b></a></li>
    <li @if (@ViewBag.flag == "classes") { @Html.Raw("class='active'") }><a href="@Url.Action("EditClasse", new { torneioId = @ViewBag.TorneioId })"><b>Classes</b></a></li>
    @if (Roles.IsUserInRole("admin"))
    {
        <li @if (@ViewBag.flag == "cabecachave") { @Html.Raw("class='active'") }><a href="@Url.Action("EditCabecaChave", new { torneioId = @ViewBag.TorneioId })"><b>Cabeça de chave</b></a></li>
    }
    <li @if (@ViewBag.flag == "inscritos") { @Html.Raw("class='active'") }><a href="@Url.Action("EditInscritos", new { torneioId = @ViewBag.TorneioId })"><b>Inscritos</b></a></li>
    <li @if (@ViewBag.flag == "jogos") { @Html.Raw("class='active'") }><a href="@Url.Action("EditJogos", new { torneioId = @ViewBag.TorneioId })"><b>Jogos</b></a>
    <li @if (@ViewBag.flag == "duplas") { @Html.Raw("class='active' ") }><a href="@Url.Action("EditDuplas", new { torneioId=@ViewBag.TorneioId })"><b>Duplas</b></a>
    <li @if (@ViewBag.flag == "fasegrupo") { @Html.Raw("class='active' ") }><a href="@Url.Action("EditFaseGrupo", new { torneioId=@ViewBag.TorneioId })"><b>Fase Grupo</b></a>
    <li @if (@ViewBag.flag == "obs") { @Html.Raw("class='active' ") }><a href="@Url.Action("EditObs","Torneio", new { torneioId=@ViewBag.TorneioId })"><b>Observações</b></a>
    <li @if (@ViewBag.flag == "patrocinio") { @Html.Raw("class='active' ") }><a href="@Url.Action("EditPatrocinadores", new { torneioId=@ViewBag.TorneioId })"><b>Patrocínio</b></a>
    @if (Roles.IsUserInRole("admin"))
    {
        <li @if (@ViewBag.flag == "teste") { @Html.Raw("class='active' ") }><a href="@Url.Action("EditTeste", new { torneioId=@ViewBag.TorneioId })"><b>Testes</b></a></li>
    }

    </ul>
    <style>
        .nav-tabs {
            flex-wrap: wrap;
            display: initial;
        }
    </style>