@{
    var temClassesMenosSeisJogadores = Model.Count > 0 ? "S" : "N";
}

@model ICollection<Barragem.Models.ClasseGrupoSeguidoMataMataModel>

    <style>

        .estiloSeletorClasse {
            font-weight: 400;
        }
    </style>

    <div id="divClasseJogosPoucosJogadores" style="display: none; margin-top:-45px">
        <br>
        <div class="alert alert-warning alert-dismissable">

            <button id="btnFecharPixPagtoTorneio" type="button" class="close" aria-hidden="true" onclick="FecharPixPagtoTorneio()">&times;</button>
            <b>IMPORTANTE!</b><br><br>
            As categorias abaixo estão com <b>menos de 6 jogadores/duplas</b> mas estão configuradas para jogar <b>todos contra todos seguido de uma final </b>com os 2 primeiros colocados do grupo.
            <br><br>
            Escolha o que deseja fazer com cada categoria:
            <br>
            <div class="box-body">

                <input type="hidden" name="chkTemClassesMenosSeisJogadores" id="chkTemClassesMenosSeisJogadores" value="@temClassesMenosSeisJogadores">

                @using (Html.BeginForm("SalvarAlteracaoClassesGeracaoJogos", "Torneio", FormMethod.Post, new { @name = "FormAlteracoesClassesGeracaoJogos", @id = "FormAlteracoesClassesGeracaoJogos" }))
                {
                    int i = 0;
                    foreach (var item in Model)
                    {
                        <input type="hidden" value="@item.IdClasse" name="classeIdsMenosSeisJogadores" id="classeIdsMenosSeisJogadores" checked/>

                        <label id="lbl_classeitem_@item.IdClasse" class="col-sm" style="display:block">@item.NomeClasse</label>
                        <div id="div_classeitem_@item.IdClasse" name="classeItem" class="row" style="display:block; margin-left: 0px">
                            <input type="hidden" name="@Html.Raw("[" + i + "].IdTorneio")" value="@item.IdTorneio">
                            <input type="hidden" name="@Html.Raw("[" + i + "].IdClasse")" value="@item.IdClasse">
                            <div class="col-sm-2" style="width:180px">
                                <input type="radio" id="@Html.Raw("chkManterEstadoAtual" + item.IdClasse)" name="@Html.Raw("[" + i + "].ConfigSelecionadaClasse")" value="1" checked>
                                <label class="estiloSeletorClasse" for="@Html.Raw("chkManterEstadoAtual" + item.IdClasse)">Manter como está</label>
                            </div>
                            <div class="col-sm-2" style="width:250px">
                                <input type="radio" id="@Html.Raw("chkApenasTodosContraTodos" + item.IdClasse)" name="@Html.Raw("[" + i + "].ConfigSelecionadaClasse")" value="2">
                                <label class="estiloSeletorClasse" for="@Html.Raw("chkApenasTodosContraTodos" + item.IdClasse)">Apenas todos contra todos</label>
                            </div>
                            <div class="col-sm-2" style="width:200px">
                                <input type="radio" id="@Html.Raw("chkApenasMataMata" + item.IdClasse)" name="@Html.Raw("[" + i + "].ConfigSelecionadaClasse")" value="3">
                                <label class="estiloSeletorClasse" for="@Html.Raw("chkApenasMataMata" + item.IdClasse)">Apenas mata mata</label>
                            </div>
                        </div>
                        i++;
                    }

                    <button id="btnSalvarAlteracaoClasses" type="button" class="btn btn-primary btn-small" style="float:right" onclick="SalvarAlteracaoClassesGeracaoJogos()">Salvar e Gerar Tabela</button>
                }
            </div>

        </div>
    </div>
