@model Barragem.Models.Torneio
<br />
<div class="form-group">
    @Html.LabelFor(model => model.NomeBanco, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-4 input-group">
        @Html.TextBoxFor(model => model.NomeBanco, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NomeBanco, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Agencia, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-4 input-group">
        @Html.TextBoxFor(model => model.Agencia, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Agencia, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ContaCorrente, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-4 input-group">
        @Html.TextBoxFor(model => model.ContaCorrente, new { @class = "form-control"  })
        @Html.ValidationMessageFor(model => model.ContaCorrente, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-4 input-group">
        @Html.TextBoxFor(model => model.CPF, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ChavePix, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-4 input-group">
        @Html.TextBoxFor(model => model.ChavePix, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ChavePix, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.NomeOrganizador, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-4 input-group">
        @Html.TextBoxFor(model => model.NomeOrganizador, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NomeOrganizador, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ContatoOrganizador, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-4 input-group">
        @Html.TextBoxFor(model => model.ContatoOrganizador, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ContatoOrganizador, "", new { @class = "text-danger" })
    </div>
</div>
