@using System.Linq;
@using Barragem.Models;

<div class="form-row exibir-escolhaDeClasses" id="classes" style="margin-top: 25px;display:none;">
    <div class="box box-warning">

        @using (Html.BeginForm("MontarChaveamento", "Torneio", FormMethod.Post, new { @class = "form-row", @name = "FormClasses", @id = "FormClasses" }))
        {
            var listagemCategorias = (List<CategoriaGeracaoJogoModel>)ViewBag.CategoriasGeracaoJogos;

            if (listagemCategorias.Any(x => x.Tipo == "FG"))
            {
                <!--FASE GRUPO-->
                <div class="box-header with-border">
                    <h3 class="box-title">Selecione as categorias para gerar tabelas de <b style="color:#1a039c">FASE DE GRUPOS</b></h3>
                </div>
                <div class="box-body">
                    <div class="col-sm-4">
                        <input type="checkbox" value="1" name="chkTodasCategoriasFaseGrupo" id="chkTodasCategoriasFaseGrupo" onclick="marcarTodasCategoriasFaseGrupo()" /> <b>Todos</b>
                    </div>
                    @foreach (var categoria in listagemCategorias.Where(x => x.Tipo == "FG"))
                    {
                        <div class="col-sm-4">
                            <input type="checkbox" value="@categoria.Id" name="classeIds" id="classeIds" data-tipo="FG" @if (!categoria.JogosJaGerados) { @Html.Raw("checked") } />
                            @Html.Raw(categoria.Nome)
                        </div>
                    }
                </div>
            }

            if (listagemCategorias.Any(x => x.Tipo == "MM"))
            {
                if (listagemCategorias.Any(x => x.Tipo == "FG"))
                {
                    <hr />
                }
                <!--MATA MATA-->
                <div class="box-header with-border">
                    <h3 class="box-title">Selecione as categorias para gerar tabelas de <b style="color:#d81614">MATA MATA</b></h3>
                </div>
                <div class="box-body">
                    <div class="col-sm-4">
                        <input type="checkbox" value="1" name="chkTodasCategoriasMataMata" id="chkTodasCategoriasMataMata" onclick="marcarTodasCategoriasMataMata()" /> <b>Todos</b>
                    </div>
                    @foreach (var categoria in listagemCategorias.Where(x => x.Tipo == "MM"))
                    {
                        <div class="col-sm-4">
                            <input type="checkbox" value="@categoria.Id" name="classeIds" id="classeIds" data-tipo="MM" @if (!categoria.JogosJaGerados) { @Html.Raw("checked") } />
                            @Html.Raw(categoria.Nome)
                        </div>
                    }
                </div>
            }
            <input type="hidden" value="@ViewBag.TorneioId" name="torneioId" id="torneioId">
            <button id="btnGerarTabela" type="button" onclick="gerarTabelas()" class="btn btn-primary btn-small gerarTabela">Gerar Tabela</button>

        }
    </div>
</div>