@model Barragem.Models.Jogo

<div class="alinhamento">
    <div class="bloco_jogo">

        <div>
            @if (Model.desafiante != null)
            {
                @Html.Hidden("desafiante" + Model.Id, Model.desafiante.nome)
            }
            else
            {
                @Html.Hidden("desafiante" + Model.Id, string.Empty)
            }

            @if (Model.desafiado != null)
            {
                @Html.Hidden("desafiado" + Model.Id, Model.desafiado.nome)
            }
            else
            {
                @Html.Hidden("desafiado" + Model.Id, string.Empty)
            }

            @if (Model.desafiante2 != null)
            {
                @Html.Hidden("desafiante2" + Model.Id, Model.desafiante2.nome)
            }
            else
            {
                @Html.Hidden("desafiante2" + Model.Id, string.Empty)
            }

            @if (Model.desafiado2 != null)
            {
                @Html.Hidden("desafiado2" + Model.Id, Model.desafiado2.nome)
            }
            else
            {
                @Html.Hidden("desafiado2" + Model.Id, string.Empty)
            }
        </div>

        <p class="data">
            @if (Model.desafiante_id == 10)
            {
                @Html.Raw("Descanso")
            }
            else
            {
                @Html.Raw(Model.dataHorarioQuadra)
            }
        </p>
        <p class="nome">
            @if (Model.desafiado != null)
            {
                <a href="@Url.Action("../Account/Detalhes", new { userId = @Model.desafiado.UserId, mostrarClasse = false })" title="Detalhes do jogador">
                    @if ((Model.cabecaChave != null) && (Model.cabecaChave > 0) && (Model.cabecaChave < 100))
                    {
                        @Html.Raw("(" + Model.cabecaChave + ") ")
                    }
                    @Html.Raw(Model.desafiado.nome)
                </a>
                if (Model.desafiado2 != null)
                {
                    @Html.Raw("/ ") <a href="@Url.Action("../Account/Detalhes", new { userId = @Model.desafiado2.UserId, mostrarClasse = false })" title="Detalhes do jogador">
                        @Html.Raw(Model.desafiado2.nome)
                    </a>
                }
            }
            else
            {
                @Html.Raw("Aguardando adversário")
            }
        </p>
        <div class="numeros alinhamentoPlacar">
            @if ((Model.situacao_Id == 4) && (Model.desafiante_id != 10))
            {
                if (Roles.IsUserInRole("admin") || Roles.IsUserInRole("organizador"))
                {
                    <div id="@Html.Raw("placarResultado"+Model.Id)">
                        @Html.Raw(Model.qtddGames1setDesafiado + "/" + Model.qtddGames1setDesafiante + " - " + Model.qtddGames2setDesafiado + "/" + Model.qtddGames2setDesafiante)
                        @if ((Model.qtddGames3setDesafiado != 0) || (Model.qtddGames3setDesafiante != 0))
                        {
                            @Html.Raw(" - " + Model.qtddGames3setDesafiado + "/" + Model.qtddGames3setDesafiante)
                        }
                    </div>
                    <div>
                        <a id="@Html.Raw("btnPlacar"+ Model.Id)" class="badge placarButton" onclick="LancarPlacar(this, 'TABELA')" data-vencedor="@Model.idDoVencedor" data-toggle="modal" data-situacao="@Model.situacao_Id" data-indice="0"
                           data-placar="@Model.qtddGames1setDesafiante|@Model.qtddGames1setDesafiado|@Model.qtddGames2setDesafiante|@Model.qtddGames2setDesafiado|@Model.qtddGames3setDesafiante|@Model.qtddGames3setDesafiado"
                           data-idJogo="@Model.Id" data-desafianteId="@Model.desafiante_id" data-desafiadoId="@Model.desafiado_id" data-faseGrupo="@Model.grupoFaseGrupo" data-target="#placar-modal"><span style="font-size: 9px;" class="glyphicon glyphicon-edit"></span></a>
                    </div>
                }
                else
                {
                    @Html.Raw(Model.qtddGames1setDesafiado + "/" + Model.qtddGames1setDesafiante + " - " + Model.qtddGames2setDesafiado + "/" + Model.qtddGames2setDesafiante)
                    if ((Model.qtddGames3setDesafiado != 0) || (Model.qtddGames3setDesafiante != 0))
                    {
                        @Html.Raw(" - " + Model.qtddGames3setDesafiado + "/" + Model.qtddGames3setDesafiante)
                    }
                }
            }
            else if ((Model.situacao_Id == 5) && (Model.desafiante_id != 10))
            {
                if (Roles.IsUserInRole("admin") || Roles.IsUserInRole("organizador"))
                {

                    <div id="@Html.Raw("placarResultado"+Model.Id)">
                        @Html.Raw("WO")
                    </div>
                    <div>
                        <a id="@Html.Raw("btnPlacar"+ Model.Id)" class="badge placarButton" onclick="LancarPlacar(this, 'TABELA')" data-vencedor="@Model.idDoVencedor" data-toggle="modal" data-situacao="@Model.situacao_Id" data-indice="0"
                           data-placar="@Model.qtddGames1setDesafiante|@Model.qtddGames1setDesafiado|@Model.qtddGames2setDesafiante|@Model.qtddGames2setDesafiado|@Model.qtddGames3setDesafiante|@Model.qtddGames3setDesafiado"
                           data-idJogo="@Model.Id" data-desafianteId="@Model.desafiante_id" data-desafiadoId="@Model.desafiado_id" data-faseGrupo="@Model.grupoFaseGrupo" data-target="#placar-modal"><span style="font-size: 9px;" class="glyphicon glyphicon-edit"></span></a>
                    </div>
                }
                else
                {
                    @Html.Raw("WO")
                }
            }
            else if (Model.situacao_Id == 6)
            {
                if (Roles.IsUserInRole("admin") || Roles.IsUserInRole("organizador"))
                {
                    <div id="@Html.Raw("placarResultado"+Model.Id)">
                        @Html.Raw(Model.qtddGames1setDesafiado + "/" + Model.qtddGames1setDesafiante + " - " + Model.qtddGames2setDesafiado + "/" + Model.qtddGames2setDesafiante)
                        @if ((Model.qtddGames3setDesafiado != 0) || (Model.qtddGames3setDesafiante != 0))
                        {
                            @Html.Raw(" - " + Model.qtddGames3setDesafiado + "/" + Model.qtddGames3setDesafiante)
                        }
                        @Html.Raw(" desist.")
                    </div>
                    <div>
                        <a id="@Html.Raw("btnPlacar"+ Model.Id)" class="badge placarButton" onclick="LancarPlacar(this, 'TABELA')" data-vencedor="@Model.idDoVencedor" data-toggle="modal" data-situacao="@Model.situacao_Id" data-indice="0"
                           data-placar="@Model.qtddGames1setDesafiante|@Model.qtddGames1setDesafiado|@Model.qtddGames2setDesafiante|@Model.qtddGames2setDesafiado|@Model.qtddGames3setDesafiante|@Model.qtddGames3setDesafiado"
                           data-idJogo="@Model.Id" data-desafianteId="@Model.desafiante_id" data-desafiadoId="@Model.desafiado_id" data-faseGrupo="@Model.grupoFaseGrupo" data-target="#placar-modal"><span style="font-size: 9px;" class="glyphicon glyphicon-edit"></span></a>
                    </div>
                }
                else
                {
                    @Html.Raw(Model.qtddGames1setDesafiado + "/" + Model.qtddGames1setDesafiante + " - " + Model.qtddGames2setDesafiado + "/" + Model.qtddGames2setDesafiante)
                    if ((Model.qtddGames3setDesafiado != 0) || (Model.qtddGames3setDesafiante != 0))
                    {
                        @Html.Raw(" - " + Model.qtddGames3setDesafiado + "/" + Model.qtddGames3setDesafiante)
                    }
                    @Html.Raw(" desist.")
                }
            }
            else
            {
                if (Model.desafiante_id == 10)
                {
                    @Html.Raw("")
                }
                else
                {
                    if ((Roles.IsUserInRole("admin") || Roles.IsUserInRole("organizador")) && Model.desafiante_id != 10 && Model.desafiante_id > 0 && Model.desafiado_id > 0)
                    {

                        <div id="@Html.Raw("placarResultado"+ Model.Id)"></div>
                        <div>
                            <a id="@Html.Raw("btnPlacar"+ Model.Id)" class="badge placarButton" onclick="LancarPlacar(this, 'TABELA')" data-vencedor="@Model.idDoVencedor" data-toggle="modal" data-situacao="@Model.situacao_Id" data-indice="0"
                               data-placar="@Model.qtddGames1setDesafiante|@Model.qtddGames1setDesafiado|@Model.qtddGames2setDesafiante|@Model.qtddGames2setDesafiado|@Model.qtddGames3setDesafiante|@Model.qtddGames3setDesafiado"
                               data-idJogo="@Model.Id" data-desafianteId="@Model.desafiante_id" data-desafiadoId="@Model.desafiado_id" data-faseGrupo="@Model.grupoFaseGrupo" data-target="#placar-modal"><span style="font-size: 10px;" class="glyphicon glyphicon-plus"></span> Lançar placar</a>
                        </div>
                    }
                    else
                    {
                        @Html.Raw("X")
                    }
                }
            }
        </div>
        <p class="nome">
            @if (Model.desafiante_id == 10)
            {
                @Html.Raw("")
            }
            else
            {
                if (Model.desafiante != null)
                {
                    <a href="@Url.Action("../Account/Detalhes", new { userId = @Model.desafiante.UserId, mostrarClasse = false })" title="Detalhes do jogador">
                        @Html.Raw(Model.desafiante.nome)
                    </a>
                    if (Model.desafiante2 != null)
                    {
                        @Html.Raw("/ ") <a href="@Url.Action("../Account/Detalhes", new { userId = @Model.desafiante2.UserId, mostrarClasse = false })" title="Detalhes do jogador">
                            @Html.Raw(Model.desafiante2.nome)
                        </a>
                    }
                }
                else
                {
                    @Html.Raw("Aguardando adversário")
                }
            }
        </p>
    </div>
</div>

<style>
    .alinhamentoPlacar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .placarButton {
        background-color: #007bff;
        margin-left: 4px;
        font-size: 11px;
    }
</style>