@model Barragem.Models.InscricaoTorneio
@{
    double valor = (double)Model.valor;
    Layout = "~/Views/Shared/_LayoutTorneio2.cshtml";
    ViewBag.Title = "Inscrição Torneio ";
    //Barragem.Models.Torneio torneio = ViewBag.Torneio;
    int inscId = Model.Id;
    if (ViewBag.InscricaoId != null)
    {
        inscId = ViewBag.InscricaoId;
        valor = (double)Model.valorPendente;
    }
}

<section class="content">
    @if ((ViewBag.Msg != "") && (ViewBag.Msg != null))
    {
    <div class="row">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.Msg</h3>
            </div>
            <div class="box-body">
                Escolha a opção de pagamento abaixo para participar do torneio:
            </div>
            <div class="box-footer">
                @if (Model.valor != 0)
                {
                    if (ViewBag.isAceitaCartao) {
                        <a href="@Url.Action("EfetuarPagamento", "Torneio", new { inscricaoId = inscId })" style="text-decoration: none" class="btn btn-success" data-id="@Model.Id" title="Efetuar Pagamento">Cartão ou PIX</a>
                    }
                    if ((Model.torneio.dadosBancarios != null) && (Model.torneio.dadosBancarios.Length > 100))
                    {
                        <button class="btn btn-success" onclick="mostrarDadosBancarios()" title="Transferência bancária">Transferência</button>
                    }
                }
            </div>
        </div>
    </div>
    }
    <div class="row exibir-dadosbancarios" id="dadosBancarios">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Transferência</h3>
            </div>
            <div class="box-body">
                <p><b>Valor:</b> R$ @valor ,00</p>
                @Html.Raw(Model.torneio.dadosBancarios)
            </div>

        </div>
    </div>
                <div class="row">

                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Dados da Inscrição</h3>
                        </div>
                        <div class="box-body">
                            <div class="col-md-6">
                                <div class="row">
                                    @Html.Label("Torneio", new { @class = "col-sm-3" })
                                    <div class="col-sm-8 info-box-text">
                                        @Html.Raw(Model.torneio.nome)
                                    </div>
                                </div>
                                <div class="row">
                                    @Html.Label("Período", new { @class = "col-sm-3" })
                                    <div class="col-sm-8 info-box-text">
                                        @Html.Raw(Model.torneio.dataInicio.ToShortDateString()) a @Html.Raw(Model.torneio.dataFim.ToShortDateString())
                                    </div>
                                </div>
                                <div class="row">
                                    @Html.Label("Premiação", new { @class = "col-sm-3" })
                                    <div class="col-sm-8 info-box-text">
                                        @Html.Raw(Model.torneio.premiacao)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    @Html.Label("Inscrito", new { @class = "col-sm-3" })
                                    <div class="col-sm-8 info-box-text">
                                        @Html.Raw(Model.participante.nome)
                                    </div>
                                </div>
                                <div class="row">
                                    @Html.Label("Valor Insrição", new { @class = "col-sm-3" })
                                    <div class="col-sm-8 info-box-text">
                                        @Html.Raw("R$ " + valor + ",00")
                                    </div>
                                </div>
                                <div class="row">
                                    @Html.Label("Classe", new { @class = "col-sm-3" })
                                    <div class="col-sm-8 info-box-text">
                                        @Html.Raw(Model.classeTorneio.nome)
                                    </div>
                                </div>
                                @if (!String.IsNullOrEmpty(ViewBag.SegundaOpcaoClasse))
                                {
                                    <div class="row">
                                        @Html.Label("Classe", new { @class = "col-sm-3" })
                                        <div class="col-sm-8 info-box-text">
                                            @Html.Raw(ViewBag.SegundaOpcaoClasse)
                                        </div>
                                    </div>
                                }
                                @if (!String.IsNullOrEmpty(ViewBag.TerceiraOpcaoClasse))
                                {
                                    <div class="row">
                                        @Html.Label("Classe", new { @class = "col-sm-3" })
                                        <div class="col-sm-8 info-box-text">
                                            @Html.Raw(ViewBag.TerceiraOpcaoClasse)
                                        </div>
                                    </div>
                                }
                                @if (!String.IsNullOrEmpty(ViewBag.QuartaOpcaoClasse))
                                {
                                    <div class="row">
                                        @Html.Label("Classe", new { @class = "col-sm-3" })
                                        <div class="col-sm-8 info-box-text">
                                            @Html.Raw(ViewBag.QuartaOpcaoClasse)
                                        </div>
                                    </div>
                                }
                                @if (Model.valor != 0)
                                {
                                    <div class="row">
                                        @Html.Label("Situação", new { @class = "col-sm-3" })
                                        <div class="col-sm-8 info-box-text">
                                            @Html.Raw("Pendente Pagamento")
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        
                    </div>

                </div>
</section>
@section Scripts {
    <script type="text/javascript">
        function mostrarDadosBancarios() {
            var element = document.getElementById("dadosBancarios");
            element.classList.add("show");
        }
    </script>
}

