@model Barragem.Models.ClasseTorneio

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <legend>Criar Classe</legend>

    <div class="row">
        <div class="col-sm-4" style="padding:15px">
            @Html.LabelFor(model => model.nome)
            <div class="input-group">
                @Html.TextBoxFor(model => model.nome, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.nome)
        </div>
    </div>
    if (ViewBag.Categorias.Count > 1)
    {
        <div class="row">
            <div class="col-sm-5">
                <div class="input-group">
                    <select id="CategoriaId" name="CategoriaId" class="form-control">
                        @foreach (var categoria in ViewBag.Categorias)
                        {
                            <option value="@categoria.Id">@categoria.Nome</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    } else {
        <input type="hidden" id="CategoriaId" name="CategoriaId" value="0">
    }
        <div class="row">
            <div class="col-xs-2">
                <label>
                    @Html.CheckBoxFor(model => model.isDupla) Dupla
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <label>
                    @Html.CheckBoxFor(model => model.faseGrupo) Tem Fase de grupo
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <label>
                    @Html.CheckBoxFor(model => model.faseMataMata) Tem Mata-mata
                </label>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-xs-2">
                <input type="hidden" name="nivel" value="@ViewBag.qtddClasses">
                <input type="hidden" name="torneioId" value="@ViewBag.torneioId">
                <input type="submit" class="btn btn-primary" value="Criar" />
            </div>
        </div>
 }


            @section Scripts {


            }

