@model Barragem.Models.Torneio
@{
    Layout = "~/Views/Shared/_LayoutTorneio2.cshtml";
    Barragem.Models.InscricaoTorneio inscricao = null;
    if (ViewBag.inscricao != null)
    {
        inscricao = ViewBag.inscricao;
    }
}
<section class="content-header">
    <h1>Torneio</h1>
</section>
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalhes</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        @Html.LabelFor(m => m.nome, new { @class = "col-sm-3" })
                        <div class="col-sm-8 info-box-text">
                            @Html.Raw(Model.nome)
                        </div>
                    </div>
                    <div class="row">
                        @Html.Label("Período", new { @class = "col-sm-3" })
                        <div class="col-sm-8 info-box-text">
                            @Html.Raw(Model.dataInicio.ToShortDateString()) a @Html.Raw(Model.dataFim.ToShortDateString())
                        </div>
                    </div>
                    <!--div class="row">
                        Html.Label("Classes", new { class = "col-sm-3" })
                        <div class="col-sm-8 info-box-text">
                            Html.Raw(Model.qtddClasses)
                        </div>
                    </div-->
                    <div class="row">
                        @Html.Label("Repescagem", new { @class = "col-sm-3" })
                        <div class="col-sm-8 info-box-text">
                            @if (Model.temRepescagem)
                            { @Html.Raw("Sim") }
                            else
                            { @Html.Raw("Não")}
                        </div>
                    </div>
                    <div class="row">
                        @Html.Label("Premiação", new { @class = "col-sm-3" })
                        <div class="col-sm-8 info-box-text">
                            @Html.Raw(Model.premiacao)
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <a href="@Url.Action("InscricoesTorneio2", new { torneioId = Model.Id })" class="btn btn-default" data-id="Model.Id" title="Inscritos">Ver Inscritos</a>
                </div>

            </div>
            <!-- /.box -->
        </div>
        <div class="col-md-6">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Inscrição</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("Inscricao", "Torneio", FormMethod.Post, new { @class = "form-horizontal", @name = "formInscricao" }))
                {
                    @Html.Hidden("operacao", "inscricao")
                    @Html.Hidden("torneioId", Model.Id)
                    @Html.Hidden("vrInscricao", Model.valor);
                    @Html.Hidden("userId", inscricao==null? 0 : inscricao.userId);
                    @Html.Hidden("isClasseDupla", false);
                    <div class="box-body">
                        <div class="row">
                                @if (inscricao == null)
                                {
                                    @Html.Label("Uma categoria", new { @class = "col-sm-5" })
                                    <div class="col-sm-7 info-box-text">
                                        @if ((Model.valor == 0) || (ViewBag.isGratuito)){
                                            @Html.Raw("gratuito")
                                        }else{
                                            @Html.Raw("R$ " + Model.valor + ",00")
                                        }
                                    </div>
                                }
                                else
                                {
                                    @Html.Label("Valor Inscrição", new { @class = "col-sm-5" })
                                    <div class="col-sm-7 info-box-text">
                                        @if ((Model.valor != 0) && (!ViewBag.isGratuito))
                                        {
                                            @Html.Raw("R$ " + inscricao.valor + ",00")
                                        }else{
                                            @Html.Raw("gratuito")
                                        }
                                    </div>
                                }
                        </div>
                        @if (inscricao != null)
                        {
                            <div class="row">
                                @Html.Label("Status Inscrição", new { @class = "col-sm-5" })
                                <div class="col-sm-7 info-box-text">
                                    @if ((Model.valor != 0) && (!ViewBag.isGratuito))
                                    {
                                        @Html.Raw(inscricao.descricaoStatusPag)
                                        if (inscricao.isAtivo)
                                        {
                                            @Html.Raw(" Ativa")
                                        }
                                        else
                                        {
                                            @Html.Raw(" Pendente")
                                        }
                                    }
                                </div>
                            </div>
                        }
                        @if (inscricao == null)
                        {
                            if (Model.qtddCategoriasPorJogador>1)
                            {
                                <div class="row">
                                    @Html.Label("Duas Categorias", new { @class = "col-sm-5" })
                                    <div class="col-sm-7 info-box-text">
                                        @if ((Model.valor == 0) || (ViewBag.isGratuito))
                                        {
                                            @Html.Raw("gratuito")
                                        }
                                        else
                                        {
                                            @Html.Raw("R$ " + Model.valor2 + ",00")
                                        }
                                    </div>
                                </div>
                            }
                            if (Model.qtddCategoriasPorJogador > 2)
                            {
                                <div class="row">
                                    @Html.Label("Três Categorias", new { @class = "col-sm-5" })
                                    <div class="col-sm-7 info-box-text">
                                        @if ((Model.valor == 0) || (ViewBag.isGratuito))
                                        {
                                            @Html.Raw("gratuito")
                                        }
                                        else
                                        {
                                            @Html.Raw("R$ " + Model.valor3 + ",00")
                                        }
                                    </div>
                                </div>
                            }
                            if (Model.qtddCategoriasPorJogador > 3)
                            {
                                <div class="row">
                                    @Html.Label("Quatro Categorias", new { @class = "col-sm-5" })
                                    <div class="col-sm-7 info-box-text">
                                        @if ((Model.valor == 0) || (ViewBag.isGratuito))
                                        {
                                            @Html.Raw("gratuito")
                                        }
                                        else
                                        {
                                            @Html.Raw("R$ " + Model.valor4 + ",00")
                                        }
                                    </div>
                                </div>
                            }
                            if ((Model.isDesconto != null && (bool)Model.isDesconto) && (inscricao == null))
                            {
                                <div class="row">
                                    @Html.Label("Desconto p/ " + Model.descontoPara + " de", new { @class = "col-sm-5" })
                                    <div class="col-sm-7 info-box-text">
                                        @Html.Raw("R$ " + Model.valorSocio + ",00")
                                    </div>
                                </div>
                            }
                            if ((Model.valorDescontoFederado != null) && (Model.valorDescontoFederado > 0))
                            {
                                <div class="row">
                                    @Html.Label("Desconto p/ federado de", new { @class = "col-sm-5" })
                                    <div class="col-sm-7 info-box-text">
                                        @Html.Raw("R$ " + Model.valorDescontoFederado + ",00")
                                    </div>
                                </div>
                            }
                            <div class="row">
                                @Html.Label("Inscrições até", new { @class = "col-sm-5" })
                                <div class="col-sm-7 info-box-text">
                                    @Html.Raw(Model.dataFimInscricoes.ToShortDateString())
                                </div>
                            </div>
                            if (Model.isDesconto!=null && (bool)Model.isDesconto)
                            {
                                <div class="row">
                                    <label id="labelIsSocio" class="col-sm-5">
                                        @Html.Raw("É " + Model.descontoPara + "? *")
                                    </label>
                                    <div class="col-sm-7 info-box-text">
                                        <input type="radio" name="isSocio" id="isSocio" value="true">Sim
                                        <input type="radio" name="isSocio" id="isSocio" value="false">Não
                                    </div>
                                </div>
                            }
                            if ((Model.valorDescontoFederado != null) && (Model.valorDescontoFederado > 0))
                            {
                                <div class="row">
                                    <label id="labelIsFederado" class="col-sm-5">
                                        @Html.Raw("É Federado? *")
                                    </label>
                                    <div class="col-sm-7 info-box-text">
                                        <input type="radio" name="isFederado" id="isFederado" value="true">Sim
                                        <input type="radio" name="isFederado" id="isFederado" value="false">Não
                                    </div>
                                </div>
                            }
                            <div class="row">
                                @Html.Label("Classe", new { @class = "col-sm-4" })
                                <div class="col-sm-8 info-box-text">
                                    <select name="classeInscricao" id="classeInscricao" data-classe2="@(Model.qtddCategoriasPorJogador>1)" class="form-control escolherSegundaOpcaoClasse">
                                        <option value="0">Selecione uma classe...</option>
                                        @foreach (var item in ViewBag.Classes)
                                        {
                                            <option value="@item.Id" data-isDupla="@item.isDupla" @if (ViewBag.ClasseInscricao == item.Id) { @Html.Raw("selected")   }>@item.nome</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            if (Model.qtddCategoriasPorJogador>1)
                            {
                                <div id="checkSegundaOpcaoClasse" class="form-group">
                                    <div class="col-sm-8">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="true" name="isSegundaOpcaoClasse" id="isSegundaOpcaoClasse" onclick="segundaOpcaoDeClasse()" /> @Html.Raw("Quero escolher mais uma categoria")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div id="segundaOpcaoClasse" class="row">
                                    @Html.Label("2ª Opção", new { @class = "col-sm-4" })
                                    <div class="col-sm-8 info-box-text">
                                        <select id="classeInscricao2" name="classeInscricao2" class="form-control segundaOpcaoClasse escolherTerceiraOpcaoClasse" data-classe3="@(Model.qtddCategoriasPorJogador>2)">
                                            <option value="0">Selecione uma classe...</option>
                                            @foreach (var item in ViewBag.Classes2)
                                            {
                                                <option value="@item.Id" data-isDupla="@item.isDupla" @if ((!String.IsNullOrEmpty(ViewBag.ClasseInscricao2)) && (ViewBag.ClasseInscricao2 == item.Id)) { @Html.Raw("selected")   }>@item.nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                            }
                            if (Model.qtddCategoriasPorJogador > 2)
                            {
                                <div id="checkTerceiraOpcaoClasse" class="form-group">
                                    <div class="col-sm-8">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="true" name="isTerceiraOpcaoClasse" id="isTerceiraOpcaoClasse" onclick="terceiraOpcaoDeClasse()" /> @Html.Raw("Quero escolher mais uma categoria")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div id="terceiraOpcaoClasse" class="row">
                                    @Html.Label("3ª Opção", new { @class = "col-sm-4" })
                                    <div class="col-sm-8 info-box-text">
                                        <select name="classeInscricao3" class="form-control terceiraOpcaoClasse escolherQuartaOpcaoClasse" data-classe3="@(Model.qtddCategoriasPorJogador>3)">
                                            <option value="0">Selecione uma classe...</option>
                                            @foreach (var item in ViewBag.Classes2)
                                            {
                                                <option value="@item.Id" data-isDupla="@item.isDupla" @if ((!String.IsNullOrEmpty(ViewBag.ClasseInscricao3)) && (ViewBag.ClasseInscricao3 == item.Id)) { @Html.Raw("selected")    }>@item.nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                            }
                            if (Model.qtddCategoriasPorJogador > 3)
                            {
                                <div id="checkQuartaOpcaoClasse" class="form-group">
                                    <div class="col-sm-8">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="true" name="isQuartaOpcaoClasse" id="isQuartaOpcaoClasse" onclick="quartaOpcaoDeClasse()" /> @Html.Raw("Quero escolher mais uma categoria")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div id="quartaOpcaoClasse" class="row">
                                    @Html.Label("4ª Opção", new { @class = "col-sm-4" })
                                    <div class="col-sm-8 info-box-text">
                                        <select name="classeInscricao4" id="classeInscricao4" class="form-control quartaOpcaoClasse">
                                            <option value="0">Selecione uma classe...</option>
                                            @foreach (var item in ViewBag.Classes2)
                                            {
                                                <option value="@item.Id" data-isDupla="@item.isDupla" @if ((!String.IsNullOrEmpty(ViewBag.ClasseInscricao4)) && (ViewBag.ClasseInscricao4 == item.Id)) { @Html.Raw("selected")     }>@item.nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                            }
                        }
                        else
                        {
                        <!--INSCRIÇÃO REALIZADA-->
                            <div class="row">
                                @Html.Label("Classe", new { @class = "col-sm-4" })
                                <div class="col-sm-8 info-box-text">
                                    <select name="classeInscricao" id="classeInscricao" class="form-control">
                                        <option value="0">Selecione uma classe...</option>
                                        @foreach (var item in ViewBag.Classes)
                                        {
                                            <option value="@item.Id" data-isDupla="@item.isDupla" @if (ViewBag.ClasseInscricao == item.Id) { @Html.Raw("selected")   }>@item.nome</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            //if (!String.IsNullOrEmpty(ViewBag.ClasseInscricao2)) {
                            if (Model.qtddCategoriasPorJogador > 1)
                            {
                                <div id="checkSegundaOpcaoClasse" class="form-group">
                                    <div class="col-sm-8">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="true" name="isSegundaOpcaoClasse" id="isSegundaOpcaoClasse" onclick="segundaOpcaoDeClasse()" 
                                                       @if (!String.IsNullOrEmpty(ViewBag.ClasseInscricao2)){ @Html.Raw("checked") } />
                                                            @Html.Raw("Quero escolher mais uma categoria")
                                                        </label>
            
                                                    </div>
            
                                                </div>
            
                                            </div>
            
                                  <div id="segundaOpcaoClasse" class="row">
                                    @Html.Label("2ª Classe", new { @class = "col-sm-4" })
                                    <div class="col-sm-8 info-box-text">
                                        <select id="classeInscricao2" name="classeInscricao2" class="form-control segundaOpcaoClasse escolherTerceiraOpcaoClasse" data-classe3="@(Model.qtddCategoriasPorJogador>2)">
                                            <option value="0">Selecione uma classe...</option>
                                            @foreach (var item in ViewBag.Classes2)
                                                           {
                                                <option value="@item.Id" data-isDupla="@item.isDupla" @if ((!String.IsNullOrEmpty(ViewBag.ClasseInscricao2)) && (ViewBag.ClasseInscricao2 == item.nome)) { @Html.Raw("selected")   }>@item.nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            }
                            //if (!String.IsNullOrEmpty(ViewBag.ClasseInscricao3))
                            if (Model.qtddCategoriasPorJogador > 2)
                            {
                                <div id="checkTerceiraOpcaoClasse" class="form-group">
                                    <div class="col-sm-8">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="true" name="isTerceiraOpcaoClasse" id="isTerceiraOpcaoClasse" onclick="terceiraOpcaoDeClasse()"
                                                       @if (!String.IsNullOrEmpty(ViewBag.ClasseInscricao3)) { @Html.Raw("checked")  } />
                                                @Html.Raw("Quero escolher mais uma categoria")
                                            </label>

                                        </div>

                                    </div>

                                </div>
                                <div id="terceiraOpcaoClasse" class="row">
                                    @Html.Label("3ª Classe", new { @class = "col-sm-4" })
                                    <div class="col-sm-8 info-box-text">
                                        <select name="classeInscricao3"  id="classeInscricao3" class="form-control terceiraOpcaoClasse escolherQuartaOpcaoClasse" data-classe3="@(Model.qtddCategoriasPorJogador>3)">
                                            <option value="0">Selecione uma classe...</option>
                                            @foreach (var item in ViewBag.Classes2)
                                            {
                                                <option value="@item.Id" data-isDupla="@item.isDupla" @if ((!String.IsNullOrEmpty(ViewBag.ClasseInscricao3)) && (ViewBag.ClasseInscricao3 == item.nome)) { @Html.Raw("selected")    }>@item.nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            }
                            if (Model.qtddCategoriasPorJogador > 3)
                            {
                                <div id="checkQuartaOpcaoClasse" class="form-group">
                                    <div class="col-sm-8">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="true" name="isQuartaOpcaoClasse" id="isQuartaOpcaoClasse" onclick="quartaOpcaoDeClasse()"
                                                       @if (!String.IsNullOrEmpty(ViewBag.ClasseInscricao4)) { @Html.Raw("checked")   } />
                                                @Html.Raw("Quero escolher mais uma categoria")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div id="quartaOpcaoClasse" class="row">
                                    @Html.Label("4ª Classe", new { @class = "col-sm-4" })
                                    <div class="col-sm-8 info-box-text">
                                        <select name="classeInscricao4" class="form-control quartaOpcaoClasse">
                                            <option value="0">Selecione uma classe...</option>
                                            @foreach (var item in ViewBag.Classes2)
                                            {
                                                <option value="@item.Id" data-isDupla="@item.isDupla" @if ((!String.IsNullOrEmpty(ViewBag.ClasseInscricao4)) && (ViewBag.ClasseInscricao4 == item.nome)) { @Html.Raw("selected")     }>@item.nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            }
                        }
                        @if (!String.IsNullOrEmpty(Model.observacao))
                        {
                            <br>
                            <div class="boxPadrao">
                                <div class="row">
                                    <div class="col-sm-12">@Html.Raw(Model.observacao)</div>
                                </div>
                                <div class="row form-group">
                                    @if (inscricao == null)
                                    {
                                        <div class="col-sm-12"><input type="text" placeholder="Responda aqui..." name="observacao" class="form-control"></div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-12">@Html.Raw(inscricao.observacao)</div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        @if (Model.dataFimInscricoes.AddDays(1) >= DateTime.Now)
                        {
                            if (inscricao != null)
                            {
                                <div class="btn-group-vertical col-xs-12 col-sm-6">
                                    @if ((String.IsNullOrEmpty(inscricao.statusPagamento) && !inscricao.isAtivo) && Model.valor != 0 && (!ViewBag.isGratuito))
                                    {
                                        if (ViewBag.isAceitaCartao)
                                        {
                                            <a href="@Url.Action("EfetuarPagamento", new { inscricaoId = inscricao.Id })" class="btn btn-success" title="Efetuar Pagamento">Cartão</a>
                                        }
                                        if ((Model.dadosBancarios != null) && (Model.dadosBancarios.Length > 100))
                                        {
                                            <button class="btn btn-success transferenciaButton" title="Transferência bancária">Transferência</button>
                                        }
                                    }
                                </div>
                                <div class="col-xs-12 col-sm-4 pull-right">
                                    @if ((String.IsNullOrEmpty(inscricao.statusPagamento) && !inscricao.isAtivo))
                                    {
                                        <button type="button" class="btn btn-danger col-xs-12 pull-right confirmCancel">Cancelar</button>
                                    }
                                    <a href="@Url.Action("AlterarClasse", new { torneioId = Model.Id })" class="btn btn-info col-xs-12 confirmAlterarClasse" title="Salvar alterações">Salvar alterações</a>
                                </div>
                            }
                            else
                            {
                                <button type="submit" id="btnIncricao" class="btn btn-info pull-right validarSeSocioOuFederado">Inscrever-me</button>
                            }
                        }
                        else
                        {
                            if (Model.liberarTabela)
                            {
                                <a class="btn btn-default" href="@Url.Action("Tabela", "Torneio", new { torneioId = Model.Id })">Tabela</a>
                                <a class="btn btn-default pull-right" href="@Url.Action("LancarResultado", "Torneio")">Lançar Resultado</a>
                            }
                            else
                            {
                                @Html.Raw("Inscrições Encerradas.")
                            }

                        }
                    </div>
                    <!-- /.box-footer -->
                }
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
    <div class="row exibir-dadosbancarios" id="dadosBancarios">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Transferência</h3>
            </div>
            <div class="box-body">
                @if (inscricao != null)
                {
                    <p><b>Valor:</b> R$ @inscricao.valor ,00</p>
                }
                @Html.Raw(Model.dadosBancarios)
            </div>

        </div>
    </div>
</section>

</div>
@section Scripts {
    <script type="text/javascript">
        var isDupla = false;
        var isDupla2 = false;
        var isDupla3 = false;
        var isDupla4 = false;
        $(document).ready(function () {

            $(".confirmCancel").confirm({
                title: "Confirmação",
                content: "Aperte SIM para confirmar o cancelamento da inscrição!",
                buttons: {
                    sim: {
                        text: 'Sim',
                        btnClass: 'btn-primary',
                        action: function () {
                            document.formInscricao.operacao.value = "cancelar";
                            document.formInscricao.submit();
                        }
                    },
                    cancelar: function () {

                    }
                }
            });

            $(".escolherSegundaOpcaoClasse").change(function (event) {
                event.preventDefault();
                var classe2 = $(this).data("classe2");
                isDupla = $(this).children(':selected').data("isdupla") == "True";
                if ((isDupla) || (isDupla2)) {
                    $("#btnIncricao").text("Escolher Parceiro");
                    document.formInscricao.isClasseDupla.value = true;
                } else {
                    $("#btnIncricao").text("Inscrever-me");
                    document.formInscricao.isClasseDupla.value = false;
                }
                if (classe2 == "True") {
                    document.getElementById('checkSegundaOpcaoClasse').style.opacity = "1";
                    document.getElementById('checkSegundaOpcaoClasse').style.display = "block";
                    $.confirm({
                        title: "",
                        content: "Deseja jogar em mais uma classe?",
                        buttons: {
                            sim: {
                                text: 'Sim',
                                btnClass: 'btn-primary',
                                action: function () {
                                    document.getElementById('isSegundaOpcaoClasse').checked = true;
                                    segundaOpcaoDeClasse();
                                }
                            },
                            cancelar: { text: 'Não' }
                        }
                    });
                }
            });

            $(".escolherTerceiraOpcaoClasse").change(function (event) {
                event.preventDefault();
                var classe3 = $(this).data("classe3");
                isDupla2 = $(this).children(':selected').data("isdupla") == "True";
                if ((isDupla) || (isDupla2)) {
                    $("#btnIncricao").text("Escolher Parceiro");
                    document.formInscricao.isClasseDupla.value = true;
                } else {
                    $("#btnIncricao").text("Inscrever-me");
                    document.formInscricao.isClasseDupla.value = false;
                }
                if (classe3 == "True") {
                    document.getElementById('checkTerceiraOpcaoClasse').style.opacity = "1";
                    document.getElementById('checkTerceiraOpcaoClasse').style.display = "block";
                    $.confirm({
                        title: "",
                        content: "Deseja jogar em mais uma classe?",
                        buttons: {
                            sim: {
                                text: 'Sim',
                                btnClass: 'btn-primary',
                                action: function () {
                                    document.getElementById('isTerceiraOpcaoClasse').checked = true;
                                    terceiraOpcaoDeClasse();
                                }
                            },
                            cancelar: { text: 'Não' }
                        }
                    });
                }
            });

            $(".escolherQuartaOpcaoClasse").change(function (event) {
                event.preventDefault();
                var classe3 = $(this).data("classe3");
                isDupla3 = $(this).children(':selected').data("isdupla") == "True";
                if ((isDupla) || (isDupla2) || (isDupla3)) {
                    $("#btnIncricao").text("Escolher Parceiro");
                    document.formInscricao.isClasseDupla.value = true;
                } else {
                    $("#btnIncricao").text("Inscrever-me");
                    document.formInscricao.isClasseDupla.value = false;
                }
                if (classe3 == "True") {
                    document.getElementById('checkQuartaOpcaoClasse').style.opacity = "1";
                    document.getElementById('checkQuartaOpcaoClasse').style.display = "block";
                    $.confirm({
                        title: "",
                        content: "Deseja jogar em mais uma classe?",
                        buttons: {
                            sim: {
                                text: 'Sim',
                                btnClass: 'btn-primary',
                                action: function () {
                                    document.getElementById('isQuartaOpcaoClasse').checked = true;
                                    quartaOpcaoDeClasse();
                                }
                            },
                            cancelar: { text: 'Não' }
                        }
                    });
                }
            });

            $(".segundaOpcaoClasse").change(function (event) {
                event.preventDefault();
                isDupla2 = $(this).children(':selected').data("isdupla") == "True";
                if ((isDupla) || (isDupla2)) {
                    $("#btnIncricao").text("Escolher Parceiro");
                    document.formInscricao.isClasseDupla.value = true;
                } else {
                    $("#btnIncricao").text("Inscrever-me");
                    document.formInscricao.isClasseDupla.value = false;
                }

            });

            $(".terceiraOpcaoClasse").change(function (event) {
                event.preventDefault();
                isDupla3 = $(this).children(':selected').data("isdupla") == "True";
                if ((isDupla) || (isDupla2) || (isDupla3)) {
                    $("#btnIncricao").text("Escolher Parceiro");
                    document.formInscricao.isClasseDupla.value = true;
                } else {
                    $("#btnIncricao").text("Inscrever-me");
                    document.formInscricao.isClasseDupla.value = false;
                }

            });

            $(".quartaOpcaoClasse").change(function (event) {
                event.preventDefault();
                isDupla4 = $(this).children(':selected').data("isdupla") == "True";
                if ((isDupla) || (isDupla2) || (isDupla3) || (isDupla4)) {
                    $("#btnIncricao").text("Escolher Parceiro");
                    document.formInscricao.isClasseDupla.value = true;
                } else {
                    $("#btnIncricao").text("Inscrever-me");
                    document.formInscricao.isClasseDupla.value = false;
                }

            });

        });


        $(".confirmAlterarClasse").click(function (event) {
            event.preventDefault();

            $.confirm({
                title: "Confirmação",
                content: "Aperte SIM para confirmar a alteração de classe!",
                buttons: {
                    sim: {
                        text: 'Sim',
                        btnClass: 'btn-primary',
                        action: function () {
                            document.formInscricao.operacao.value = "alterarClasse";
                            document.formInscricao.submit();
                        }
                    },
                    cancelar: function () {

                    }
                }
            });

        });


        $(".transferenciaButton").click(function (event) {
            event.preventDefault();
            var element = document.getElementById("dadosBancarios");
            element.classList.add("show");
        });

        function segundaOpcaoDeClasse() {
            if (document.getElementById('isSegundaOpcaoClasse').checked) {
                document.getElementById('segundaOpcaoClasse').style.opacity = "1";
                document.getElementById('segundaOpcaoClasse').style.display = "block";
            } else {
                document.getElementById('classeInscricao2').selectedIndex = 0;
                document.getElementById('segundaOpcaoClasse').style.opacity = "0 !important";
                document.getElementById('segundaOpcaoClasse').style.display = "none";
                
                isDupla2 = false;
                if ((isDupla) || (isDupla2)) {
                    $("#btnIncricao").text("Escolher Parceiro");
                    document.formInscricao.isClasseDupla.value = true;
                } else {
                    $("#btnIncricao").text("Inscrever-me");
                    document.formInscricao.isClasseDupla.value = false;
                }
            }
        }

        function terceiraOpcaoDeClasse() {
            if (document.getElementById('isTerceiraOpcaoClasse').checked) {
                document.getElementById('terceiraOpcaoClasse').style.opacity = "1";
                document.getElementById('terceiraOpcaoClasse').style.display = "block";
            } else {
                document.getElementById('classeInscricao3').selectedIndex = 0;
                document.getElementById('terceiraOpcaoClasse').style.opacity = "0 !important";
                document.getElementById('terceiraOpcaoClasse').style.display = "none";
                isDupla2 = false;
                if ((isDupla) || (isDupla2) || (isDupla3)) {
                    $("#btnIncricao").text("Escolher Parceiro");
                    document.formInscricao.isClasseDupla.value = true;
                } else {
                    $("#btnIncricao").text("Inscrever-me");
                    document.formInscricao.isClasseDupla.value = false;
                }
            }
        }

        function quartaOpcaoDeClasse() {
            if (document.getElementById('isQuartaOpcaoClasse').checked) {
                document.getElementById('quartaOpcaoClasse').style.opacity = "1";
                document.getElementById('quartaOpcaoClasse').style.display = "block";
            } else {
                document.getElementById('classeInscricao4').selectedIndex = 0;
                document.getElementById('quartaOpcaoClasse').style.opacity = "0 !important";
                document.getElementById('quartaOpcaoClasse').style.display = "none";
                isDupla2 = false;
                if ((isDupla) || (isDupla2)) {
                    $("#btnIncricao").text("Escolher Parceiro");
                    document.formInscricao.isClasseDupla.value = true;
                } else {
                    $("#btnIncricao").text("Inscrever-me");
                    document.formInscricao.isClasseDupla.value = false;
                }
            }
        }


        $(".validarSeSocioOuFederado").click(function (event) {
            event.preventDefault();
            var radioButtons = document.getElementsByName("isSocio");
            var radioButtonsFed = document.getElementsByName("isFederado");
            var labelisSocio = document.getElementById("labelIsSocio");
            var labelisFederado = document.getElementById("labelIsFederado");
            if ((labelisSocio != null) && (radioButtons[0].checked == false) && (radioButtons[1].checked == false)) {
                alert("Favor informar se você é sócio ou não.");
                labelisSocio.style.color = "red";
                return false;
            } else if ((labelisFederado != null) && (radioButtonsFed[0].checked == false) && (radioButtonsFed[1].checked == false)) {
                alert("Favor informar se você é federado ou não.");
                labelisFederado.style.color = "red";
                return false;
            } else {
                document.formInscricao.submit();
            }
        });

        if (!document.getElementById('isSegundaOpcaoClasse').checked) {
            document.getElementById('segundaOpcaoClasse').style.opacity = "0";
            document.getElementById('segundaOpcaoClasse').style.display = "none";
            document.getElementById('checkSegundaOpcaoClasse').style.opacity = "0";
            document.getElementById('checkSegundaOpcaoClasse').style.display = "none";
        }
        @if (inscricao != null) {
            @Html.Raw("document.getElementById('checkSegundaOpcaoClasse').style.opacity = '1'; document.getElementById('checkSegundaOpcaoClasse').style.display = 'block'; ");
        }

        if ((document.getElementById('isTerceiraOpcaoClasse')!=null) && (!document.getElementById('isTerceiraOpcaoClasse').checked)) {
            document.getElementById('terceiraOpcaoClasse').style.opacity = "0";
            document.getElementById('terceiraOpcaoClasse').style.display = "none";
            document.getElementById('checkTerceiraOpcaoClasse').style.opacity = "0";
            document.getElementById('checkTerceiraOpcaoClasse').style.display = "none";
        }

        @if (inscricao != null) {
            @Html.Raw("if ((document.getElementById('isSegundaOpcaoClasse').checked)&&(document.getElementById('isTerceiraOpcaoClasse')!=null)) { document.getElementById('checkTerceiraOpcaoClasse').style.opacity = '1'; document.getElementById('checkTerceiraOpcaoClasse').style.display = 'block'; }");
        }

        if ((document.getElementById('isQuartaOpcaoClasse') != null) && (!document.getElementById('isQuartaOpcaoClasse').checked)) {
            document.getElementById('quartaOpcaoClasse').style.opacity = "0";
            document.getElementById('quartaOpcaoClasse').style.display = "none";
            document.getElementById('checkQuartaOpcaoClasse').style.opacity = "0";
            document.getElementById('checkQuartaOpcaoClasse').style.display = "none";
        }
        @if (inscricao != null) {
            @Html.Raw("if ((document.getElementById('isTerceiraOpcaoClasse')!=null) && (document.getElementById('isTerceiraOpcaoClasse').checked)&&(document.getElementById('isQuartaOpcaoClasse')!=null)) { document.getElementById('checkQuartaOpcaoClasse').style.opacity = '1'; document.getElementById('checkQuartaOpcaoClasse').style.display = 'block'; }");
        }


    </script>
}