@{
    int i = 0;
}
@model IEnumerable<Barragem.Models.Jogo>

    <link rel="stylesheet" href="/Content/torneio/editJogos.css">
    <link rel="stylesheet" href="~/Content/jsuites/jsuites.css">

    @Html.Partial("_PartialTabs")

    <div id="divPagamentoPendenteTorneio" style="display:none">
        <br>
        <div id="divDadosCadastraisPendentesPagto" class="alert alert-info alert-dismissable">
            <button id="btnFecharDadosCadastraisPendentesPagto" type="button" class="close" aria-hidden="true" onclick="FecharDadosCadastraisPendentesPagto()">&times;</button>
            É necessário realizar o pagamento para gerar a tabela. <br><br>
            Favor completar os dados abaixo para que seja possível gerar o QR Code para pagamento via pix.
            <br>
            <div style="padding-top: 20px;">
                <div class="row form-group">
                    <label class="control-label col-md-1">Nome</label>
                    <div class="col-md-4">
                        <input id="txtNomePagador" type="text" class="form-control" maxlength="40" />
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-md-1">CPF/CNPJ</label>
                    <div class="col-md-4">
                        <input id="txtCpfCnpjPagador" type="text" class="form-control" maxlength="20" />
                    </div>
                </div>
                <div class="form-group">
                    <button id="btnSalvarDadosCadastraisPendentesPagto" type="button" class="btn btn-primary" onclick="SalvarDadosCadastraisPendentesPagto()">Salvar e Gerar QR Code</button>
                </div>
            </div>
        </div>

        <div id="divPixPagtoTorneio" class="alert alert-info alert-dismissable">
            <button id="btnFecharPixPagtoTorneio" type="button" class="close" aria-hidden="true" onclick="FecharPixPagtoTorneio()">&times;</button>
            Para gerar a tabela é necessário realizar o pagamento via PIX referente aos inscritos no torneio. <br><br>
            <span id="lblQtdeInscritosPagtoPend"></span>
            <br>
            Valor por inscrito: R$ 5,00
            <br>
            <br>
            <div id="divDescRankingPagtoPend">
                <span id="lblDescRankingPagtoPend"></span>
                <br>
                <br>
            </div>
            <span id="lblValorFinalPagtoPend"></span>
            <div id="divQrCodePagtoPend">
                <center><img id="imgQrCodePagtoPend" style="width:148px;height:148px;" /></center><br>
                <span>Leia o QR Code acima ou copie o código abaixo no app do seu banco na opção Pix Copia e Cola.</span><br><br>
                <span id="lblTextoQrCodePagtoPend"></span>
                <br><br><span style="color: red;">Após realizar o pagamento, clique no botão Criar Tabela novamente para continuar.</span>
            </div>
            <div id="divErroQrCodePagtoPend">
                <br>
                <span id="lblDescErroPagtoPend" style="color:red">Dados do erro..</span>
            </div>
        </div>
    </div>

    @Html.Partial("_PartialLancarPlacarJogo", "JOGOS")

    <div class="tab-content">
        <div class="tab-pane fade in active" id="tabJogos">
            <div class="box box-primary">
                <div class="box-header">
                    <h4 class="box-title">Ações da Tabela</h4>
                </div>
                <p style="margin-top:10px">
                    <button class="btn btn-primary btn-small" onclick="AbrirTabelaGeracaoJogos()"><span class="glyphicon glyphicon-plus"></span> Gerar</button>
                    <a href="@Url.Action("Tabela", new { torneioId = ViewBag.TorneioId })" target="_blank" class="btn btn-success btn-small"><span class="glyphicon glyphicon-list-alt"></span> Visualizar</a>
                    <button class="btn btn-warning" onclick="Imprimir()"><span class="glyphicon glyphicon-print"></span> Imprimir</button>
                    <button class="btn btn-danger" onclick="AbrirTabelaJogosExclusao()"><span class="glyphicon glyphicon-trash"></span> Excluir</button>
                </p>

                @Html.Partial("_PartialClassesJogosGeracaoTabela")

                @Html.Partial("_PartialClasseJogosExclusao")


                <div class="box box-primary">
                    <!-------------------------------------------------------->
                    <div class="box-header">
                        <h4 class="box-title">Filtro de Jogos</h4>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-2 filtros">
                            <select name="fClasse" id="fClasse" class="form-control" onchange="Pesquisar()">
                                <option value="1">Todas classes</option>
                                @foreach (var item2 in ViewBag.Classes)
                                {
                                    <option value="@item2.Id" @if (ViewBag.fClasse == item2.Id) { @Html.Raw("selected") }>@item2.nome</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-sm-2 filtros">
                            <select name="fase" id="fase" class="form-control" onchange="Pesquisar()">
                                <option value="0" @if (ViewBag.fase == 0) { @Html.Raw("selected") }>Fases</option>
                                <option value="700" @if (ViewBag.fase == 700) { @Html.Raw("selected") }>Grupo</option>
                                <option value="6" @if (ViewBag.fase == 6) { @Html.Raw("selected") }>R1</option>
                                <option value="5" @if (ViewBag.fase == 5) { @Html.Raw("selected") }>R2</option>
                                <option value="4" @if (ViewBag.fase == 4) { @Html.Raw("selected") }>Oitavas</option>
                                <option value="3" @if (ViewBag.fase == 3) { @Html.Raw("selected") }>Quartas</option>
                                <option value="2" @if (ViewBag.fase == 2) { @Html.Raw("selected") }>Semi</option>
                                <option value="1" @if (ViewBag.fase == 1) { @Html.Raw("selected") }>Final</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-2 filtros">
                            <select name="fGrupo" id="fGrupo" class="form-control" onchange="Pesquisar()">
                                <option value="0" @if (ViewBag.fGrupo == "0") { @Html.Raw("selected") }>Grupos</option>
                                <option value="1" @if (ViewBag.fGrupo == "1") { @Html.Raw("selected") }>grupo 1</option>
                                <option value="2" @if (ViewBag.fGrupo == "2") { @Html.Raw("selected") }>grupo 2</option>
                                <option value="3" @if (ViewBag.fGrupo == "3") { @Html.Raw("selected") }>grupo 3</option>
                                <option value="4" @if (ViewBag.fGrupo == "4") { @Html.Raw("selected") }>grupo 4</option>
                                <option value="5" @if (ViewBag.fGrupo == "5") { @Html.Raw("selected") }>grupo 5</option>
                                <option value="6" @if (ViewBag.fGrupo == "6") { @Html.Raw("selected") }>grupo 6</option>
                                <option value="7" @if (ViewBag.fGrupo == "7") { @Html.Raw("selected") }>grupo 7</option>
                                <option value="8" @if (ViewBag.fGrupo == "8") { @Html.Raw("selected") }>grupo 8</option>

                            </select>
                        </div>
                        <div class="form-group col-sm-2 filtros">
                            <div class="input-group date" data-date-format="dd/mm/yyyy">
                                <input id="fData" name="fData" value="@ViewBag.fData" type="text" class="form-control col-md-5" placeholder="Data" onchange="Pesquisar()" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar">
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-sm-2 filtros">
                            <input type="text" name="fNomeJogador" id="fNomeJogador" value="@ViewBag.fNomeJogador" placeholder="Jogador" class="form-control" onchange="Pesquisar()">
                        </div>

                        <div class="form-group col-sm-2 filtros">
                            <input type="button" value="Filtrar" class="btn btn-primary" onclick="Pesquisar()">

                        </div>
                    </div>
                    <!-------------------------------------------------------->

                    <div class="row" style="float: left; margin: 0px 0px 10px 0px;">
                        <span><span class='badge bg-red'>P</span>: Pendente</span>
                        <span><span class='badge bg-yellow'>M</span>: Marcado</span>
                        <span><span class='badge bg-green'>F</span>: Finalizado</span>
                    </div>
                    <!-------------------------------------------------------->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-striped table-condensed table-bordered">
                            <tr>
                                <th>
                                    <b>#</b>
                                </th>
                                <th>
                                    @Html.DisplayName("Jogador 1")
                                </th>
                                <th>
                                    @Html.DisplayName("Jogador 2")
                                </th>
                                <th>
                                    @Html.DisplayName("Fase")
                                </th>
                                <th>
                                    @Html.DisplayName("Status")
                                </th>
                                <th width="185px">
                                    @Html.DisplayName("Data")
                                </th>
                                <th width="85px">
                                    @Html.DisplayName("Horário")
                                </th>
                                <th>
                                    @Html.DisplayName("Quadra")
                                </th>
                                <th></th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                i++;
                                <tr>
                                    <td>
                                        @i
                                    </td>
                                    <!--Desafiante-->
                                    <td>
                                        @if (ViewBag.fClasse != 1 && ((Roles.IsUserInRole("admin")) || ((ViewBag.primeirafase != null) && (ViewBag.primeirafase == item.faseTorneio)) || item.classe.faseGrupo))
                                        {
                                            <!--Desafiante Possibilita edição-->
                                            <div id="@Html.Raw("jogador1_" + i)" class="escolhaJogador"></div>


                                            @*<select name="@Html.Raw("jogador1_" + i)" id="@Html.Raw("jogador1_" + i)" class="form-control">
                                                    <option value="0">aguardando adversário</option>
                                                    <option value="10" @if (item.desafiante_id == 10) { @Html.Raw("selected") }>bye</option>
                                                    @foreach (var item2 in ViewBag.Inscritos)
                                                    {
                                                        var nomeJogadores = item2.participante.nome;
                                                        if (item2.parceiroDupla != null)
                                                        {
                                                            nomeJogadores = item2.participante.nome + " / " + item2.parceiroDupla.nome;
                                                        }
                                                        <option value="@item2.userId" @if (item.desafiante_id == item2.userId) { @Html.Raw("selected") }>@nomeJogadores </option>
                                                    }
                                                </select>*@
                                        }
                                        else
                                        {
                                            <!--Desafiante ReadOnly-->

                                            <input type="hidden" name="@Html.Raw("jogador1_" + i)" id="@Html.Raw("jogador1_" + i)" value="@item.desafiante_id">
                                            if (item.desafiante_id == 10)
                                            {
                                                @Html.Raw("Bye");
                                                <input type="hidden" name="@Html.Raw("jogador1Nome_" + i)" id="@Html.Raw("jogador1Nome_" + i)" value="Bye">
                                            }
                                            else if (item.desafiante_id == 0)
                                            {
                                                @Html.Raw("Aguardando Adversário");
                                                <input type="hidden" name="@Html.Raw("jogador1Nome_" + i)" id="@Html.Raw("jogador1Nome_" + i)" value="Aguardando Adversário">
                                            }
                                            else
                                            {
                                                <input type="hidden" name="@Html.Raw("jogador1Nome_" + i)" id="@Html.Raw("jogador1Nome_" + i)" value="@item.desafiante.nome">
                                                <a href="@Url.Action("../Account/Detalhes", new { userId = item.desafiante_id, mostrarClasse = false })" title="Detalhes do jogador">
                                                    @item.desafiante.nome
                                                </a>
                                                <a href="@item.desafiante.linkwhatsapp">
                                                    <img width="25" height="25" src="/Content/image/whatsapp.png">
                                                </a>
                                                if (item.desafiante2 != null)
                                                {
                                                    <br />
                                                    <input type="hidden" name="@Html.Raw("jogador1DuplaNome_" + i)" id="@Html.Raw("jogador1DuplaNome_" + i)" value="@item.desafiante2.nome">
                                                    <a href="@Url.Action("../Account/Detalhes", new { userId = item.desafiante2_id, mostrarClasse = false })" title="Detalhes do jogador">
                                                        @item.desafiante2.nome
                                                    </a>
                                                    <a href="@item.desafiante2.linkwhatsapp">
                                                        <img width="25" height="25" src="/Content/image/whatsapp.png">
                                                    </a>
                                                }
                                            }
                                        }
                                    </td>
                                    <!--Desafiado-->
                                    <td>
                                        @if (ViewBag.fClasse != 1 && ((Roles.IsUserInRole("admin")) || ((ViewBag.primeirafase != null) && (ViewBag.primeirafase == item.faseTorneio)) || item.classe.faseGrupo))
                                        {
                                            <div id="@Html.Raw("jogador2_" + i)" class="escolhaJogador" style="min-width:150px"></div>
                                            @*<select name="@Html.Raw("jogador2_" + i)" id="@Html.Raw("jogador2_" + i)" class="form-control">
                                                    <option value="0">aguardando adversário</option>
                                                    <option value="10">bye</option>
                                                    @foreach (var item2 in ViewBag.Inscritos)
                                                    {
                                                        var nomeJogadores = item2.participante.nome;
                                                        if (item2.parceiroDupla != null)
                                                        {
                                                            nomeJogadores = item2.participante.nome + " / " + item2.parceiroDupla.nome;
                                                        }
                                                        <option value="@item2.userId" @if (item.desafiado_id == item2.userId) { @Html.Raw("selected") }>@nomeJogadores</option>
                                                    }
                                                </select>*@
                                        }
                                        else
                                        {
                                            <input type="hidden" name="@Html.Raw("jogador2_" + i)" id="@Html.Raw("jogador2_" + i)" value="@item.desafiado_id">
                                            if (item.desafiado_id == 10)
                                            {
                                                @Html.Raw("Bye");
                                                <input type="hidden" name="@Html.Raw("jogador2Nome_" + i)" id="@Html.Raw("jogador2Nome_" + i)" value="Bye">
                                            }
                                            else if (item.desafiado_id == 0)
                                            {
                                                @Html.Raw("Aguardando Adversário");
                                                <input type="hidden" name="@Html.Raw("jogador2Nome_" + i)" id="@Html.Raw("jogador2Nome_" + i)" value="Aguardando Adversário">
                                            }
                                            else
                                            {
                                                <input type="hidden" name="@Html.Raw("jogador2Nome_" + i)" id="@Html.Raw("jogador2Nome_" + i)" value="@item.desafiado.nome">
                                                <a href="@Url.Action("../Account/Detalhes", new { userId = item.desafiado_id, mostrarClasse = false })" title="Detalhes do jogador">
                                                    @item.desafiado.nome
                                                </a>
                                                <a href="@item.desafiado.linkwhatsapp">
                                                    <img width="25" height="25" src="/Content/image/whatsapp.png">
                                                </a>
                                                if (item.desafiado2 != null)
                                                {
                                                    <br />
                                                    <input type="hidden" name="@Html.Raw("jogador2DuplaNome_" + i)" id="@Html.Raw("jogador2DuplaNome_" + i)" value="@item.desafiado2.nome">
                                                    <a href="@Url.Action("../Account/Detalhes", new { userId = item.desafiado2_id, mostrarClasse = false })" title="Detalhes do jogador">
                                                        @item.desafiado2.nome
                                                    </a>
                                                    <a href="@item.desafiado2.linkwhatsapp">
                                                        <img width="25" height="25" src="/Content/image/whatsapp.png">
                                                    </a>
                                                }
                                            }
                                        }
                                    </td>
                                    <!--Descrição Fase torneio-->
                                    <td>
                                        @Html.Raw(item.descricaoFaseTorneio)
                                    </td>
                                    <!--Situação do jogo-->
                                    <td>
                                        @if (item.situacao_Id == 1)
                                        {
                                            @Html.Raw("<p id='badge" + item.Id + "' class='badge bg-red'>P</p>")
                                        }
                                        else if (item.situacao_Id == 2)
                                        {
                                            @Html.Raw("<p id='badge" + item.Id + "' class='badge bg-yellow'>M</p>")
                                        }
                                        else if ((item.situacao_Id == 4) || (item.situacao_Id == 5) || (item.situacao_Id == 6))
                                        {
                                            @Html.Raw("<p id='badge" + item.Id + "' class='badge bg-green'>F</p>")
                                        }
                                    </td>
                                    <!--Data do jogo-->
                                    <td>
                                        <div class="input-group date" data-date-format="dd/mm/yyyy">
                                            <input id="@Html.Raw("dataJogo" + i)" name="@Html.Raw("dataJogo" + i)" value="@Html.Raw(String.Format("{0:dd/MM/yyyy}", item.dataJogo))" placeholder="dd/mm/yyyy" type="text" class="form-control col-md-5" @if (item.desafiante_id == 10 || item.desafiado_id == 10) { @Html.Raw("disabled") } />
                                            <span class="input-group-addon @if (item.desafiante_id == 10 || item.desafiado_id == 10) { @Html.Raw("desabilitaCampo") }">
                                                <span class="glyphicon glyphicon-calendar">
                                                </span>
                                            </span>
                                        </div>
                                    </td>
                                    <!--Horário do jogo-->
                                    <td>
                                        <div class="input-group">
                                            <div class="form-group">
                                                <input id="@Html.Raw("horaJogo" + i)" name="@Html.Raw("horaJogo" + i)" value="@Html.Raw(item.horaJogo)" placeholder="hh:mm" type="text" class="form-control col-sm-4 hora" @if (item.desafiante_id == 10 || item.desafiado_id == 10) { @Html.Raw("disabled") } />
                                            </div>
                                        </div>
                                    </td>
                                    <!--Quadra-->
                                    <td>
                                        <select name="@Html.Raw("quadra" + i)" id="@Html.Raw("quadra" + i)" class="form-control" @if (item.desafiante_id == 10 || item.desafiado_id == 10) { @Html.Raw("disabled") }>
                                            <option value="100" @if (item.quadra == "100") { @Html.Raw("selected") }></option>
                                            <option value="1" @if (item.quadra == "1") { @Html.Raw("selected") }>quadra 1</option>
                                            <option value="2" @if (item.quadra == "2") { @Html.Raw("selected") }>quadra 2</option>
                                            <option value="3" @if (item.quadra == "3") { @Html.Raw("selected") }>quadra 3</option>
                                            <option value="4" @if (item.quadra == "4") { @Html.Raw("selected") }>quadra 4</option>
                                            <option value="5" @if (item.quadra == "5") { @Html.Raw("selected") }>quadra 5</option>
                                            <option value="6" @if (item.quadra == "6") { @Html.Raw("selected") }>quadra 6</option>
                                            <option value="7" @if (item.quadra == "7") { @Html.Raw("selected") }>quadra 7</option>
                                            <option value="8" @if (item.quadra == "8") { @Html.Raw("selected") }>quadra 8</option>
                                            <option value="9" @if (item.quadra == "9") { @Html.Raw("selected") }>quadra 9</option>
                                            <option value="10" @if (item.quadra == "10") { @Html.Raw("selected") }>quadra 10</option>
                                            <option value="11" @if (item.quadra == "11") { @Html.Raw("selected") }>quadra 11</option>
                                            <option value="12" @if (item.quadra == "12") { @Html.Raw("selected") }>quadra 12</option>
                                            <option value="13" @if (item.quadra == "13") { @Html.Raw("selected") }>quadra 13</option>
                                            <option value="14" @if (item.quadra == "14") { @Html.Raw("selected") }>quadra 14</option>
                                            <option value="15" @if (item.quadra == "15") { @Html.Raw("selected") }>quadra 15</option>
                                            <option value="G1" @if (item.quadra == "G1") { @Html.Raw("selected") }>quadra G1</option>
                                            <option value="G2" @if (item.quadra == "G2") { @Html.Raw("selected") }>quadra G2</option>
                                        </select>
                                    </td>
                                    <!--Ações Jogo-->
                                    <td align="center">
                                        <form method="post" enctype="multipart/form-data" action="#" name="@Html.Raw("form"+i)" id="@Html.Raw("form"+i)" class="form">
                                            <input type="hidden" name="Id" id="Id" value="@item.Id">
                                            <button title="salvar" data-valor="@Html.Raw(i)" name="@Html.Raw("button"+i)" id="@Html.Raw("button"+i)" class="btn btn-default btn-xs inscricaoButton">
                                                Salvar
                                            </button><br>
                                        </form>
                                        <button type="button" id="@Html.Raw("btnPlacar"+item.Id)" class="btn btn-info btn-xs" onclick="LancarPlacar(this, 'JOGOS')" data-vencedor="@item.idDoVencedor" data-toggle="modal" data-situacao="@item.situacao_Id" data-indice="@i"
                                                data-placar="@item.qtddGames1setDesafiante|@item.qtddGames1setDesafiado|@item.qtddGames2setDesafiante|@item.qtddGames2setDesafiado|@item.qtddGames3setDesafiante|@item.qtddGames3setDesafiado"
                                                data-idJogo="@item.Id" data-desafianteId="@item.desafiante_id" data-desafiadoId="@item.desafiado_id" data-faseGrupo="@item.grupoFaseGrupo" data-target="#placar-modal">
                                            Placar
                                        </button>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryform")
        <script src="~/Content/jsuites/jsuites.js"></script>
        <script src="~/Content/js/torneio/lancarPlacar.js"></script>
        <script src="~/Content/js/torneio/editJogos.js"></script>
    }
