@model IEnumerable<Barragem.Models.InscricaoTorneio>
    @Html.Partial("_PartialTabs")

    <div class="tab-content">
        <div class="tab-pane fade" id="tabCadastro"></div>
        <div class="tab-pane fade" id="tabClasses"></div>
        <div class="tab-pane fade" id="tabInscritos"></div>
        <div class="tab-pane fade" id="tabEditClasses"></div>
        <div class="tab-pane fade" id="tabJogos"></div>
        <div class="tab-pane fade"  id="tabDuplas"></div>
            <div class="tab-pane fade in active" id="tabFaseGrupo">
                <br>
                <button class="btn btn-primary btn-small exibirClasses"><span class="glyphicon glyphicon-plus"></span> Gerar Jogos</button>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Classes</label>
                        <div class="col-sm-4 input-group">
                            <select name="filtroClasse" id="filtroClasse" class="form-control" onchange="Selecionar()">
                                @foreach (var item2 in ViewBag.Classes)
                                {
                                    <option value="@item2.Id" @if (ViewBag.filtroClasse == item2.Id) { @Html.Raw("selected")        }>@item2.nome</option>
                                }
                            </select>
                            <input type="hidden" value="@ViewBag.TorneioId" name="torneioId" id="torneioId">
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Jogadores por grupo:</label>
                        <div class="col-sm-4 input-group">
                            <select name="jogadoresPorGrupo" id="jogadoresPorGrupo" class="form-control" onchange="QtddJogadorPorGrupo()">
                                <option value="3">3</option>
                                <option value="4">4</option>        
                                <option value="5">5</option>                
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Qtdd passam de fase por grupo:</label>
                        <div class="col-sm-4 input-group">
                            <select name="qtddPassamFase" id="qtddPassamFase" class="form-control" onchange="QtddPassamFase()">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>
                </div>
                @if (Model == null)
                {
                    <p>Esse torneio não possui classes com fase de grupo.</p>
                }
                else
                {
                    <table class="table table-striped table-condensed table-bordered">
                        <tr>
                            <th>
                                @Html.DisplayName("Inscritos")
                            </th>
                            <th>
                                @Html.DisplayName("Grupos")
                            </th>
                            <th></th>
                        </tr>
                        @{int i = 1; }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" value="@item.userId" name="@Html.Raw("jogador_" + item.userId)" id="@Html.Raw("jogador_" + item.userId)">
                                    @Html.Raw(i++ + ") " + item.participante.nome)
                                    @if (item.parceiroDuplaId != null && item.parceiroDuplaId != 0)
                                    {
                                        @Html.Raw(" / " + item.parceiroDupla.nome)
                                    }
                                </td>
                                <td>
                                    <select data-valor="@item.Id" name="@Html.Raw("grupo_" + item.Id)" id="@Html.Raw("grupo_" + item.Id)" class="form-control grupo">
                                        <option @if (item.grupo==0) { @Html.Raw("selected") } value="0">Sem Grupo</option>
                                        <option @if (item.grupo==1) { @Html.Raw("selected") } value="1">1</option>
                                        <option @if (item.grupo==2) { @Html.Raw("selected") } value="2">2</option>
                                        <option @if (item.grupo==3) { @Html.Raw("selected") } value="3">3</option>
                                        <option @if (item.grupo==4) { @Html.Raw("selected") } value="4">4</option>
                                        <option @if (item.grupo==5) { @Html.Raw("selected") } value="5">5</option>
                                        <option @if (item.grupo==6) { @Html.Raw("selected") } value="6">6</option>
                                        <option @if (item.grupo==7) { @Html.Raw("selected") } value="7">7</option>
                                        <option @if (item.grupo==8) { @Html.Raw("selected") } value="8">8</option>
                                     </select>
                                </td>
                                <td align="center">
                                    <input type="hidden" name="@Html.Raw("inscricaoJogador_" + item.Id)" id="@Html.Raw("inscricaoJogador_" + item.Id)" value="@item.Id">
                                </td>
                            </tr>
                        }
                    </table>
                }
            </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryform")
        <script type="text/javascript">
            $(document).ready(function () {
                $(".grupo").change(function (event) {
                    var i = $(this).data("valor");
                    var inscricaoJogador = document.getElementById("inscricaoJogador_" + i).value;
                    var grupo = document.getElementById("grupo_" + i).value;
                    event.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: "/Torneio/IncluirJogadorGrupo",
                        dataType: "json",
                        data: "{'inscricaoJogador':'" + inscricaoJogador + "', 'grupo':'" + grupo + "'}",
                        contentType: "application/json; charset=utf-8",
                        success: function (response) {
                            if (typeof response == "object") {
                                if (response.retorno === 0) {
                                    toastr.error(response.erro, "Erro");
                                } else {
                                    toastr.success("Atualização realizada com sucesso.", "");
                                }
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            location.reload(true);
                        }
                    });
                });

            });

            function Selecionar() {
                var torneioId = document.getElementById('torneioId').value;
                var classeId = document.getElementById('filtroClasse').value;
                window.location = "EditFaseGrupo?torneioId=" + torneioId + "&filtroClasse=" + classeId;
            }

        </script>
    }
