@{
    int i = 0;
}
@model IEnumerable<Barragem.Models.InscricaoTorneio>
    @Html.Partial("_PartialTabs")

    <div class="tab-content">
        <div class="tab-pane fade in active" id="tabCabecaChave">
            <br>
            <div class="form-row">
                <input type="hidden" value="@ViewBag.TorneioId" name="torneioId" id="torneioId">

                <div class="form-group col-sm-3">
                    <select name="filtroClasse" id="filtroClasse" class="form-control" onchange="Selecionar()">
                        @foreach (var item2 in ViewBag.Classes)
                        {
                            <option value="@item2.Id" @if (ViewBag.filtroClasse == item2.Id) { @Html.Raw("selected") }>@item2.nome</option>
                        }
                    </select>
                </div>

                <div class="form-group col-sm-3">
                    <input id="filtroJogador" name="filtroJogador" type="text" value="" placeholder="Nome Jogador" class="form-control" />
                </div>

                <div class="form-group col-sm-2">
                    <input type="button" value="Filtrar" class="btn btn-primary" onclick="Selecionar()">
                </div>
            </div>
            <div class="box-body table-responsive no-padding">
                <input type="hidden" value="@Model.Count()" id="qtdeRegistros">
                <table class="table table-striped table-condensed table-bordered">
                    <tr>
                        <th>
                            <b>#</b>
                        </th>
                        <th>
                            @Html.DisplayName("nome")
                        </th>
                        <th>
                            @Html.DisplayName("cabeça de chave")
                        </th>
                        <th>
                            @Html.DisplayName("pago")
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td>
                                @i
                            </td>
                            <td>
                                <a href="@Url.Action("../Account/EditaUsuario", new { UserName = item.participante.UserName })" title="Editar" target="_blank">
                                    @Html.DisplayFor(modelItem => item.participante.nome)
                                </a>

                                @if (item.parceiroDupla != null && !string.IsNullOrEmpty(item.parceiroDupla.nome))
                                {
                                    @Html.Raw("/")
                                    <a href="@Url.Action("../Account/EditaUsuario", new { UserName = item.parceiroDupla.UserName })" title="Editar" target="_blank">
                                        @Html.DisplayFor(modelItem => item.parceiroDupla.nome)
                                    </a>
                                }

                            </td>
                            <td>
                                <input type="hidden" value="100" id="@Html.Raw("oldCabecaChave" + i)">
                                <select name="@Html.Raw("cabecaChave" + i)" id="@Html.Raw("cabecaChave" + i)" class="form-control validarCabecaChave" onchange="validarCabecaChave(this)">
                                    <option value="100" @if (item.cabecaChave == 100) { @Html.Raw("selected") }>não</option>
                                    @for (int j = 1; j <= ViewBag.CabecasDeChave; j++)
                                    {
                                        <option value="@j" @if (item.cabecaChave == j) { @Html.Raw("selected") }>@j</option>
                                    }
                                </select>
                            </td>
                            <td>
                                @Html.Raw(item.isAtivo ? "Sim" : "Não")
                            </td>

                            <td align="center">
                                <form method="post" enctype="multipart/form-data" action="#" name="@Html.Raw("form"+i)" id="@Html.Raw("form"+i)" class="form">
                                    <input type="hidden" name="Id" id="Id" value="@item.Id">
                                    <button title="salvar" data-valor="@Html.Raw(i)" name="@Html.Raw("button"+i)" id="@Html.Raw("button"+i)" class="btn btn-default btn-xs inscricaoButton">
                                        Salvar
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <style>
        select option:disabled {
            color: #ff0000;
            font-weight: bold;
        }
    </style>

    @section Scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                $(".inscricaoButton").click(function (event) {
                    var i = $(this).data("valor");
                    var Id = $("#form" + i).find("input[name=Id]").val();
                    var cabecaChave = document.getElementById("cabecaChave" + i).value;

                    event.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: "/Torneio/EditCabecaChave",
                        dataType: "json",
                        data: "{'Id':'" + Id + "', 'cabecaChave':'" + cabecaChave + "'}",
                        contentType: "application/json; charset=utf-8",
                        success: function (response) {
                            if (typeof response == "object") {
                                toastr.options = {
                                    "positionClass": "toast-top-center"
                                }
                                if (response.retorno === 0) {
                                    toastr.error(response.erro, "Erro");
                                } else {
                                    toastr.success("Atualização realizada com sucesso.", "Aviso");
                                }
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            location.reload(true);
                        }
                    });
                });
            });

            function validarCabecaChave(element) {
                var qtdeRegistros = parseInt($("#qtdeRegistros").val());

                var nomeComboAtualSelecionado = element.getAttribute("name");
                var valorAtualSelecionado = element.value;

                var nomeItemAnteriorSelecionado = ObterNomeItemAnteriorSelecionado(nomeComboAtualSelecionado);
                var valorAnteriorSelecionado = parseInt($("#" + nomeItemAnteriorSelecionado).val());

                for (var i = 1; i <= qtdeRegistros; i++) {
                    var nomeComboValidacao = "cabecaChave" + i;

                    if (nomeComboAtualSelecionado != nomeComboValidacao) {

                        if (valorAtualSelecionado != 100) {
                            //Desabilita em outros combos da lista a opção selecionada
                            $("#" + nomeComboValidacao + " option[value='" + valorAtualSelecionado + "']").prop("disabled", true);
                        }

                        if (valorAnteriorSelecionado != 100) {
                            //Habilita em outros combos da lista a opçao anterior que estava bloqueada
                            $("#" + nomeComboValidacao + " option[value='" + valorAnteriorSelecionado + "']").prop("disabled", false);
                        }
                    }
                }
                $("#" + nomeItemAnteriorSelecionado).val(element.value);
            }

            function ObterNomeItemAnteriorSelecionado(nomeComboAtualSelecionado) {
                var qtdeRegistros = parseInt($("#qtdeRegistros").val());
                var nome = "";
                for (var i = 1; i <= qtdeRegistros; i++) {
                    var nomeComboValidacao = "cabecaChave" + i;
                    if (nomeComboAtualSelecionado == nomeComboValidacao) {
                        nome = "oldCabecaChave" + i;
                    }
                }
                return nome;
            }

            function CarregarValoresIniciaisSelecionados() {
                var qtdeRegistros = parseInt($("#qtdeRegistros").val());
                for (var i = 1; i <= qtdeRegistros; i++) {
                    var nomeComboValidacao = "cabecaChave" + i;
                    var valorComboValidacao = document.getElementById(nomeComboValidacao).value;
                    $("#oldCabecaChave" + i).val(valorComboValidacao);

                    for (var j = 1; j <= qtdeRegistros; j++) {
                        var nomeComboDesabilitaOpt = "cabecaChave" + j;
                        if (nomeComboValidacao != nomeComboDesabilitaOpt && valorComboValidacao != 100) {
                            $("#" + nomeComboDesabilitaOpt + " option[value='" + valorComboValidacao + "']").prop("disabled", true);
                        }
                    }
                }
            }

            function Selecionar() {
                var torneioId = document.getElementById('torneioId').value;
                var classeId = document.getElementById('filtroClasse').value;
                var filtroJogador = document.getElementById('filtroJogador').value;
                window.location = "EditCabecaChave?torneioId=" + torneioId + "&filtroClasse=" + classeId + "&filtroJogador=" + filtroJogador;
            }

            CarregarValoresIniciaisSelecionados();

        </script>
    }
