@model Barragem.Models.Torneio

@Html.Partial("_PartialTabs", "")

<div class="tab-content">
    <div class="tab-pane fade" id="tabClasses"></div>
    <div class="tab-pane fade" id="tabCadastro"></div>
    <div class="tab-pane fade" id="tabInscritos"></div>
    <div class="tab-pane fade" id="tabJogos"></div>
    <div class="tab-pane fade" id="tabDuplas"></div>

    <div class="tab-pane fade in active" id="tabNotificacao">
        @if ((ViewBag.retorno != "") && (ViewBag.retorno != null))
        {
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @ViewBag.retorno
            </div>
        }
        <h4>Notificar Participante</h4>
        @using (Html.BeginForm("notificarJogadores", "Torneio", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <input type="hidden" name="torneioId" value="@ViewBag.TorneioId">
            <div class="box-body">
                <div class="editor-field">
                    <textarea rows="4" cols="50" name="texto"></textarea>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right">Enviar</button>
            </div>
        }
    </div>
</div>


