@model IEnumerable<Barragem.Models.InscricaoTorneio>
    @Html.Partial("_PartialTabs")

    <div class="tab-content">
        <div class="tab-pane fade" id="tabCadastro"></div>
        <div class="tab-pane fade" id="tabClasses"></div>
        <div class="tab-pane fade" id="tabInscritos"></div>
        <div class="tab-pane fade" id="tabEditClasses"></div>
        <div class="tab-pane fade" id="tabJogos"></div>
        <div class="tab-pane fade"  id="tabDuplas"></div>
            <div class="tab-pane fade in active" id="tabFaseGrupo">
                <br>
                <button class="btn btn-primary btn-small exibirClasses"><span class="glyphicon glyphicon-plus"></span> Gerar Jogos</button>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Classes</label>
                        <div class="col-sm-4 input-group">
                            <select name="filtroClasse" id="filtroClasse" class="form-control" onchange="Selecionar()">
                                @foreach (var item2 in ViewBag.Classes)
                                {
                                    <option value="@item2.Id" @if (ViewBag.filtroClasse == item2.Id) { @Html.Raw("selected")        }>@item2.nome</option>
                                }
                            </select>
                            <input type="hidden" value="@ViewBag.TorneioId" name="torneioId" id="torneioId">
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Jogadores por grupo:</label>
                        <div class="col-sm-4 input-group">
                            <select name="jogadoresPorGrupo" id="jogadoresPorGrupo" class="form-control" onchange="QtddJogadorPorGrupo()">
                                <option value="3">3</option>
                                <option value="4">4</option>        
                                <option value="5">5</option>                
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Qtdd passam de fase por grupo:</label>
                        <div class="col-sm-4 input-group">
                            <select name="qtddPassamFase" id="qtddPassamFase" class="form-control" onchange="QtddPassamFase()">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>
                </div>
                @if (Model == null)
                {
                    <p>Esse torneio não possui classes com fase de grupo.</p>
                }
                else
                {
                    <table class="table table-striped table-condensed table-bordered">
                        <tr>
                            <th>
                                @Html.DisplayName("Inscritos")
                            </th>
                            <th>
                                @Html.DisplayName("Grupos")
                            </th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" value="@item.userId" name="@Html.Raw("jogador_" + item.userId)" id="@Html.Raw("jogador_" + item.userId)">
                                    @Html.Raw(item.participante.nome)
                                    @if (item.parceiroDuplaId != null && item.parceiroDuplaId != 0)
                                    {
                                        @Html.Raw(" / " + item.parceiroDupla.nome)
                                    }
                                </td>
                                <td>
                                    <select name="@Html.Raw("grupo_" + item.userId)" id="@Html.Raw("grupo_" + item.userId)" class="form-control">
                                        <option value="0">Sem Grupo</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                     </select>
                                </td>
                                <td align="center">
                                    <form method="post" enctype="multipart/form-data" action="#" name="@Html.Raw("form" + item.Id)" id="@Html.Raw("form" + item.Id)" class="form">
                                        <input type="hidden" name="Id" id="Id" value="@item.Id">
                                        <button title="salvar" data-valor="@item.Id" name="@Html.Raw("button" + item.Id)" id="@Html.Raw("button" + item.Id)" class="btn btn-default btn-xs inscricaoButton">
                                            Salvar
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </table>
                }
            </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryform")
        <script type="text/javascript">
            $(document).ready(function () {
                $(".inscricaoButton").click(function (event) {
                    var i = $(this).data("valor");
                    var Id = $("#form" + i).find("input[name=Id]").val();
                    var jogador1 = document.getElementById("jogador1_" + i).value;
                    var jogador2 = document.getElementById("jogador2_" + i).value;
                    event.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: "/Torneio/EditDuplas",
                        dataType: "json",
                        data: "{'inscricaoJogador1':'" + jogador1 + "', 'jogador2':'" + jogador2 + "'}",
                        contentType: "application/json; charset=utf-8",
                        success: function (response) {
                            if (typeof response == "object") {
                                if (response.retorno === 0) {
                                    toastr.error(response.erro, "Erro");
                                } else {
                                    toastr.success("Atualização realizada com sucesso.", "Aviso");
                                }
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            location.reload(true);
                        }
                    });
                });
            });

            function Selecionar() {
                var torneioId = document.getElementById('torneioId').value;
                var classeId = document.getElementById('filtroClasse').value;
                window.location = "EditDuplas?torneioId=" + torneioId + "&filtroClasse=" + classeId;
            }

        </script>
    }
