@model Barragem.Models.Torneio
@{
    Barragem.Models.CobrancaTorneio cobrancaTorneio = ViewBag.CobrancaTorneio;
    var link = ViewBag.LinkParaCopia;
}

@Html.Partial("_PartialTabs", "")

<div class="tab-content">
    <div class="tab-pane fade in active" id="tabCadastro">
        @using (Html.BeginForm("EditTorneio", "Torneio", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <br>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">Informações Básicas</h4>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        @Html.Label("Onde gostaria de divulgar o torneio?", new { @class = "col-sm-2 control-label" })
                        <div class="col-xs-8 col-md-3 input-group">
                            <select name="divulgacao" id="divulgacao" class="form-control">
                                <option value="nao divulgar" @if (Model.divulgacao == "nao divulgar") { @Html.Raw(" selected ")  }>Não divulgar por enquanto</option>
                                <option value="ranking" @if (Model.divulgacao == "ranking") { @Html.Raw(" selected ")  }>no meu ranking</option>
                                <option value="cidade" @if (Model.divulgacao == "cidade") { @Html.Raw(" selected ")  }>na minha cidade</option>
                                <option value="brasil" @if (Model.divulgacao == "brasil") { @Html.Raw(" selected ")  }>no Brasil inteiro</option>
                            </select>
                        </div>
                    </div>
                    @if (Model.isAtivo)
                {
                <div class="form-group">
                    @Html.Label("Copiar link do Torneio" , new { @class = "col-xs-6 col-sm-2 control-label" })
                    <div class="col-sm-8 input-group">
                        <!--a href="/torneio-Model.barragem.dominio" title="Link do torneio" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-link"></span>
                        </a-->
                        <button id="btnCopiarLink" data-link='www.teste.com'> <span class="glyphicon glyphicon-share"/></button>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Divulgar no APP", new { @class = "col-xs-6 col-sm-2 control-label" })
                    <div class="col-sm-8 input-group">
                        <button id="btnNotificarApp" data-torneioid="@Model.Id" class="btn btn-default">Enviar Notificação</button>
                    </div>
                </div>

                    }
                    <div class="form-group">
                        @Html.LabelFor(model => model.nome, new { @class = "col-sm-2 control-label" })
                        <div class="col-xs-12 col-sm-8 input-group">
                            @Html.TextBoxFor(model => model.nome, new { @class = "form-control" })
                            @Html.HiddenFor(model => model.TipoTorneio)
                            @Html.HiddenFor(model => model.inscricaoSoPeloSite)
                        </div>
                        @Html.ValidationMessageFor(model => model.nome)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.dataInicio, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4 input-group date" id="dataInicio" data-date-format="dd/mm/yyyy">
                            <input type="text" name="dataInicio" id="dataInicio" value="@Model.dataInicio.ToShortDateString()" class="form-control" readonly="readonly" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.dataInicio)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.dataFim, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4 input-group date" id="dataFim" data-date-format="dd/mm/yyyy">
                            <input type="text" name="dataFim" id="dataFim" value="@Model.dataFim.ToShortDateString()" class="form-control" readonly="readonly" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.dataFim)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.cidade, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-8 input-group">
                            @Html.TextBoxFor(model => model.cidade, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.cidade)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.local, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-8 input-group">
                            @Html.TextBoxFor(model => model.local, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.local)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.premiacao, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-8 input-group">
                            @Html.TextBoxFor(model => model.premiacao, new { @class = "form-control", @placeholder = "" })
                        </div>
                        @Html.ValidationMessageFor(model => model.premiacao)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.contato, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-8 col-xs-12 input-group">
                            @Html.TextAreaFor(model => model.contato)
                        </div>
                    </div>


                    @if (Roles.IsUserInRole("admin"))
                {
                <div class="form-group">
                    @Html.LabelFor(model => model.barragem, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-6 input-group">
                        @Html.DropDownList("barragemId", null, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.barragemId)
                </div>
                }
                else
                {
                <input type="hidden" name="barragemId" value="@ViewBag.barraId" />
                }


                </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">Inscrição</h4>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.dataFimInscricoes, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4 input-group date" id="dataFimInscricoes" data-date-format="dd/mm/yyyy">
                                <input type="text" name="dataFimInscricoes" id="dataFimInscricoes" value="@Model.dataFimInscricoes.ToShortDateString()" class="form-control" readonly="readonly" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar">
                                    </span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.dataFimInscricoes)
                        </div>
                        <div class="form-group">
                            @Html.Label("Em quantas categorias o jogador poderá se inscrever?", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-6 input-group">
                                <select name="qtddCategoriasPorJogador" id="qtddCategoriasPorJogador" class="form-control" onchange="habilibarValoresInscricao()">
                                    <option value="1" @if (Model.qtddCategoriasPorJogador == 1) { @Html.Raw(" selected ") }>1 categoria</option>
                                    <option value="2" @if (Model.qtddCategoriasPorJogador == 2) { @Html.Raw(" selected ") }>2 categoria</option>
                                    <option value="3" @if (Model.qtddCategoriasPorJogador == 3) { @Html.Raw(" selected ") }>3 categoria</option>
                                    <option value="4" @if (Model.qtddCategoriasPorJogador == 4) { @Html.Raw(" selected ") }>4 categoria</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Qual valor o jogador irá pagar se inscrever em:", new { @class = "col-sm-4 control-label" })
                        </div>
                        <div id="valorDiv" class="form-group">
                            @Html.Label("1 categoria", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4 input-group">
                                @Html.TextBoxFor(model => model.valor, new { @class = "form-control", @placeholder = "Informe 0 para torneio gratuito" })
                            </div>
                            @Html.ValidationMessageFor(model => model.valor)
                        </div>
                        <div id="valorDiv2" class="form-group">
                            @Html.Label("2 categorias", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4 input-group">
                                @Html.TextBoxFor(model => model.valor2, new { @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(model => model.valor2)
                        </div>
                        <div id="valorDiv3" class="form-group">
                            @Html.Label("3 categorias", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4 input-group">
                                @Html.TextBoxFor(model => model.valor3, new { @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(model => model.valor3)
                        </div>
                        <div id="valorDiv4" class="form-group">
                            @Html.Label("4 categorias", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4 input-group">
                                @Html.TextBoxFor(model => model.valor4, new { @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(model => model.valor4)
                        </div>
                        @Html.Label("Qual valor do desconto? (opcional)", new { @class = "control-label" })
                        <div class="form-group">
                            <div class="col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-1 col-md-1">
                                        @if (Model.isDesconto != null && (bool)Model.isDesconto)
                                        {
                                            <input type="checkbox" checked value="true" name="isDesconto" id="isDesconto" onclick="CadastrarValorDescontoSocio()" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" value="true" name="isDesconto" id="isDesconto" onclick="CadastrarValorDescontoSocio()" />
                                        }
                                        
                                    </div>
                                    <div class="col-xs-6 col-md-4">
                                        <select name="descontoPara" class="form-control">
                                            <option @if (Model.descontoPara != null && Model.descontoPara.Equals("sócio do clube")) { @Html.Raw("selected") } value="sócio do clube">sócio do clube</option>
                                            <option @if (Model.descontoPara != null && Model.descontoPara.Equals("barragista")) { @Html.Raw("selected") } value="barragista">barragista</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4 col-md-4">
                                        <div class="form-group">
                                            @Html.Label("R$", new { @class = "col-xs-5 col-md-3 control-label" })
                                            <div class="col-xs-6 col-md-6 input-group">
                                                @Html.TextBoxFor(model => model.valorSocio, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-1 col-md-1">
                                        @if (Model.valorDescontoFederado != null && Model.valorDescontoFederado>0)
                                        {
                                            <input type="checkbox" checked value="true" name="isDescontoFederado" id="isDescontoFederado" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" value="true" name="isDescontoFederado" id="isDescontoFederado" />
                                        }
                                        
                                    </div>
                                    <div class="col-xs-6 col-md-4">
                                        @Html.Label("Federado", new { @class = "control-label" })
                                    </div>
                                    <div class="col-xs-4 col-md-4">
                                        <div class="form-group">
                                            @Html.Label("R$", new { @class = "col-xs-5 col-md-3 control-label" })
                                            <div class="col-xs-6 col-md-6 input-group">
                                                @Html.TextBoxFor(model => model.valorDescontoFederado, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">Configurações</h4>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                                @Html.Label("O próprio jogador poderá lançar o resultado do jogo?", new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-2 input-group">
                                    <select name="jogadorNaoLancaResult" id="jogadorNaoLancaResult" class="form-control">
                                        <option value=true @if (Model.jogadorNaoLancaResult) { @Html.Raw(" selected ")  }>Não</option>
                                        <option value=false @if (!Model.jogadorNaoLancaResult) { @Html.Raw(" selected ")  }>Sim</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Seu torneio será gratuito para associado?", new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-2 input-group">
                                    <select name="isGratuitoSocio" id="isGratuitoSocio" class="form-control">
                                        <option value=false @if (!Model.isGratuitoSocio) { @Html.Raw(" selected ")  }>Não</option>
                                        <option value=true @if (Model.isGratuitoSocio) { @Html.Raw(" selected ")  }>Sim</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Seu torneio terá repescagem?", new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-2 input-group">
                                    <select name="temRepescagem" id="temRepescagem" class="form-control">
                                        <option value=false @if (!Model.temRepescagem) { @Html.Raw(" selected ")  }>Não</option>
                                        <option value=true @if (Model.temRepescagem) { @Html.Raw(" selected ")  }>Sim</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Seu torneio terá limite de quantidade de inscritos?", new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-2 input-group">
                                    <select name="temLimiteDeInscricao" id="temLimiteDeInscricao" class="form-control">
                                        <option value=false @if (Model.temLimiteDeInscricao==null || (bool)!Model.temLimiteDeInscricao) { @Html.Raw(" selected ")   }>Não</option>
                                        <option value=true @if (Model.temLimiteDeInscricao!=null && (bool)Model.temLimiteDeInscricao) { @Html.Raw(" selected ")   }>Sim</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Observação que aparecerá na ficha de inscrição", new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-8 col-xs-12 input-group">
                                    @Html.TextBoxFor(model => model.observacao, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.observacao)
                            </div>
                        @if ((ViewBag.tokenPagSeguro == "") || (ViewBag.tokenPagSeguro == null))
                        {
                            <br><input type="checkbox" name="cartao" id="cartao" value="true" onclick="isCartaoCredito()"> <b>Deseja aceitar inscrição no cartão?</b><br>
                            <div id="isCartao">
                                <div class="editor-label">
                                    <small style="color:red">Para fazer a configuração do PagSeguro, contate o suporte via whatsapp.</small>
                                </div>
                            </div>
                            <script>
                                document.getElementById('isCartao').style.opacity = "0 !important";
                                document.getElementById('isCartao').style.display = "none";
                            </script>
                        }
                        else
                        {
                            <div class="editor-label"> <b>Torneio configurado para pagamento da inscrição no cartão de crédito.</b></div>
                        }
                        <br>
                        @if (Model.dadosBancarios == "")
                        {
                            <input type="checkbox" name="transferencia" id="transferencia" value="true" onclick="isTransferenciaBancaria()"> <b>Usar transferência como forma de pagamento</b><br>
                        }
                        else
                        {
                            <input type="checkbox" name="transferencia" id="transferencia" value="true" checked onclick="isTransferenciaBancaria()"> <b>Usar transferência como forma de pagamento</b><br>
                        }
                        <div id="isTransferencia">
                            <div class="editor-field">
                                @Html.TextAreaFor(model => model.dadosBancarios)
                                @Html.ValidationMessageFor(model => model.dadosBancarios)
                            </div>
                        </div>
                        
                    </div>
               </div>
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h4 class="box-title">Liberar</h4>
                            </div>
                            <div class="box-body">
                                <div class="col-sm-4">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(model => model.liberarTabela) Liberar visualização da tabela do torneio
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(model => model.liberaTabelaInscricao) Liberar lista de inscritos
                                        </label>
                                    </div>
                                </div>
                                @if (Roles.IsUserInRole("admin"))
                                {
                                    <div class="col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(model => model.torneioFoiPago) @Html.Raw(" Torneio Foi Pago: R$ " + cobrancaTorneio.valorASerPago + ",00 ?")
                                            </label>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <input type="hidden" name="torneioFoiPago" value="@if (Model.torneioFoiPago) { @Html.Raw("true")  } else { @Html.Raw("false") }" />
                                }
                            </div>
                        </div>
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h4 class="box-title">Pontuação para circuitos</h4>
                            </div>
                            <div class="box-body">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">Este torneio conta pontos para quais circuito(s) abaixo:</div>
                                    <div class="panel-body">
                                        @{ List<Barragem.Models.Liga> ligasTorneio = ViewBag.LigasDoTorneio;
                                            foreach (var lg in ViewBag.LigasDisponiveis)
                                            {
                                                <input type="checkbox" @if (ligasTorneio.Where(l => l.Id == lg.Liga.Id).Count() > 0) { @Html.Raw("checked")  } name="liga" value="@lg.Liga.Id"> 
                                                if (ViewBag.isModeloTodosContraTodos)
                                                {
                                                    @Html.Raw(lg.Liga.Nome)
                                                }
                                                else
                                                {
                                                    @Html.Raw(lg.Liga.Nome + " - Pt. " + Model.TipoTorneio)
                                                }
                                                <br>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h4 class="box-title">Regulamento</h4>
                            </div>
                            <div class="box-body">
                                <div class="editor-field">
                                    @Html.TextAreaFor(model => model.regulamento)
                                    @Html.ValidationMessageFor(model => model.regulamento)
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <a href="@Url.Action("Index")" title="Voltar" class="btn btn-default">Voltar</a>
                            <button type="submit" class="btn btn-info pull-right">Gravar</button>
                        </div>

                        }

                    </div>

    <div class="tab-pane fade" id="tabClasses">
        <br>
        <button type="button" onclick="saveJogadoresAlterados()" class="btn btn-info">Gravar</button>

        <div class="box-body">
            @{
                List<Barragem.Models.InscricaoTorneio> inscricaoTorneio = ViewBag.JogadoresClasses;
            }
            @for (int i = 1; i <= Model.qtddClasses; i++)
            {
                var ulId = "sortable" + i;
                var nivel = i;
                var qtddAtleta = "qtddAtleta" + i;
                <div class="col-md-2">
                    <div class="box box-primary">
                        <div class="with-border">
                            <h4 class="sortable-title">Classe @nivel - Qtdd:<span id="@qtddAtleta">@inscricaoTorneio.Where(r => r.classe == nivel).Count()</span></h4>
                        </div>
                        <ul id="@ulId" class="connectedSortable">
                            @foreach (var item in inscricaoTorneio)
                            {
                                if (item.classe == nivel)
                                {
                                    var liClass = "ui-state-classe" + nivel;
                                    <li class="@liClass" title="@item.participante.nome">
                                        <input type="hidden" value="@item.Id" name="Id">
                                        <input type="hidden" value="@item.classe" name="classeId">
                                        @{var nome = item.participante.nome;
                                            if (nome.Length > 14)
                                            {
                                                nome = item.participante.nome.Substring(0, 15) + "...";
                                            }
                                        }
                                        @Html.Raw(nome)
                                    </li>
                                                }
                                                else if (item.classe > nivel)
                                                {
                                                    break;
                                                }
                                            }
                        </ul>
                    </div>
                </div>
                                            }
        </div>
        <div class="box-footer">
            <button type="button" onclick="saveJogadoresAlterados()" class="btn btn-info">Gravar</button>
        </div>
    </div>

    <div class="tab-pane fade" id="tabInscritos"></div>
    <div class="tab-pane fade" id="tabJogos"></div>
    <div class="tab-pane fade" id="tabEditClasses"></div>
</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
    .nav-tabs {
        flex-wrap: wrap;
    }

    select {
        appearance: auto;
    }
    .box {
        box-shadow: 0 0px 0px rgba(0,0,0,0.1);
    }
    .form-control:not(select) {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .ui-autocomplete-loading {
        background: white url("/Content/image/ui-anim_basic_16x16.gif") right center no-repeat;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/editor")
    <script type="text/javascript">
        tinyMCE.baseURL = '@Url.Content("~/Scripts/tinymce/")'
        tinyMCE.init({
            selector: 'textarea#dadosBancarios',
            menubar: false,
            language: 'pt_BR',
            theme: "modern",
            theme_advanced_font_sizes: "10px,12px,13px,14px,16px,18px,20px",
            font_size_style_values: "12px,13px,14px,16px,18px,20px",
            width: 700,
            height: 150,
            toolbar1: "bold italic | underline | alignleft aligncenter alignright alignjustify | forecolor backcolor | fontselect |  fontsizeselect"

        });

        tinyMCE.init({
            selector: 'textarea#regulamento',
            language: 'pt_BR',
            theme: "modern",
            theme_advanced_font_sizes: "10px,12px,13px,14px,16px,18px,20px",
            font_size_style_values: "12px,13px,14px,16px,18px,20px",
            relative_urls: false,
            remove_script_host: false,
            width: 700,
            height: 150,
            plugins: [
                "code image"
            ],
            toolbar1: "bold italic | underline | alignleft aligncenter alignright alignjustify | forecolor backcolor | fontselect |  fontsizeselect"

        });

        tinyMCE.init({
            selector: 'textarea#contato',
            menubar: false,
            language: 'pt_BR',
            theme: "modern",
            theme_advanced_font_sizes: "10px,12px,13px,14px,16px,18px,20px",
            font_size_style_values: "12px,13px,14px,16px,18px,20px",
            width: 500,
            height: 150,
            toolbar1: "bold italic | underline | alignleft aligncenter alignright alignjustify | forecolor backcolor | fontselect |  fontsizeselect"

        });

        function isTransferenciaBancaria() {
            if (document.getElementById('transferencia').checked) {
                document.getElementById('isTransferencia').style.opacity = "1";
                document.getElementById('isTransferencia').style.display = "block";
            } else {
                document.getElementById('isTransferencia').style.opacity = "0 !important";
                document.getElementById('isTransferencia').style.display = "none";
            }
        }

        function isCartaoCredito() {
            if (document.getElementById('cartao').checked) {
                document.getElementById('isCartao').style.opacity = "1";
                document.getElementById('isCartao').style.display = "block";
            } else {
                document.getElementById('isCartao').style.opacity = "0 !important";
                document.getElementById('isCartao').style.display = "none";
            }
        }

        $(function () {
            $("#dataInicio").datepicker({
                language: 'pt-BR',
                pickTime: false
            });
            $("#dataFim").datepicker({
                language: 'pt-BR',
                pickTime: false
            });
            $("#dataFimInscricoes").datepicker({
                language: 'pt-BR',
                pickTime: false
            });

            $("#sortable1, #sortable2, #sortable3, #sortable4").sortable({
                connectWith: ".connectedSortable",
                stop: function (e, ui) {
                    for (i = 1; i < 6; i++) {
                        var cont = 0;
                        var classe = "#sortable" + i + " li";
                        $.each($(classe), function (key, val) {
                            cont++
                        });
                        var idDiv = "#qtddAtleta" + i
                        $(idDiv).html(cont);
                    }
                }
            }).disableSelection();

            $("#sortable5").sortable({
                connectWith: ".connectedSortable",
                stop: function (e, ui) {
                    for (i = 1; i < 6; i++) {
                        var cont = 0;
                        var classe = "#sortable" + i + " li";
                        $.each($(classe), function (key, val) {
                            cont++
                        });
                        var idDiv = "#qtddAtleta" + i
                        $(idDiv).html(cont);
                    }
                }
            }).disableSelection();
            $("#cidade").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Cidade/getCidade",
                        dataType: "jsonp",
                        data: {
                            q: request.term
                        },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 3
            });
            $('#cidade').attr('autocomplete', 'off');
        });

        $('#btnCopiarLink').on('click', function (event) {
            event.preventDefault();
            navigator.clipboard.writeText('@link');
            //$(this).attr('data-link')
            toastr.success("Link copiado com sucesso.", "Aviso");
        });

        $('#btnNotificarApp').on('click', function (event) {
            event.preventDefault();
            $.ajax(
                {
                    type: 'GET',
                    url: '/Torneio/NotificarViaApp',
                    data: "torneioId=" + $(this).attr('data-torneioid'),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        if (typeof response == "object") {
                            if (response.retorno === 1) {
                                toastr.success("Notificação enviada com sucesso: " + response.segmento, "Aviso");
                            } else {
                                toastr.error("Erro ao enviar notificação via APP.", "Erro");
                            }
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        toastr.error("Erro ao enviar notificação via APP.", "Erro");
                    }
                }
            );
        });

        function getJogadoresAlterados() {
            var newData = new Array();
            for (i = 1; i < 6; i++) {
                var classe = "#sortable" + i + " li";
                $.each($(classe), function (key, val) {
                    var id = $(this).find("input[name=Id]").val();
                    var classeId = $(this).find("input[name=classeId]").val();
                    var fileldValues = {};
                    if (classeId != i) {
                        fileldValues['Id'] = id;
                        fileldValues['classe'] = i;
                        newData.push(fileldValues);
                    }
                });
            }
            return JSON.stringify({ 'inscricaoTorneio': newData });
        }

        function atualizarListaClasses() {
            var newData = new Array();
            for (i = 1; i < 6; i++) {
                var classe = "#sortable" + i + " li";
                $.each($(classe), function (key, val) {
                    var classeId = $(this).find("input[name=classeId]").val();
                    if (classeId != i) {
                        var toggle = "ui-state-classe" + classeId + " ui-state-classe" + i
                        $(this).toggleClass(toggle);
                        $(this).find("input[name=classeId]").val(i);
                    }
                });
            }
            return JSON.stringify({ 'inscricaoTorneio': newData });
        }

        function saveJogadoresAlterados() {
            var inscricaoTorneio = getJogadoresAlterados();
            $.ajax({
                type: "POST",
                url: "/Torneio/AlterarClassesTorneio",
                dataType: "json",
                data: inscricaoTorneio,
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (typeof response == "object") {
                        if (response.retorno === 0) {
                            toastr.error(response.erro, "Erro");
                        } else {
                            toastr.success("Atualização realizada com sucesso.", "Aviso");
                            atualizarListaClasses();
                        }
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    location.reload(true);
                }
            });
        }

        function CadastrarValorDescontoSocio() {
            if (document.getElementById('isDesconto').checked) {
                //document.getElementById('descontoSocio').style.opacity = "1";
                //document.getElementById('descontoSocio').style.display = "block";
            } else {
                document.getElementById('valorSocio').value = "0";
                document.getElementById('valorMaisClassesSocio').value = "0";
                //document.getElementById('descontoSocio').style.opacity = "0 !important";
                //document.getElementById('descontoSocio').style.display = "none";
            }
        }

        function habilibarValoresInscricao() {
            if (document.getElementById('qtddCategoriasPorJogador').value == 1) {
                document.getElementById('valor2').value = "0";
                document.getElementById('valorDiv2').style.opacity = "0 !important";
                document.getElementById('valorDiv2').style.display = "none";
                document.getElementById('valor3').value = "0";
                document.getElementById('valorDiv3').style.opacity = "0 !important";
                document.getElementById('valorDiv3').style.display = "none";
                document.getElementById('valor4').value = "0";
                document.getElementById('valorDiv4').style.opacity = "0 !important";
                document.getElementById('valorDiv4').style.display = "none";
            } else if (document.getElementById('qtddCategoriasPorJogador').value == 2) {
                document.getElementById('valorDiv2').style.opacity = "1";
                document.getElementById('valorDiv2').style.display = "block";
                document.getElementById('valor3').value = "0";
                document.getElementById('valorDiv3').style.opacity = "0 !important";
                document.getElementById('valorDiv3').style.display = "none";
                document.getElementById('valor4').value = "0";
                document.getElementById('valorDiv4').style.opacity = "0 !important";
                document.getElementById('valorDiv4').style.display = "none";
            } else if (document.getElementById('qtddCategoriasPorJogador').value == 3) {
                document.getElementById('valorDiv2').style.opacity = "1";
                document.getElementById('valorDiv2').style.display = "block";
                document.getElementById('valorDiv3').style.opacity = "1";
                document.getElementById('valorDiv3').style.display = "block";
                document.getElementById('valor4').value = "0";
                document.getElementById('valorDiv4').style.opacity = "0 !important";
                document.getElementById('valorDiv4').style.display = "none";
            } else if (document.getElementById('qtddCategoriasPorJogador').value == 4) {
                document.getElementById('valorDiv2').style.opacity = "1";
                document.getElementById('valorDiv2').style.display = "block";
                document.getElementById('valorDiv3').style.opacity = "1";
                document.getElementById('valorDiv3').style.display = "block";
                document.getElementById('valorDiv4').style.opacity = "1";
                document.getElementById('valorDiv4').style.display = "block";
            }
        }

        if (!document.getElementById('isDesconto').checked) {
            //document.getElementById('descontoSocio').style.opacity = "0";
            //document.getElementById('descontoSocio').style.display = "none";
        }

        isTransferenciaBancaria();
        habilibarValoresInscricao();
    </script>
}
