@{
    ViewBag.Title = "Index";
}
@model IEnumerable<Barragem.Models.ListagemTorneioModel>
    <legend>Torneio</legend>
    @if (ViewBag.isBarragemAtiva)
    {
        <p>
            <a href="@Url.Action("CreateTorneio")" class="btn btn-primary btn-small"><span class="glyphicon glyphicon-plus"></span> Novo</a>
        </p>
    }
    <div class="box-body table-responsive no-padding">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeBarragem)
                </th>
                <th style="width: 110px;">
                    @Html.DisplayNameFor(model => model.TipoBarragem)
                </th>
                <th style="width: 65px;"></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                        <a href="@item.LinkWhatsApp" target="_blank"><img width="25" height="25" src="/Content/image/whatsapp.png"></a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeBarragem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoBarragem)
                    </td>
                    <td>
                        <a href="@Url.Action("PainelTorneio", new {torneioId = @item.Id })" title="Editar/Detalhar" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        @if (Roles.IsUserInRole("admin"))
                        {
                            @Html.ActionLink(" ", "ExcluirTorneio", new { id = item.Id }, new { @class = "btn btn-danger btn-xs glyphicon glyphicon-trash", onclick = "return confirm('Você confirma a exclusão do torneio " + item.Nome + "?')" })
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
