@model Barragem.Models.Jogo
@{
    ViewBag.Title = "Controlar Jogo";
    Layout = "~/Views/Shared/_LayoutTorneio2.cshtml";
}
@if (ViewBag.Torneio != null)
{
    Barragem.Models.Torneio torneio = ViewBag.Torneio;
    <div class="container-dashboard">
        <legend>@Html.Raw("Torneio Aberto")</legend>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-8 info-box-text">
                        @Html.Raw(torneio.nome) De @Html.Raw(torneio.dataInicio.ToShortDateString()) a @Html.Raw(torneio.dataFim.ToShortDateString())
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 info-box-text">
                        @Html.Raw("Local: " + torneio.local + " - " + torneio.cidade) Inscrição até @Html.Raw(torneio.dataFimInscricoes.ToShortDateString())
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="col-sm-12 pull-right">
                    <a class="btn btn-primary" href="/Torneio/Detalhes/@torneio.Id">
                        Saiba mais
                    </a>
                </div>
            </div>
        </div>
    </div>
}

@if (Model != null)
{
    <div class="container-dashboard">
        @using (Html.BeginForm("LancarResultado", "Torneio"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.rodada_id)

            @Html.HiddenFor(model => model.dataLimiteJogo)
            @Html.HiddenFor(model => model.faseTorneio)
            @Html.HiddenFor(model => model.classeTorneio)
            @Html.HiddenFor(model => model.ordemJogo)
            @Html.HiddenFor(model => model.torneioId)
            @Html.HiddenFor(model => model.cabecaChave)
            @Html.HiddenFor(model => model.quadra)
            @Html.HiddenFor(model => model.isPrimeiroJogoTorneio)

            <h4>
                @Html.Raw(ViewBag.NomeTorneio)
            </h4>
            <div id="placar" class="form-horizontal form-inline">
                <div class="form-group">
                    <label class="control-label col-sm-3">Situação</label>
                    <div class="col-sm-5">
                        @Html.DropDownList("situacao_Id", null, new { @class = "form-control input-sm" })
                    </div>
                </div>
                <span id="dadosJogo">
                    <div class="form-group">
                        @Html.LabelFor(model => model.dataJogo, new { @class = "control-label col-sm-4" })
                        <div class="col-sm-6">
                            <div class="input-group date" id="dataJogo" data-date-format="dd/mm/yyyy">
                                <input id="dataJogo" name="dataJogo" value="@Html.Raw(Model.dataJogo)" placeholder="dd/mm/yyyy" type="text" class="form-control col-md-5" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar">
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Hora</label>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <div class="form-group col-sm-2">
                                    <input id="horaJogo" name="horaJogo" value="@Html.Raw(Model.horaJogo)" placeholder="hh:mm" type="text" class="form-control col-sm-2" />
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </div>

            <div class="row clearfix">
                <div class="exibir-imagem col-md-4">
                    <img class="img-responsive center-block" src="/Content/image/tennis-game.png">
                </div>
                <div class="col-md-4 col-xs-6">
                    @if ((Model.desafiado_id != 0) && (Model.desafiado.fotoURL != null))
                    {
                        <img class="img-responsive center-block" src="@Url.Action("BuscaFoto","Account", new { id = Model.desafiado_id})" style="width: 148px; height: 198px;" />
                    }
                    else
                    {
                        <img class="img-responsive center-block" src="/Content/image/sem-foto.png" style="width: 148px; height: 198px;" />
                    }
                    <center>
                        <p id='jogo'>
                            @if (Model.desafiado_id == 0)
                            {
                                @Html.Raw("Aguardando Adversário");
                            }
                            else
                            {
                                <a href="@Url.Action("../Account/Detalhes", new { userId = Model.desafiado_id })" title="Detalhes do jogador">
                                    @Model.desafiado.nome
                                </a>
                                <a href="@Model.desafiado.linkwhatsapp">
                                    <img width="25" height="25" src="/Content/image/whatsapp.png">
                                </a>
                                if (Model.desafiado2_id != null)
                                {
                                    <br><a href="@Url.Action("../Account/Detalhes", new { userId = Model.desafiado2_id })" title="Detalhes do jogador">
                                        @Model.desafiado2.nome
                                    </a>

                                }
                            }
                        </p>
                    </center>
                    @Html.HiddenFor(model => model.desafiado_id)
                    @Html.HiddenFor(model => model.desafiado2_id)
                </div>
                <div class="col-md-4 col-xs-6">
                    @if ((Model.desafiante_id != 0) && (Model.desafiante_id != 10) && (Model.desafiante.fotoURL != null))
                    {
                        <img class="img-responsive center-block" src="@Url.Action("BuscaFoto","Account", new { id = Model.desafiante_id})" style="width:148px;height:198px;" />
                    }
                    else
                    {
                        <img class="img-responsive center-block" src="/Content/image/sem-foto.png" style="width: 148px; height: 198px;" />
                    }
                    <center>
                        <p id='jogo'>
                            @if (Model.desafiante_id == 10)
                            {
                                @Html.Raw("Bye");
                            }
                            else if (Model.desafiante_id == 0)
                            {
                                @Html.Raw("Aguardando Adversário");
                            }
                            else
                            {
                                <a href="@Url.Action("../Account/Detalhes", new { userId = Model.desafiante_id })" title="Detalhes do jogador">
                                    @Model.desafiante.nome
                                </a>
                                <a href="@Model.desafiante.linkwhatsapp">
                                    <img width="25" height="25" src="/Content/image/whatsapp.png">
                                </a>
                                if (Model.desafiante2_id != null)
                                {
                                    <br><a href="@Url.Action("../Account/Detalhes", new { userId = Model.desafiante2_id })" title="Detalhes do jogador">
                                        @Model.desafiante2.nome
                                    </a>

                                }
                            }
                        </p>
                    </center>
                    @Html.HiddenFor(model => model.desafiante_id)
                    @Html.HiddenFor(model => model.desafiante2_id)
                </div>
            </div>
            <div class="row clearfix">
                <div id="labelset1" class="col-md-8">
                    <center><p id="set">1º set</p></center>
                </div>
            </div>
            <div class="row clearfix">
                <div id="set1" class="form-group col-md-4 col-xs-6 pull-right">
                    @Html.TextBoxFor(model => model.qtddGames1setDesafiante, new { @class = "form-control input-lg", @placeholder = "1º set" })
                    @Html.ValidationMessageFor(model => model.qtddGames1setDesafiante)
                </div>
                <div id="set1_2" class="form-group col-md-4 col-xs-6 pull-right">
                    @Html.TextBoxFor(model => model.qtddGames1setDesafiado, new { @class = "form-control input-lg", @placeholder = "1º set" })
                    @Html.ValidationMessageFor(model => model.qtddGames1setDesafiado)
                </div>
            </div>
            <div class="row clearfix">
                <div id="labelset2" class="col-md-8">
                    <center><p id="set">2º set</p></center>
                </div>
            </div>
            <div class="row clearfix">
                <div id="set2" class="form-group col-md-4 col-xs-6 pull-right">
                    @Html.TextBoxFor(model => model.qtddGames2setDesafiante, new { @class = "form-control input-lg", @placeholder = "2º set" })
                    @Html.ValidationMessageFor(model => model.qtddGames2setDesafiante)
                </div>
                <div id="set2_2" class="form-group col-md-4 col-xs-6 pull-right">
                    @Html.TextBoxFor(model => model.qtddGames2setDesafiado, new { @class = "form-control input-lg", @placeholder = "2º set" })
                    @Html.ValidationMessageFor(model => model.qtddGames2setDesafiado)
                </div>
            </div>
            <div class="row clearfix">
                <div id="labelset3" class="col-md-8">
                    <center><p id="set">3º set</p></center>
                </div>
            </div>
            <div class="row clearfix">
                <div id="set3" class="form-group col-md-4 col-xs-6 pull-right">
                    @Html.TextBoxFor(model => model.qtddGames3setDesafiante, new { @class = "form-control input-lg", @placeholder = "3º set" })
                    @Html.ValidationMessageFor(model => model.qtddGames2setDesafiante)
                </div>
                <div id="set3_2" class="form-group col-md-4 col-xs-6 pull-right">
                    @Html.TextBoxFor(model => model.qtddGames3setDesafiado, new { @class = "form-control input-lg", @placeholder = "3º set" })
                    @Html.ValidationMessageFor(model => model.qtddGames3setDesafiado)
                </div>

            </div>

            <p>
                @if ((Model.desafiante_id != 0) && (Model.desafiado_id != 0) && (Model.desafiante_id != 10))
                {
                    if ((ViewBag.Editar == null) || (ViewBag.Editar))
                    {
                        <input type="submit" class="btn btn-primary btn-small" id="submeter" value="Salvar" />
                    }
                    else
                    {
                        @Html.Raw("<b>Rodada Já Encerrada.</b>")
                    }
                }
                else if ((Roles.IsUserInRole("admin")) || (Roles.IsUserInRole("organizador")))
                {
                    <input type="submit" class="btn btn-primary btn-small" id="submeter" value="Salvar" />
                }
            </p>
        }
    </div>

}

@if (ViewBag.JogosPendentes != null)
{
    <div class="container-dashboard">
        <legend>
            @Html.Raw("Jogos a realizar")
        </legend>
        <div class="row clearfix">
            @if (ViewBag.JogosPendentes != null)
            {
                List<Barragem.Models.Jogo> jogosP = ViewBag.JogosPendentes;
                foreach (var item in jogosP)
                {
                    <a href="@Url.Action("LancarResultado", new { id = @item.Id })" title="informar resultado">
                        <div class="col-md-4 column container">
                            <h4 style="color:forestgreen">@Html.DisplayFor(modelItem => item.classe.nome)</h4>
                            <div class="row">
                                <div class="col-xs-4">
                                    <img class="img-responsive" src="/Content/image/JogoPendente.png">
                                </div>
                                <div class="col-xs-8">
                                    <div class="">@Html.DisplayFor(modelItem => item.desafiado.nome)</div>
                                    <div class=""><span style="text-align:center">X</span></div>
                                    <div class="">@Html.DisplayFor(modelItem => item.desafiante.nome)</div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            }
        </div>
    </div>
}

<div class="container-dashboard">
    <legend>
        @Html.Raw("Últimos jogos realizados")
    </legend>
    <div class="row clearfix">
        <div class="col-md-4">
            <center><img class="img-responsive" src="/Content/image/finish.png"></center>
        </div>
        <div class="col-md-8">
            @if (ViewBag.JogosFinalizados != null)
            {
                var color = "";
                var seta = "";
                List<Barragem.Models.Jogo> jogos = ViewBag.JogosFinalizados;
                <div class="box-body table-responsive no-padding">
                    <table border="0" class="table table-striped">
                        <tr>
                            <th>
                                Torneio
                            </th>
                            <th>
                                @Html.DisplayName("Desafiante")
                            </th>
                            <th>
                                @Html.DisplayName("Desafiado")
                            </th>
                            <th>
                                1º set
                            </th>
                            <th>
                                2º set
                            </th>
                            <th>
                                3º set
                            </th>
                        </tr>

                        @foreach (var item in jogos)
                        {
                            color = "";
                            seta = "";
                            var idVencedor = item.idDoVencedor;
                            if (idVencedor == WebSecurity.GetUserId(User.Identity.Name))
                            {
                                color = "green";
                                seta = "<img src='../Content/image/winner.png' />";
                            }
                            else if (idVencedor != 0)
                            {
                                color = "red";
                                seta = "&darr;";
                            }
                            <tr style='color:@Html.Raw(color)'>

                                <td>
                                    @Html.Raw(seta) @Html.DisplayFor(modelItem => item.rodada.codigoSeq)
                                </td>
                                <td>
                                    @if (item.desafiante_id == 10)
                                    {
                                        @Html.Raw("bye")
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.desafiante.nome)
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.desafiado.nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.qtddGames1setDesafiante)/@Html.DisplayFor(modelItem => item.qtddGames1setDesafiado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.qtddGames2setDesafiante)/@Html.DisplayFor(modelItem => item.qtddGames2setDesafiado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.qtddGames3setDesafiante)/@Html.DisplayFor(modelItem => item.qtddGames3setDesafiado)
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            }
        </div>


    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryform")
    <script type="text/javascript">
        $("#dataJogo").datepicker({
            language: 'pt-BR',
            pickTime: false
        });

        $("#horaJogo").mask("99:99");

        $("select").change(function () {
            var str = "";
            str = $("select option:selected").text();
            if (str != "pendente") {
                $("#dadosJogo").show();
                $("#submeter").show();
            } else {
                $("#dadosJogo").hide();
                $("#submeter").hide();
            }
            if (str == "pendente" || str == "marcado" || str == "WO") {
                $("#labelset1").hide();
                $("#labelset2").hide();
                $("#labelset3").hide();
                $("#set1").hide();
                $("#set1_2").hide();
                $("#set2").hide();
                $("#set2_2").hide();
                $("#set3").hide();
                $("#set3_2").hide();
                $("#1set").hide();
                $("#2set").hide();
                $("#3set").hide();

            } else {
                $("#labelset1").show();
                $("#labelset2").show();
                $("#labelset3").show();
                $("#set1").show();
                $("#set1_2").show();
                $("#set2").show();
                $("#set2_2").show();
                $("#set3").show();
                $("#set3_2").show();
                $("#1set").show();
                $("#2set").show();
                $("#3set").show();


            }
        })
        .change();
    </script>
}
