@model Barragem.Models.Jogo
@{
    ViewBag.Title = "Controlar Jogo";
    Layout = "~/Views/Shared/_LayoutTorneio2.cshtml";
}

<div class="alert alert-info alert-dismissable">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12">
                    Baixe o APP para lançar os seus resultados com mais facilidade e rapidez. <br>
                    <a class='btn' href='https://play.google.com/store/apps/details?id=com.rankingtennis&hl=pt_BR'><img src="/Content/image/googlePlay.png" alt="google play" height="30" width="91"></a>
                    <a class='btn' href='https://apps.apple.com/br/app/meu-ranking/id1483076354'><img src="/Content/image/appStore.png" alt="google play" height="30" width="91"></a>
                </div>
            </div>
        </div>
    </div>
</div>

@if (false)
{
    if (Model != null)
    {
    <div class="container-dashboard">
        <h4><b>@ViewBag.NomeTorneio</b></h4>
        
        <h5>
            <label>Situação do jogo:</label> @Html.Raw(Model.situacao.descricao + " " + String.Format("{0:dd/MM/yyyy}", Model.dataJogo) + " " + Model.horaJogo + " " + Model.localJogo + ViewBag.Placar)
        </h5>
        <div class="container-dashboard formato-desktop">
            <div class="row clearfix formato-desktop">
                <div class="col-md-2 col-xs-2">
                    @if ((Model.desafiado_id != 0) && (Model.desafiado.fotoURL != null))
                    {
                        <img class="img-responsive center-block" src="@Url.Action("BuscaFoto", "Account", new { id = Model.desafiado_id })" style="width: 148px; height: 198px;" />
                    }
                    else
                    {
                        <img class="img-responsive center-block" src="/Content/image/sem-foto.jpg" style="width: 148px; height: 198px;" />
                    }
                    @Html.HiddenFor(model => model.desafiado_id)
                </div>
                <div class="col-md-3 col-xs-3">
                    <center>
                        <br><br>
                        <p id="jogo">
                            @if (Model.desafiado_id == 0)
                            {
                                @Html.Raw("<b>Aguardando Adversário</b>");
                            }
                            else
                            {
                                <a href="@Url.Action("../Account/Detalhes", new { userId = Model.desafiado_id })" title="Detalhes do jogador">
                                    <b style="font-size:15px">@Model.desafiado.nome</b>
                                </a><br>
                                <a href="@Model.desafiado.linkwhatsapp"><img width="25" height="25" src="/Content/image/whatsapp.png"></a>
                            }
                        </p>
                    </center>
                </div>
                <div class="col-md-1 exibir-imagem">
                    <center><br><br><h1>X</h1></center>
                </div>
                <div class="col-md-3 col-xs-3">
                    <center>
                        <br><br>
                        <p id="jogo">
                            @if (Model.desafiante_id == 0)
                            {
                                if (Model.faseTorneio == 1)
                                {
                                    @Html.Raw("Bye");
                                }
                                else
                                {
                                    @Html.Raw("<b>Aguardando Adversário</b>");
                                }
                            }
                            else
                            {
                                <a href="@Url.Action("../Account/Detalhes", new { userId = Model.desafiante_id })" title="Detalhes do jogador">
                                    <b style="font-size:15px">@Model.desafiante.nome</b>
                                </a><br>
                                <a href="@Model.desafiante.linkwhatsapp">
                                    <img width="25" height="25" src="/Content/image/whatsapp.png">
                                </a>
                            }
                        </p>
                    </center>
                </div>
                <div class="col-md-2 col-xs-2">
                    @if ((Model.desafiante_id != 0) && (Model.desafiante.fotoURL != null))
                    {
                        <img class="img-responsive center-block" src="@Url.Action("BuscaFoto", "Account", new { id = Model.desafiante_id })" style="width:148px;height:198px;" />
                    }
                    else
                    {
                        <img class="img-responsive center-block" src="/Content/image/sem-foto.jpg" style="width: 148px; height: 198px;" />
                    }
                    @Html.HiddenFor(model => model.desafiante_id)
                </div>
            </div>
        </div>
        <div class="row clearfix formato-mobile">
            <div class="row">
                <div class="col-xs-1 col-mobile" style="color:white">.</div>
                <div class="col-xs-5 col-mobile">
                    @if ((Model.desafiado_id != 0) && (Model.desafiado.fotoURL != null))
                    {
                        <img class="img-responsive center-block" src="@Url.Action("BuscaFoto", "Account", new { id = Model.desafiado_id })" style="width: 148px; height: 198px;" />
                    }
                    else
                    {
                        <img class="img-responsive center-block" src="/Content/image/sem-foto.jpg" style="width: 148px; height: 198px;" />
                    }
                </div>
                <div class="col-xs-5 col-mobile">
                    @if ((Model.desafiante_id != 0) && (Model.desafiante.fotoURL != null))
                    {
                        <img class="img-responsive center-block" src="@Url.Action("BuscaFoto", "Account", new { id = Model.desafiante_id })" style="width: 148px; height: 198px;" />
                    }
                    else
                    {
                        <img class="img-responsive center-block" src="/Content/image/sem-foto.jpg" style="width: 148px; height: 198px;" />
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1 col-mobile" style="color:white">.</div>
                <div class="col-xs-5 col-mobile">
                    <p id="jogo">
                        @if (Model.desafiado_id == 0)
                        {
                            @Html.Raw("Aguardando Adversário");
                        }
                        else
                        {
                            <a href="@Model.desafiado.linkwhatsapp"><img width="25" height="25" src="/Content/image/whatsapp.png"></a>
                            <a href="@Url.Action("../Account/Detalhes", new { userId = Model.desafiado_id })" title="Detalhes do jogador">
                                @Model.desafiado.nome
                            </a>
                        }
                    </p>
                </div>
                @Html.HiddenFor(model => model.desafiado_id)
                <div class="col-xs-5 col-mobile">
                    <p id="jogo">
                        @if (Model.desafiante_id == 0)
                        {
                            @Html.Raw("Aguardando Adversário");
                        }
                        else
                        {
                            <a href="@Model.desafiante.linkwhatsapp"><img width="25" height="25" src="/Content/image/whatsapp.png"></a>
                            <a href="@Url.Action("../Account/Detalhes", new { userId = Model.desafiante_id })" title="Detalhes do jogador">
                                @Model.desafiante.nome
                            </a>
                        }
                    </p>
                </div>
                @Html.HiddenFor(model => model.desafiante_id)
            </div>
        </div>


        <div class="container-fluid">
            <h5><label>Ações</label></h5>
            <div class="row">
                <div class="col-sm-3">
                    <button class="btn btn-success btn-block" id="botaomarcarJogo" @if (Model.situacao_Id == 4 || Model.situacao_Id == 5)
                    { @Html.Raw("disabled")  } onclick="mostrarMarcarJogo()">Marcar horário</button>
                </div>
                <div class="col-sm-3">
                    @if (Model.situacao_Id == 4)
                    {
                        <button class="btn btn-success btn-block" id="botaoinserirResultado" onclick="mostrarInserirResultado()">Alterar resultado</button>
                    }
                    else
                    {
                        <button class="btn btn-success btn-block" id="botaoinserirResultado" onclick="mostrarInserirResultado()">Inserir resultado</button>
                    }
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-success btn-block" id="botaolancarWO" @if (Model.situacao_Id == 4)
                    { @Html.Raw("disabled")  } onclick="mostrarLancarWO()">Lançar WO</button>
                </div>
            </div>
        </div>

        @using (Html.BeginForm("MarcarJogo", "Jogo", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.rodada_id)

            @Html.HiddenFor(model => model.dataLimiteJogo)
            @Html.HiddenFor(model => model.faseTorneio)
            @Html.HiddenFor(model => model.classeTorneio)
            @Html.HiddenFor(model => model.ordemJogo)
            @Html.HiddenFor(model => model.torneioId)
            @Html.HiddenFor(model => model.isRepescagem)
            <input type="hidden" name="userId" value="@Html.Raw(ViewBag.userId)">
            <input type="hidden" name="isTorneio" value="true">

            <div class="row exibir-inserirResultados" id="divMarcarJogo">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Marcar horário</h3>
                    </div>
                    <div class="box-body">
                        <div id="placar" class="form-horizontal form-inline">
                            <span id="dadosJogo">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.dataJogo, new { @class = "control-label col-sm-4" })
                                    <div class="col-sm-6">
                                        <div class="input-group date" id="dataJogo" data-date-format="dd/mm/yyyy">
                                            <input id="dataJogo" name="dataJogo" value="@Html.Raw(Model.dataJogo)" placeholder="dd/mm/yyyy" type="text" autocomplete="off" class="form-control col-md-5" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar">
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Hora</label>
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="form-group col-sm-2">
                                                <input id="horaJogo" name="horaJogo" value="@Html.Raw(Model.horaJogo)" placeholder="hh:mm" type="text" class="form-control col-sm-2" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Local</label>
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="form-group col-sm-2">
                                                <input id="localJogo" name="localJogo" value="@Model.localJogo" type="text" class="form-control col-sm-2" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <center><input type="submit" class="btn btn-primary" id="button_marcarJogo" value="Salvar" /></center>
                    </div>


                </div>
            </div>

        }

        @using (Html.BeginForm("InserirResultado", "Jogo", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.rodada_id)

            @Html.HiddenFor(model => model.dataLimiteJogo)
            @Html.HiddenFor(model => model.faseTorneio)
            @Html.HiddenFor(model => model.classeTorneio)
            @Html.HiddenFor(model => model.ordemJogo)
            @Html.HiddenFor(model => model.torneioId)
            <input type="hidden" name="isTorneio" value="true">
            <div class="container-dashboard.hide" id="divAcoes">
                <div class="row exibir-inserirResultados" id="divInserirResultado">
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            @if (Model.situacao_Id == 4)
                            {
                                <h3 class="box-title">Alterar resultado</h3>
                            }
                            else
                            {
                                <h3 class="box-title">Inserir resultado</h3>
                            }
                        </div>
                        <div class="box-body">
                            <center>
                                <div class="row clearfix">
                                    <div class="col-md-6 col-xs-6">
                                    @if ((Model.desafiado_id != 0))
                                    {
                                        <p id="jogo"><b>@Model.desafiado.nome</b></p>
                                    }
                                    else
                                    {
                                            <p id="jogo"><b>Aguardando Adversário</b></p>
                                    }
                                    </div>
                                    <div lass="col-md-6 col-xs-6">
                                        @if ((Model.desafiante_id != 0))
                                        {
                                        <p id="jogo"><b>@Model.desafiante.nome</b></p>
                                        }
                                        else
                                        {
                                            <p id="jogo"><b>Aguardando Adversário</b></p>
                                        }
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div id="labelset1" class="col-md-6">
                                        <center><p id="set">1º set</p></center>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div id="set1" class="form-group col-md-6 col-xs-6">
                                        @Html.TextBoxFor(model => model.qtddGames1setDesafiado, new { @class = "form-control input-lg", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.qtddGames1setDesafiado)
                                    </div>
                                    <div id="set1_2" class="form-group col-md-6 col-xs-6">
                                        @Html.TextBoxFor(model => model.qtddGames1setDesafiante, new { @class = "form-control input-lg", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.qtddGames1setDesafiante)
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div id="labelset2" class="col-md-6">
                                        <center><p id="set">2º set</p></center>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div id="set2" class="form-group col-md-6 col-xs-6">
                                        @Html.TextBoxFor(model => model.qtddGames2setDesafiado, new { @class = "form-control input-lg", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.qtddGames2setDesafiado)
                                    </div>
                                    <div id="set2_2" class="form-group col-md-6 col-xs-6">
                                        @Html.TextBoxFor(model => model.qtddGames2setDesafiante, new { @class = "form-control input-lg", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.qtddGames2setDesafiante)
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div id="labelset3" class="col-md-6">
                                        <center><p id="set">3º set</p></center>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div id="set3" class="form-group col-md-6 col-xs-6">
                                        @Html.TextBoxFor(model => model.qtddGames3setDesafiado, new { @class = "form-control input-lg", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.qtddGames2setDesafiado)
                                    </div>
                                    <div id="set3_2" class="form-group col-md-6 col-xs-6">
                                        @Html.TextBoxFor(model => model.qtddGames3setDesafiante, new { @class = "form-control input-lg", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.qtddGames3setDesafiante)
                                    </div>

                                </div>
                            </center>
                            <p>
                                @if ((Model.desafiante_id != 0) && (Model.desafiado_id != 0))
                                {
                                    if ((ViewBag.Editar == null) || (ViewBag.Editar))
                                    {
                                        <center><input type="submit" class="btn btn-primary btn-small" id="submeter" value="Salvar" /></center>
                                    }
                                    else
                                    {
                                        @Html.Raw("<b>Rodada Já Encerrada.</b>")
                                    }
                                }
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        }

        @using (Html.BeginForm("LancarWO", "Jogo", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.rodada_id)

            @Html.HiddenFor(model => model.dataLimiteJogo)
            @Html.HiddenFor(model => model.faseTorneio)
            @Html.HiddenFor(model => model.classeTorneio)
            @Html.HiddenFor(model => model.ordemJogo)
            @Html.HiddenFor(model => model.torneioId)
            <input type="hidden" name="userId" value="@Html.Raw(ViewBag.userId)">
            <input type="hidden" name="isTorneio" value="true">
            <div class="row exibir-inserirResultados" id="divLancarWO">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Lançar WO</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-md-12 col-xs-12" for="situacao">Vencedor da partida</label>
                            <div class="col-md-2 col-xs-12">
                                <input type="radio" name="vencedorWO" value=@Html.Raw(Model.desafiado_id) checked> @if (Model.desafiado_id != 0)
                                {@Html.Raw(Model.desafiado.nome)}<br>
                                <input type="radio" name="vencedorWO" value=@Html.Raw(Model.desafiante_id)> @if (Model.desafiante_id != 0)
                                {@Html.Raw(Model.desafiante.nome)}<br>
                            </div>
                            <div class="col-md-2 col-xs-12">
                                @if ((ViewBag.Editar == null) || (ViewBag.Editar))
                                {
                                    <input type="submit" class="btn btn-primary btn-small" id="button_lancarWO" value="Salvar" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>

    }

    if (ViewBag.JogosPendentes != null)
    {
    <div class="container-dashboard">
        <div class="container-fluid">
            <legend>
                @Html.Raw("Jogos Pendentes")
            </legend>
            <div class="row">
                @if (ViewBag.JogosPendentes != null)
                {
                    List<Barragem.Models.Jogo> jogosP = ViewBag.JogosPendentes;
                    foreach (var item in jogosP)
                    {
                        <a href="@Url.Action("LancarResultado2", new { id = @item.Id })" title="informar resultado">
                            <div class="col-sm-4">
                                <h4 style="color:forestgreen">@Html.DisplayFor(modelItem => item.classe.nome)</h4>
                                <div class="row centralizar">
                                    <div class="col-md-4 col-xs-6 column">
                                        <img class="" src="/Content/image/JogoPendente.png">
                                    </div>
                                    <div class="col-md-5 col-xs-6 column">
                                        <div class="row">@Html.DisplayFor(modelItem => item.desafiado.nome)</div>
                                        <div class="row"><span style="text-align:center">X</span></div>
                                        <div class="row">@Html.DisplayFor(modelItem => item.desafiante.nome)</div>
                                        <div class="row"><input type="button" class="btn btn-default" value="Marcar Jogo" /></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    </div>
    }

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryform")

    <script type="text/javascript">
        @if (ViewBag.Sucesso)
        {
            @Html.Raw("toastr.success('"+ViewBag.MsgAlerta+"');");
        }
        function mostrarMarcarJogo() {
            var element = document.getElementById("divMarcarJogo")
            if (element.classList.contains("show")) {
                element.classList.remove("show");
            } else {
                document.getElementById("divInserirResultado").classList.remove("show");
                document.getElementById("divLancarWO").classList.remove("show");
                document.getElementById("divAcoes").classList.remove("hide");
                document.getElementById("divAcoes").classList.remove("container-dashboard");
                //document.getElementById("divHead2Head").classList.remove("show");
                element.classList.add("show");
            }
        }
        function mostrarInserirResultado() {
            var element = document.getElementById("divInserirResultado");
            if (element.classList.contains("show")) {
                element.classList.remove("show");
            } else {
                document.getElementById("divMarcarJogo").classList.remove("show");
                document.getElementById("divLancarWO").classList.remove("show");
                document.getElementById("divAcoes").classList.remove("hide");
                //document.getElementById("divHead2Head").classList.remove("show");
                element.classList.add("show");
            }
        }
        function mostrarLancarWO() {
            var element = document.getElementById("divLancarWO");
            if (element.classList.contains("show")) {
                element.classList.remove("show");
            } else {
                document.getElementById("divMarcarJogo").classList.remove("show");
                document.getElementById("divInserirResultado").classList.remove("show");
                document.getElementById("divAcoes").classList.remove("hide");
                //document.getElementById("divHead2Head").classList.remove("show");
                element.classList.add("show");
            }
        }
    </script>
    <script type="text/javascript">
        $("#dataJogo").datepicker({
            language: 'pt-BR',
            pickTime: false
        });
        $("#horaJogo").mask("99:99");
                
    </script>
}
