@model IEnumerable<Barragem.Models.Torneio>
@{
    ViewBag.Title = "Painel de Controle";
    Barragem.Models.Torneio torneio = new Barragem.Models.Torneio();

    HttpCookie cookie = Request.Cookies["_barragemId"];
    var barraId = 0;
    var scrLogo = "/Content/image/inserirLogo.png";

    if (cookie != null){
        barraId = Convert.ToInt32(cookie.Value.ToString());
        scrLogo = "/Content/image/logo" + barraId + ".png";
        var path = Server.MapPath(scrLogo);
        if (!File.Exists(path)){
            scrLogo = "/Content/image/logo" + barraId + ".jpg";
            path = Server.MapPath(scrLogo);
        }
        if (!File.Exists(path))
        {
            scrLogo = "/Content/image/inserirLogo.png";
        }
    }



}
    
    @if (ViewBag.torneioEmAndamento != null)
    {
        torneio = ViewBag.torneioEmAndamento;
        var valorArrecadado = "0,00";
        if (ViewBag.valorArrecadado!=null)
        {
            valorArrecadado = string.Format("{0:N}", ViewBag.valorArrecadado);
        }


        <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Torneio em Andamento</h3>
                </div>
            <div class="box-body">
                <div class="row form-group" align="left">
                    <div class="col-md-12 col-xs-12" align="left">
                        @torneio.nome
                    </div>
                    <div class="col-md-12 col-xs-12" align="left">
                        @Html.Raw(torneio.dataInicio.ToShortDateString() + " até " + torneio.dataFim.ToShortDateString())
                    </div>
                    <div class="col-md-12 col-xs-12" style="font-size:12px" align="left">
                        @Html.Raw("Link do torneio: <a href='https://www.rankingdetenis.com/torneio-" + torneio.Id + "'>https://www.rankingdetenis.com/torneio-" + torneio.Id + "</a>")
                        @Html.Raw("<button id='btnCopiarLink' data-link='https://www.rankingdetenis.com/torneio-" + torneio.Id + "'> <span class='glyphicon glyphicon-share' /></button>")
                        @Html.Raw("<a href='https://api.whatsapp.com/send?text=https://www.rankingdetenis.com/torneio-" + torneio.Id + "' target='_blank'>")
                            <img width="25" height="25" src="/Content/image/whatsapp.png">
                        @Html.Raw("</a>")
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3 form-group">
                        <a href="@Url.Action("EditInscritos", new { torneioId = torneio.Id })" class="btn btn-success btn-block" id="botaoInscritos"> @ViewBag.qtddInscricoes Inscritos</a>
                    </div>
                    <div class="col-sm-3 form-group">
                        <a href="@Url.Action("EditInscritos", new { torneioId = torneio.Id })" class="btn btn-success btn-block" id="botaoArrecadacao">R$ @valorArrecadado Arrecadado</a>
                    </div>
                    <div class="col-sm-3 form-group">
                        <a href="@Url.Action("EditTorneio", new { id = torneio.Id })" class="btn btn-success btn-block" id="botaoEditar">Editar</a>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-6">
                        <a href="@Url.Action("CreateTorneio", "Torneio")" class="btn btn-primary btn-block" id="botaoCriar">Criar Novo Torneio</a>
                    </div>
                </div>
            </div>
        </div>
        
    }
    else
    {
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Torneio em Andamento</h3>
                </div>
                <div class="box-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4">
                                Sem torneios em andamento neste momento.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4" style="margin-top:15px">
                                <a href="@Url.Action("CreateTorneio", "Torneio")" class="btn btn-primary btn-block" id="botaoCriar">Criar Novo Torneio</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    }


    @if (Model.Count() > 0)
    {
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Torneios Recentes</h3>
            </div>
            <div class="box-body">
            @foreach (var item in Model)
            {
                <div class="row form-group" align="left">
                    <div class="col-md-4 col-xs-7" align="left">
                        @item.nome
                    </div>
                    <div class="col-md-2 col-xs-4" align="left">
                        <a href="@Url.Action("EditTorneio", "Torneio", new { id = item.Id })" class="btn btn-warning btn-block" id="botaoEditarTorneio">Editar</a>
                    </div>
                </div>
            }
            </div>
        </div>

    }
    else
    {
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Torneios Recentes</h3>
            </div>
            <div class="box-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            Você não possui torneios finalizados.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


    @if (ViewBag.circuitos != null)
    {
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Meus Circuitos</h3>
            </div>
            <div class="box-body">
                @foreach (var item in ViewBag.circuitos)
                {
                    <div class="row form-group" align="left">
                        <div class="col-md-4 col-xs-7" align="left">
                            @Html.Raw(item.Nome)
                        </div>
                        <div class="col-md-2 col-xs-4" align="left">
                            <a href="@Url.Action("Edit", "Liga", new { idLiga = item.Id })" class="btn btn-warning btn-block" id="botaoEditarCircuito">Editar</a>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-sm-6">
                        <a href="@Url.Action("Create", "Liga")" class="btn btn-primary btn-block" id="botaoCriar">Criar Novo Circuito</a>
                    </div>
                </div>
            </div>
        </div>
    }
    
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Configurações</h3>
        </div>
        <div class="box-body">
            <div class="row form-group" align="left">
                <div class="col-md-4 col-xs-7" align="left">
                    Integração PagSeguro
                </div>
                <div class="col-md-2 col-xs-4" align="left">
                    <a href="@Url.Action("EditPagSeguro", "Barragens", new { id = ViewBag.barragemId })" class="btn btn-warning btn-block" id="botaoEditarCircuito">Editar</a>
                </div>
            </div>
            <div class="row form-group" align="left">
                <div class="col-md-4 col-xs-7" align="left">
                    Incluir/Alterar Logomarca
                </div>
                <div class="col-md-2 col-xs-5" align="left">
                    <form method="post" enctype="multipart/form-data" action="/Ranking/uploadLogoMarca" name="formLogo" id="formLogo" class="form">
                        <input type="hidden" name="Id" id="Id" value="@ViewBag.barragemId" />
                        <img width="50" height="50" src="@scrLogo" id="imagem1">
                        <div class="fileUpload btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-search"></span>
                            <input type="file" id="fileLogo" name="fileLogo" class="upload fileLogoMarca" />
                        </div>
                        <button type="submit" class="btn btn-warning btn-block" id="botaoUploadLogoMarca">Upload</button>
                    </form>
                </div>
            </div>
            <div class="row form-group" align="left">
                <div class="col-md-4 col-xs-7" align="left">
                    Alterar meus dados
                </div>
                <div class="col-md-2 col-xs-4" align="left">
                    <a href="@Url.Action("EditaUsuario", "Account", new { UserName = User.Identity.Name })" class="btn btn-warning btn-block" id="botaoEditarCircuito">Editar</a>
                </div>
            </div>
            <div class="row form-group" align="left">
                <form method="post" action="/Barragens/EditNomeBarragem" name="formBarragem" id="formBarragem" class="form">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="col-md-2 col-xs-7" align="left">
                            Agremiação
                        </div>
                        <div class="col-md-4 col-xs-7 input-group">
                            <input type="text" class="form-control" value="@ViewBag.nomeAgremiacao" name="nome">
                        </div>
                        <div class="col-md-2 col-xs-7">
                            <button type="submit" class="btn btn-warning btn-block">Alterar</button>
                        </div>
                        
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

    
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryform")
        
        <script type="text/javascript">
            $('#btnCopiarLink').on('click', function (event) {
                event.preventDefault();
                navigator.clipboard.writeText($(this).attr('data-link'));
                toastr.success("Link copiado com sucesso.", "Aviso");
            });

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#imagem1').attr('src', e.target.result);
                        document.getElementById('botaoUploadLogoMarca').style.display = "block";
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $(".fileLogoMarca").change(function () {
                readURL(this);
            });
            document.getElementById('botaoUploadLogoMarca').style.display = "none";

            @if (ViewBag.sucesso != null)
            {
                @Html.Raw("toastr.success('Operação realizada com sucesso.', 'Aviso')");
            }
        </script>
               
    }
