@model IEnumerable<Barragem.Models.Torneio>
@{
    Layout = "~/Views/Shared/_LayoutPainelBT.cshtml";
    ViewBag.Title = "Painel de Controle";

    HttpCookie cookie = Request.Cookies["_barragemId"];
    var barraId = 0;
    var scrLogo = "/Content/image/inserirLogo.png";

    if (cookie != null)
    {
        barraId = Convert.ToInt32(cookie.Value.ToString());
        scrLogo = "/Content/image/logo" + barraId + ".png";
        var path = Server.MapPath(scrLogo);
        if (!File.Exists(path))
        {
            scrLogo = "/Content/image/logo" + barraId + ".jpg";
            path = Server.MapPath(scrLogo);
        }
        if (!File.Exists(path))
        {
            scrLogo = "/Content/image/inserirLogo.png";
        }
    }
}

@section Css_Painel{
    <link href="@Url.Content("/Content/css/painel-organizador.css")" rel="stylesheet" type="text/css" />
}

<section class="row">
    <div class="col-md-12 bg-light border position-relative p-4 mb-5 shadow-lg rounded">
        <div class="row dashboard">
            <div class="col-6 mb-3">
                <h3>Torneios em andamento</h3>
            </div>
            <div class="col-6 mb-3 text-end">
                <a href="/Torneio/CreateTorneio" class="btn btn-orange float-right ps-4 pe-4">Criar novo</a>
            </div>
            <div class="col-md-12 mb-4">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            @if (ViewBag.torneiosEmAndamento.Count > 0)
            {
                foreach (var item in ViewBag.torneiosEmAndamento)
                {

                    var valorArrecadado = "0,00";
                    if (item.valor != null)
                    {
                        valorArrecadado = string.Format("{0:N}", item.valor);
                    }
                    <div class="col-md-6">
                        <div class="card border-0">
                            <div class="card-body trofeu">

                                <div class="row mb-3">
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-3">
                                                <img class="img-fluid trofeu-img" src="/Content/img/trofeu.png" alt="Trofeu" srcset="">
                                            </div>
                                            <div class="col-9">
                                                <h5 class="card-title">@item.nome</h5>
                                                <p class="card-text text-muted">
                                                    @Html.Raw("De " + item.dataInicio.ToShortDateString() + " até " + item.dataFim.ToShortDateString())
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        @Html.Raw("<button class='btn btn-sm btn-success copy d-flex align-items-center' data-link='https://www.rankingdetenis.com/torneio-" + item.Id + "' onclick='copyLinkAllInOne(this)'> Copiar link <img src='/Content/img/link.png' alt='Share'> </button>")
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap buttons justify-content-center custom">

                                    <a class="text-decoration-none" href="@Url.Action("EditInscritos", new { torneioId = item.Id })">
                                        <button class="btn btn-white d-flex align-items-center button-custom">@item.qtddClasses inscritos</button>
                                    </a>

                                    <a class="text-decoration-none" href="@Url.Action("EditInscritos", new { torneioId = item.Id })">
                                        <button class="btn btn-white d-flex align-items-center button-custom">R$ @valorArrecadado</button>
                                    </a>

                                    <a class="text-decoration-none" href="@Url.Action("EditTorneio", new { id = item.Id })">
                                        <button class="btn btn-white d-flex align-items-center custom">
                                            <img class="eye" src="/Content/img/edit.svg" alt="Editar">
                                            Editar
                                        </button><!--buttons__wrapper-->
                                    </a>

                                    <a class="text-decoration-none" href="@Url.Action("Tabela", new { torneioId = item.Id })">
                                        <button class="btn btn-eye btn-white d-flex align-items-center custom">
                                            <img class="eye" src="/Content/img/view.png" alt="Ver">
                                            Ver
                                        </button><!--buttons__wrapper-->
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h5>Sem torneios em andamento neste momento.</h5>
            }
        </div>
    </div>

    <div class="col-md-12 bg-light border p-4 mb-5 shadow-lg rounded">
        <div class="row dashboard">
            <div class="col-md-12 mb-3">
                <h3>Torneios finalizados</h3>
            </div>
            <div class="col-md-12 mb-4">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <div class="col-md-6 p-3">
                        <div class="row shadow-sm p-1 card-torneio">
                            <div class="col-6 d-flex align-items-center">
                                <h5>@item.nome</h5>
                            </div>
                            <div class="col-6 text-end d-flex justify-content-around py-2">
                                <a class="text-decoration-none" href="@Url.Action("EditTorneio", new { id = item.Id })">
                                    <button class="btn btn-white d-flex align-items-center button-mobile">
                                        <img class="edit" src="/Content/img/edit.svg" alt="Editar">
                                        Editar
                                    </button><!--buttons__wrapper-->
                                </a>
                                <a class="text-decoration-none" href="@Url.Action("Tabela", new { torneioId = item.Id })">
                                    <button class="btn btn-eye btn-white d-flex align-items-center button-mobile">
                                        <img class="eye" src="/Content/img/view.png" alt="Editar">
                                        Ver
                                    </button><!--buttons__wrapper-->
                                </a>
                            </div><!--d-flex-->
                        </div>
                    </div>
                }
            }
            else
            { 
                <h5>Você não possui torneios finalizados.</h5>
            }

        </div>
    </div>

    <div class="col-md-12 bg-light border p-4 mb-5 shadow-lg rounded">
        <div class="row dashboard">
            <div class="col-6 mb-3">
                <h3>Meus Circuitos</h3>
            </div>
            <div class="col-6 mb-3 text-end">
                <a href="/Liga/Create" class="btn btn-orange float-right ps-4 pe-4">Criar novo</a>
            </div>
            <div class="col-md-12 mb-4">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            @if (ViewBag.circuitos != null)
            {
                foreach (var item in ViewBag.circuitos)
                {
                    <div class="col-md-6 p-3">
                        <div class="row shadow-sm p-1 card-torneio">
                            <div class="col-6 d-flex align-items-center">
                                <h5>@Html.Raw(item.Nome)</h5>
                            </div>
                            <div class="col-6 text-end d-flex justify-content-around py-2">
                                <a class="text-decoration-none" href="editar-circuito.html">
                                    <a class="text-decoration-none" href="@Url.Action("Edit", "Liga", new { idLiga = item.Id })">
                                        <button class="btn btn-white d-flex align-items-center button-mobile">
                                            <img class="edit" src="/Content/img/edit.svg" alt="Editar">
                                            Editar
                                        </button><!--buttons__wrapper-->
                                    </a>
                                </a>
                                <a class="text-decoration-none" href="@Url.Action("RankingDasLigasBT", "Ranking", new { idLiga = item.Id })">
                                    <button class="btn btn-eye btn-white d-flex align-items-center button-mobile">
                                        <img class="eye" src="/Content/img/view.png" alt="Editar">
                                        Ver
                                    </button><!--buttons__wrapper-->
                                </a>
                            </div><!--d-flex-->
                        </div>
                    </div>
                }
            }
            else
            {
                <h5>Não existem circuitos cadastrados para este usuário.</h5>
            }
        </div>
    </div>

    <div class="col-md-12 bg-light border p-4 mb-5 shadow-lg rounded">
        <div class="row dashboard">
            <div class="col-md-12 mb-3">
                <h3>Configurações</h3>
            </div>
            <div class="col-md-12 mb-4">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div>
                <div class="col-md-6 p-3">
                    <div class="row p-1 card-torneio">
                        <div class="col-8 d-flex align-items-center">
                            <h5>
                                Integração PagSeguro
                                @if (!ViewBag.tokenPagSeguro)
                                {
                                    <span class="pendente">(pendente)</span>
                                }
                                else
                                {
                                    <span class="feito">
                                        (feito) <img src="/Content/img/checked.svg" alt="checked"
                                                     srcset="">
                                    </span>

                                }

                            </h5>
                        </div>
                        <div class="col-4 text-end">
                            <a class="text-decoration-none" href="/Barragens/EditPagSeguro">
                                <button class="btn btn-white d-flex align-items-center button-mobile">
                                    <img class="edit" src="/Content/img/edit.svg" alt="Editar">
                                    Editar
                                </button><!--buttons__wrapper-->
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-3">
                    <div class="row p-1 card-torneio">
                        <div class="col-8 d-flex align-items-center">
                            <h5>
                                Incluir logomarca
                                @if (scrLogo == "/Content/image/inserirLogo.png")
                                {
                                    <span class="pendente">(pendente)</span>
                                }
                                else
                                {
                                    <span class="feito">
                                        (feito) <img src="/Content/img/checked.svg" alt="checked"
                                                     srcset="">
                                    </span>

                                }

                            </h5>
                        </div>
                        <div class="col-4 text-end">
                            <a class="text-decoration-none" href="#idBtnUploadLogoMarca" id="idBtnUploadLogoMarca">
                                <button class="btn btn-white d-flex align-items-center button-mobile">
                                    <img class="edit" src="/Content/img/edit.svg" alt="Editar">
                                    Editar
                                </button>
                            </a>
                            <form method="post" enctype="multipart/form-data" action="/Ranking/uploadLogoMarca" name="formLogoMarca" id="formLogoMarca" class="form">
                                <input type="hidden" name="Id" id="Id" value="@ViewBag.barragemId" />
                                <input hidden type="file" id="fileLogo" name="fileLogo" onchange="this.form.submit();"/>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-3">
                    <div class="row p-1 card-torneio">
                        <div class="col-8 d-flex align-items-center">
                            <h5>
                                Alterar meus dados de usuário
                            </h5>
                        </div>
                        <div class="col-4 text-end">
                            <a class="text-decoration-none" href="@Url.Action("EditaUsuario", "Account", new { UserName = User.Identity.Name })">
                                <button class="btn btn-white d-flex align-items-center button-mobile">
                                    <img class="edit" src="/Content/img/edit.svg" alt="Editar">
                                    Editar
                                </button><!--buttons__wrapper-->
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-3">
                    <div class="row p-1 card-torneio">

                        <div class="col-8 d-flex align-items-center">
                            <h5 id="name">
                                Alterar nome da agremiação
                            </h5>
                            <input class="hidden-input custom-input" type="text" name="agremiacao" id="agremiacao" value="@ViewBag.nomeAgremiacao">
                        </div>

                        <div class="col-4 text-end">

                            <a id="btn-input" class="text-decoration-none">
                                <button class="btn btn-white d-flex align-items-center button-mobile">
                                    <img class="edit" src="/Content/img/edit.svg" alt="Editar">
                                    Editar
                                </button>
                            </a>
                            <a id="btn-salvar" class="text-decoration-none hidden-input">
                                <button style="background: #014626;color:white;" class="btn btn-white d-flex align-items-center button-mobile">
                                    <img class="edit" src="/Content/img/white-pen.png" alt="Salvar">
                                    Salvar
                                </button>
                            </a>

                        </div>
                        <form method="post" action="/Barragens/EditNomeBarragem" id="idFormEditNomeBarragem">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="nome" id="idEditNomeAgremiacao" value="">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        let input = document.getElementById('agremiacao')
        let btnInput = document.getElementById('btn-input')
        let btnSalvar = document.getElementById('btn-salvar')
        let textInput = document.getElementById('name')
        let inputEditNomeAgremiacao = document.getElementById('idEditNomeAgremiacao')
        let formEditNomeBarragem = document.getElementById('idFormEditNomeBarragem')
        let aBtnUploadLogoMarca = document.getElementById('idBtnUploadLogoMarca')
        let inputFileLogo = document.getElementById('fileLogo')

        btnInput.addEventListener('click', () => {
            input.classList.toggle('input-active')
            btnInput.classList.add('hidden-input')
            btnSalvar.classList.add('input-active')
            if (input.classList.contains('input-active')) {
                textInput.style.display = 'none';
            } else {
                textInput.style.display = 'block';
            }
        })

        btnSalvar.addEventListener('click', () => {
            input.classList.toggle('input-active')
            btnInput.classList.remove('hidden-input')
            btnSalvar.classList.remove('input-active')
            if (input.classList.contains('input-active')) {
                textInput.style.display = 'none';
            } else {
                textInput.style.display = 'block';
            }
            inputEditNomeAgremiacao.value = input.value
            formEditNomeBarragem.submit()
        })

        aBtnUploadLogoMarca.addEventListener('click', () => {
            inputFileLogo.click()
        })
        

    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Content/js/menu.js"></script>
    <script src="~/Content/js/copylink.js"></script>
}