@model IEnumerable<Barragem.Models.Torneio>
@{
    Layout = "~/Views/Shared/_LayoutPainelBT.cshtml";
    ViewBag.Title = "Painel de Controle";
    Barragem.Models.Torneio torneio = new Barragem.Models.Torneio();

    HttpCookie cookie = Request.Cookies["_barragemId"];
    var barraId = 0;
    var scrLogo = "/Content/image/inserirLogo.png";

    if (cookie != null){
        barraId = Convert.ToInt32(cookie.Value.ToString());
        scrLogo = "/Content/image/logo" + barraId + ".png";
        var path = Server.MapPath(scrLogo);
        if (!File.Exists(path)){
            scrLogo = "/Content/image/logo" + barraId + ".jpg";
            path = Server.MapPath(scrLogo);
        }
        if (!File.Exists(path))
        {
            scrLogo = "/Content/image/inserirLogo.png";
        }
    }

}

@section Css_Painel{
    <link href="@Url.Content("/Content/css/painel-organizador.css")" rel="stylesheet" type="text/css" />
}

<section class="row">
    <div class="col-md-12 bg-light border position-relative p-4 mb-5 shadow-lg rounded">
        <div class="row dashboard">
            <div class="col-6 mb-3">
                <h3>Torneios em andamento</h3>
            </div>
            <div class="col-6 mb-3 text-end">
                <a href="/Torneio/CreateTorneio" class="btn btn-orange float-right ps-4 pe-4">Criar novo</a>
            </div>
            <div class="col-md-12 mb-4">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            @if (ViewBag.torneioEmAndamento != null)
            {
                torneio = ViewBag.torneioEmAndamento;
                var valorArrecadado = "0,00";
                if (ViewBag.valorArrecadado != null)
                {
                    valorArrecadado = string.Format("{0:N}", ViewBag.valorArrecadado);
                }
                <div class="col-md-8">
                    <div class="card border-0">
                        <div class="card-body trofeu">

                            <div class="row mb-3">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-3">
                                            <img class="img-fluid trofeu-img" src="/Content/img/trofeu.png" alt="Trofeu" srcset="">
                                        </div>
                                        <div class="col-9">
                                            <h5 class="card-title">@torneio.nome</h5>
                                            <p class="card-text text-muted">
                                                @Html.Raw("De " + torneio.dataInicio.ToShortDateString() + " até " + torneio.dataFim.ToShortDateString())
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-8">
                                            @Html.Raw("<button class='btn btn-sm btn-success copy d-flex align-items-center' id='copy-link' data-link='https://www.rankingdetenis.com/torneio-" + torneio.Id + "'> Copiar link <img src='/Content/img/link.png' alt='Share'> </button>")
                                        </div>
                                        <div class="col-4">
                                            @Html.Raw("<a href='https://api.whatsapp.com/send?text=https://www.rankingdetenis.com/torneio-" + torneio.Id + "' target='_blank'>")
                                            <img width="25" height="25" src="/Content/image/whatsapp.png">
                                            @Html.Raw("</a>")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap buttons justify-content-center custom">

                                <a class="text-decoration-none" href="@Url.Action("EditInscritos", new { torneioId = torneio.Id })">
                                    <button class="btn btn-white d-flex align-items-center button-custom">@ViewBag.qtddInscricoes inscritos</button>
                                </a>

                                <a class="text-decoration-none" href="@Url.Action("EditInscritos", new { torneioId = torneio.Id })">
                                    <button class="btn btn-white d-flex align-items-center button-custom">R$ @valorArrecadado</button>
                                </a>

                                <a class="text-decoration-none" href="@Url.Action("EditTorneio", new { id = torneio.Id })">
                                    <button class="btn btn-white d-flex align-items-center custom">
                                        <img class="eye" src="/Content/img/edit.svg" alt="Editar">
                                        Editar
                                    </button><!--buttons__wrapper-->
                                </a>

                                <a class="text-decoration-none" href="#">
                                    <button class="btn btn-eye btn-white d-flex align-items-center custom">
                                        <img class="eye" src="/Content/img/view.png" alt="Editar">
                                        Ver
                                    </button><!--buttons__wrapper-->
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <h5>Sem torneios em andamento neste momento.</h5>
            }
        </div>
    </div>

    <div class="col-md-12 bg-light border p-4 mb-5 shadow-lg rounded">
        <div class="row dashboard">
            <div class="col-md-12 mb-3">
                <h3>Torneios finalizados</h3>
            </div>
            <div class="col-md-12 mb-4">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <div class="col-md-6 p-3">
                        <div class="row shadow-sm p-1 card-torneio">
                            <div class="col-6 d-flex align-items-center">
                                <h5>@item.nome</h5>
                            </div>
                            <div class="col-6 text-end d-flex justify-content-around py-2">
                                <a class="text-decoration-none" href="@Url.Action("EditTorneio", "Torneio", new { id = item.Id })">
                                    <button class="btn btn-white d-flex align-items-center button-mobile">
                                        <img class="edit" src="/Content/img/edit.svg" alt="Editar">
                                        Editar
                                    </button><!--buttons__wrapper-->
                                </a>
                                <a class="text-decoration-none" href="#">
                                    <button class="btn btn-eye btn-white d-flex align-items-center button-mobile">
                                        <img class="eye" src="/Content/img/view.png" alt="Editar">
                                        Ver
                                    </button><!--buttons__wrapper-->
                                </a>
                            </div><!--d-flex-->
                        </div>
                    </div>
                }
            }
            else
            { 
                <h5>Você não possui torneios finalizados.</h5>
            }

        </div>
    </div>

    <div class="col-md-12 bg-light border p-4 mb-5 shadow-lg rounded">
        <div class="row dashboard">
            <div class="col-6 mb-3">
                <h3>Meus Circuitos</h3>
            </div>
            <div class="col-6 mb-3 text-end">
                <a href="/Liga/Create" class="btn btn-orange float-right ps-4 pe-4">Criar novo</a>
            </div>
            <div class="col-md-12 mb-4">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            @if (ViewBag.circuitos != null)
            {
                foreach (var item in ViewBag.circuitos)
                {
                    <div class="col-md-6 p-3">
                        <div class="row shadow-sm p-1 card-torneio">
                            <div class="col-6 d-flex align-items-center">
                                <h5>@Html.Raw(item.Nome)</h5>
                            </div>
                            <div class="col-6 text-end d-flex justify-content-around py-2">
                                <a class="text-decoration-none" href="editar-circuito.html">
                                    <a class="text-decoration-none" href="@Url.Action("Edit", "Liga", new { idLiga = item.Id })">
                                        <button class="btn btn-white d-flex align-items-center button-mobile">
                                            <img class="edit" src="/Content/img/edit.svg" alt="Editar">
                                            Editar
                                        </button><!--buttons__wrapper-->
                                    </a>
                                </a>
                                <a class="text-decoration-none" href="@Url.Action("RankingDasLigasBT", "Ranking", new { idLiga = item.Id })">
                                    <button class="btn btn-eye btn-white d-flex align-items-center button-mobile">
                                        <img class="eye" src="/Content/img/view.png" alt="Editar">
                                        Ver
                                    </button><!--buttons__wrapper-->
                                </a>
                            </div><!--d-flex-->
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <div class="col-md-12 bg-light border p-4 mb-5 shadow-lg rounded">
        <div class="row dashboard">
            <div class="col-md-12 mb-3">
                <h3>Configurações</h3>
            </div>
            <div class="col-md-12 mb-4">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div>
                <div class="col-md-6 p-3">
                    <div class="row p-1 card-torneio">
                        <div class="col-8 d-flex align-items-center">
                            <h5>
                                Integração PagSeguro
                                <span class="pendente">(pendente)</span>

                            </h5>
                        </div>
                        <div class="col-4 text-end">
                            <a class="text-decoration-none" href="#">
                                <button class="btn btn-white d-flex align-items-center button-mobile">
                                    <img class="edit" src="/Content/img/edit.svg" alt="Editar">
                                    Editar
                                </button><!--buttons__wrapper-->
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-3">
                    <div class="row p-1 card-torneio">
                        <div class="col-8 d-flex align-items-center">
                            <h5>Incluir logomarca</h5>
                        </div>
                        <div class="col-4 text-end">
                            <form method="post" enctype="multipart/form-data" action="/Ranking/uploadLogoMarca" name="formLogo" id="formLogo" class="form">
                                <input type="hidden" name="Id" id="Id" value="@ViewBag.barragemId" />
                                <img width="50" height="50" src="@scrLogo" id="imagem1">
                                <div class="fileUpload btn btn-default btn-xs">
                                    <span class="bi bi-search"></span>
                                    <input type="file" id="fileLogo" name="fileLogo" class="upload fileLogoMarca" />
                                </div>
                                <a id="botaoUploadLogoMarca" class="text-decoration-none">
                                    <button type="submit" class="btn btn-white d-flex align-items-center button-mobile btn-block">
                                        <img class="edit" src="/Content/img/edit.svg" alt="Upload">
                                        Upload
                                    </button><!--buttons__wrapper-->
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-3">
                    <div class="row p-1 card-torneio">
                        <div class="col-8 d-flex align-items-center">
                            <h5>
                                Alterar meus dados de usuário
                            </h5>
                        </div>
                        <div class="col-4 text-end">
                            <a class="text-decoration-none" href="@Url.Action("EditaUsuario", "Account", new { UserName = User.Identity.Name })">
                                <button class="btn btn-white d-flex align-items-center button-mobile">
                                    <img class="edit" src="/Content/img/edit.svg" alt="Editar">
                                    Editar
                                </button><!--buttons__wrapper-->
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-3">
                    <div class="row p-1 card-torneio">
                        <div class="col-12 d-flex align-items-center">
                            <h5 id="name">
                                Alterar nome da agremiação
                            </h5>
                        </div>
                    </div>
                    <div class="row p-1 card-torneio">
                        <form method="post" action="/Barragens/EditNomeBarragem" name="formBarragem" id="formBarragem" style="display: inline-flex;">
                            @Html.AntiForgeryToken()
                            <div class="col-8 d-flex align-items-center">
                                <input class="input-edit" type="text" name="nome" placeholder="Agremiação" value="@ViewBag.nomeAgremiacao" style="width: 90%;">
                            </div>
                            <div class="col-4 text-end">
                                <a id="btn-input" class="text-decoration-none">
                                    <button class="btn btn-white d-flex align-items-center button-mobile">
                                        <img class="edit" src="/Content/img/edit.svg" alt="Editar">
                                        Editar
                                    </button><!--buttons__wrapper-->
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("/Scripts/jquery-2.1.1.min.js")
    @Scripts.Render("/Scripts/jquery.form.js")
    
    <script>
        

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imagem1').attr('src', e.target.result);
                    document.getElementById('botaoUploadLogoMarca').style.display = "block";
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $(".fileLogoMarca").change(function () {
            readURL(this);
        });

        document.getElementById('botaoUploadLogoMarca').style.display = "none";

    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Content/js/menu.js"></script>
    <script src="~/Content/js/copylink.js"></script>
}