@model IEnumerable<Barragem.Models.Jogo>

    @{
        if (ViewBag.classeFaseGrupo != true)
        {
            Layout = "~/Views/Shared/_LayoutTorneio2.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutTorneioFaseGrupo.cshtml";
        }
        ViewBag.Title = "Tabela Torneio";
        int? faseTorneio = 0;
        string faseId = "";
    }
    <link rel="stylesheet" href="~/Content/css/torneio/editJogos.css">

    <h4 class="info-box-text">@ViewBag.nomeTorneio</h4>

    <div id="loadingDiv" style="z-index: 999999991; ">
        <div class="loader">Carregando...</div>
        <div id="exibirLoadingPontuacaoCircuito">
            <p style="text-align:center;color:white">
                AGUARDE...
            </p>
            <p style="text-align:center;color:white">
                Estamos gerando as pontuações da liga/circuito.
            </p>
            <p style="text-align:center;color:white">
                Não feche esta janela. Essa operação pode demorar um pouco.
            </p>
        </div>
    </div>

    @if ((!ViewBag.tabelaLiberada) && !((Roles.IsUserInRole("admin")) || (Roles.IsUserInRole("organizador")) || (Roles.IsUserInRole("adminTorneio")) || (Roles.IsUserInRole("adminTorneioTenis"))))
    {
        <div class="box-body">
            <p>Aguarde. Tabela ainda não liberada.</p>
        </div>
    }
    else
    {

        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-4 col-sm-2 control-label">Classes</label>
                <div class="col-sm-4 col-xs-8">
                    <select name="filtroClasse" id="filtroClasse" class="form-control" onchange="Selecionar(false)">
                        @if (ViewBag.Classes != null)
                        {
                            foreach (var item2 in ViewBag.Classes)
                            {
                                <option value="@item2.Id" @if (ViewBag.filtroClasse == item2.Id) { @Html.Raw("selected") }>@item2.nome</option>
                            }
                        }
                    </select>
                    <input type="hidden" value="@ViewBag.TorneioId" name="torneioId" id="torneioId">
                </div>
                @if (ViewBag.viewFaseGrupo == true)
                {
                    <div class="col-sm-2 col-xs-4">
                        <input type="button" value="Fase Grupo" name="verFaseGrupo" id="verFaseGrupo" class="form-control btn btn-primary" onclick="Selecionar(false)">
                    </div>
                }
                else if (ViewBag.classeFaseGrupo == true)
                {
                    <div class="col-sm-2 col-xs-4">
                        <input type="button" value="Imprimir" class="btn btn-primary" onclick="ImprimirFaseGrupo()" />
                    </div>
                }

                @if (ViewBag.classeFaseGrupo != true && ViewBag.modeloTodosContraTodos == null)
                {
                    <div class="col-sm-2 col-xs-4">
                        <input type="button" value="imprimir" class="btn btn-primary" onclick="Imprimir()" />
                    </div>
                }
            </div>
            @if (ViewBag.classeFaseGrupo == true)
            {
                int grupo = ViewBag.qtddGrupos ?? 0;
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 control-label">Grupo</label>
                    <div class="col-sm-4 col-xs-8">
                        <select name="grupo" id="grupo" class="form-control" onchange="Selecionar(false)">
                            @for (int i = 1; i <= ViewBag.qtddGrupos; i++)
                            {
                                <option value="@i" @if (ViewBag.grupo == i) { @Html.Raw("selected") }>@i</option>
                            }
                        </select>
                    </div>
                    @if (ViewBag.temMataMata == true)
                    {
                        <div class="col-sm-2 col-xs-4">
                            <input type="button" value="Fase Mata-Mata" name="verMataMata" id="verMataMata" class="form-control btn btn-primary" onclick="Selecionar(true)">
                        </div>
                    }
                </div>

            }

        </div>
        if (ViewBag.classeFaseGrupo != true && ViewBag.modeloTodosContraTodos == null)
        {
            <div class="box-body table-responsive no-padding no-border table-hover">
                <div class="" id="tabFase2">
                    <div id="conteudo_tabela_jogos">
                        <div class="display_jogos">
                            <div class="mover_esquerda"><img src="~/Images/seta.png"></div>
                            <div class="mover_direita"><img src="~/Images/seta.png"></div>
                            @{
                                faseTorneio = 0;
                            }
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    if (faseTorneio != item.faseTorneio)
                                    {
                                        faseId = "times" + item.faseTorneio;
                                        if (faseTorneio != 0)
                                        {
                                            @Html.Raw("</div>");
                                        }
                                        faseTorneio = item.faseTorneio;
                                        if (faseTorneio == 1)
                                        {
                                            faseId = "time" + item.faseTorneio;
                                        }
                                        @Html.Raw("<div id='" + faseId + "' class='col-xs-2 box_rodada'>");
                                        <div class="titulo">@item.descricaoFaseTorneio</div>
                                    }
                                    @Html.Partial("_PartialJogoTabela", (Barragem.Models.Jogo)item)
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row" style="margin-left: 0px;">
                <div class="box-body table-responsive no-padding no-border table-hover">
                    <br>
                    <div class="col-sm-10 col-xs-10 box-body table-responsive no-padding">
                        <table class="table table table-hover">
                            <thead>
                                <tr class="active">
                                    <th class="col-sm-1 col-xs-1">#</th>
                                    <th>Classificação</th>
                                    <th title="número de vitórias">V</th>
                                    <th title="confronto direto">CF</th>
                                    <th title="Saldo de Sets/Saldo de Games">S.S/S.G.</th>
                                    <th title="Média de Sets/Saldo de Games">A.S/A.G.</th>
                                </tr>
                            </thead>
                            @{
                                var posicao = 0;
                                foreach (var item in ViewBag.classificacaoGrupo)
                                {
                                    posicao++;
                                    <tr>
                                        <td> @posicao º</td>
                                        <td>
                                            @item.nome
                                            @if (item.inscricao.parceiroDupla != null)
                                            {
                                                @Html.Raw("/ " + item.inscricao.parceiroDupla.nome)
                                            }
                                        </td>
                                        <td>@item.inscricao.pontuacaoFaseGrupo</td>
                                        <td>
                                            @if (item.confrontoDireto > 0)
                                            {@Html.Raw("V")}
                                        </td>
                                        <td>@Html.Raw(item.saldoSets + "/" + item.saldoGames)</td>
                                        <td>@Html.Raw(item.averageSets + "/" + item.averageGames)</td>

                                    </tr>
                                }

                                foreach (var item in ViewBag.InscritosWO)
                                {
                                    posicao++;
                                    <tr>
                                        <td> @posicao º</td>
                                        <td>
                                            @item.nome
                                            @if (item.inscricao.parceiroDupla != null)
                                            {
                                                @Html.Raw("/ " + item.inscricao.parceiroDupla.nome)
                                            }
                                        </td>
                                        <td colspan="4">Eliminado por WO</td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" style="background-color: #f5f5f5; margin: 10px 0 10px 0; padding: 5px; display: inline-block; ">
                <span style="white-space: nowrap;"><strong>V:</strong> Vitória</span> |
                <span style="white-space: nowrap;"><strong>CF:</strong> Confronto Direto</span> |
                <span style="white-space: nowrap;"><strong>S.S:</strong> Saldo de Sets</span> |
                <span style="white-space: nowrap;"><strong>SG:</strong> Saldo de Games</span> |
                <span style="white-space: nowrap;"><strong>A.S:</strong> Média de Sets</span> |
                <span style="white-space: nowrap;"><strong>AG:</strong> Média de Games</span>
            </div>
            if (ViewBag.EhTriploEmpate)
            {
                <div class="row" style="color:red; margin: 0; padding: 5px; ">
                    <span>Triplo empate - Classificação definida por sorteio - Regra CBT</span>
                </div>
            }
            <div class="row" style="margin: 0 0 0 0; padding: 5px;">
                <button id="btnEntendaDesempate" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEntendaDesempate">
                    Entenda o critério de desempate
                </button>
            </div>
            <br><br>
            <div class="row" style="margin-left: 0px;" id="tabelaFaseGrupo">
                <div class="box-body table-responsive no-padding no-border table-hover">
                    <div class="" id="tabFase2">
                        <div id="">
                            <div class="" style="padding-top:30px">
                                @{
                                    int? rodada = 0;
                                }
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        if (rodada != item.rodadaFaseGrupo)
                                        {
                                            if (rodada != 0)
                                            {
                                                @Html.Raw("</div>");
                                            }
                                            rodada = item.rodadaFaseGrupo;
                                            @Html.Raw("<div class='col-xs-2 box_rodada_fg' style='height:" + ViewBag.height + "px!important;'>");
                                            <div class="titulo">Rodada @item.rodadaFaseGrupo</div>
                                        }
                                        @Html.Partial("_PartialJogoTabelaFaseGrupo", (Barragem.Models.Jogo)item)
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modalEntendaDesempate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 999999999999;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                            <h4 class="modal-title" id="myModalLabel">Critério Desempate</h4>
                        </div>
                        <div class="modal-body">
                            @Html.Raw(ViewBag.Regra)
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        }

    }

    @if (ViewBag.classeFaseGrupo != true && ViewBag.modeloTodosContraTodos == null)
    {
        @Html.Partial("_PartialLancarPlacarJogo", "TABELA_MATAMATA")
    }
    else
    {
        @Html.Partial("_PartialLancarPlacarJogo", "TABELA_FASEGRUPO")
    }

    @section Scripts {
        <script src="~/Content/js/torneio/lancarPlacar.js"></script>
        <script type="text/javascript">

            var loaderPage = $('#loadingDiv');

            var LoaderSelecionado;
            const TipoLoader = {
                PADRAO: 1,
                CONSOLIDACAO: 2
            };

            function ShowLoader(mostrar) {
                if (LoaderSelecionado == TipoLoader.CONSOLIDACAO) {
                    $("#exibirLoadingPontuacaoCircuito").css('display', 'block');
                }
                else {
                    $("#exibirLoadingPontuacaoCircuito").css('display', 'none');
                }

                if (mostrar) {
                    loaderPage.show();
                }
                else {
                    loaderPage.hide();
                }
            }

            function Selecionar(verMataMata) {
                var torneioId = document.getElementById('torneioId').value;
                var classeId = document.getElementById('filtroClasse').value;
                var grupo = 1;
                if (document.getElementById('grupo') != undefined) {
                    grupo = document.getElementById('grupo').value;
                }
                if (verMataMata) {
                    grupo = 1000;
                }
                window.location = "Tabela?torneioId=" + torneioId + "&filtroClasse=" + classeId + "&grupo=" + grupo;
            }

            function Imprimir() {
                var torneioId = document.getElementById('torneioId').value;
                var classeId = document.getElementById('filtroClasse').value;
                window.open("TabelaImprimir?torneioId=" + torneioId + "&fClasse=" + classeId, '_blank');
                //window.location = "TabelaImprimir?torneioId=" + torneioId + "&fClasse=" + classeId;
            }

            function ImprimirFaseGrupo() {
                var torneioId = document.getElementById('torneioId').value;
                var classeId = document.getElementById('filtroClasse').value;
                window.open("ImprimirTabelaFaseGrupo?torneioId=" + torneioId + "&filtroClasse=" + classeId, '_blank');
            }

        </script>
    }
