@model IEnumerable<Barragem.Models.Jogo>
@{
    if (ViewBag.classeFaseGrupo != true){
        Layout = "~/Views/Shared/_LayoutTorneio2.cshtml";
    }else{
        Layout = "~/Views/Shared/_LayoutTorneioFaseGrupo.cshtml";
    }
    ViewBag.Title = "Tabela Torneio";
    int? faseTorneio = 0;
    string faseId = "";
    }

    <h4 class="info-box-text">@ViewBag.nomeTorneio</h4>

    <div class="box-body table-responsive no-padding no-border table-hover">
    @if ((!ViewBag.tabelaLiberada) && !((Roles.IsUserInRole("admin")) || (Roles.IsUserInRole("organizador"))))
    {
        <p>Aguarde. Tabela ainda não liberada.</p>
    }
    else
    {
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-4 col-sm-2 control-label">Classes</label>
                <div class="col-sm-4 col-xs-8">
                    <select name="filtroClasse" id="filtroClasse" class="form-control" onchange="Selecionar(false)">
                        @if (ViewBag.Classes != null)
                        {
                            foreach (var item2 in ViewBag.Classes)
                            {
                        <option value="@item2.Id" @if (ViewBag.filtroClasse == item2.Id)
                        { @Html.Raw("selected") }>@item2.nome</option>
                            }
                        }
                    </select>
                    <input type="hidden" value="@ViewBag.TorneioId" name="torneioId" id="torneioId">
                </div>
                @if (ViewBag.viewFaseGrupo == true){
                    <div class="col-sm-2 col-xs-4">
                        <input type="button" value="Fase Grupo" name="verFaseGrupo" id="verFaseGrupo" class="form-control btn btn-primary" onclick="Selecionar(false)">
                        <!--input type="button" value="imprimir" class="btn btn-primary" onclick="Imprimir()"-->
                    </div>
                }
                else
                {
                    <div class="col-sm-2 col-xs-4">
                        <input type="button" value="imprimir" class="btn btn-primary" onclick="Imprimir()"/>
                    </div>
                }
            </div>
            @if (ViewBag.classeFaseGrupo == true)
            {
                int grupo = ViewBag.qtddGrupos;
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 control-label">Grupo</label>
                    <div class="col-sm-4 col-xs-8">
                        <select name="grupo" id="grupo" class="form-control" onchange="Selecionar(false)">
                            @for (int i = 1; i <= ViewBag.qtddGrupos; i++)
                            {
                                <option value="@i" @if (ViewBag.grupo == i)
                                { @Html.Raw("selected")  }>@i</option>
                            }
                        </select>
                    </div>
                    @if (ViewBag.temMataMata == true)
                    {
                    <div class="col-sm-2 col-xs-4">
                        <input type="button" value="Fase Mata-Mata" name="verMataMata" id="verMataMata" class="form-control btn btn-primary" onclick="Selecionar(true)">
                    </div>
                    }
                </div>
               
            }
            
        </div>
        if (ViewBag.classeFaseGrupo != true)
        {
            <div class="" id="tabFase2">
                <div id="conteudo_tabela_jogos">
                    <div class="display_jogos">
                        <div class="mover_esquerda"><img src="~/Images/seta.png"></div>
                        <div class="mover_direita"><img src="~/Images/seta.png"></div>
                        @{
                            faseTorneio = 0;
                        }
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                if (faseTorneio != item.faseTorneio)
                                {
                                    faseId = "times" + item.faseTorneio;
                                    if (faseTorneio != 0)
                                    {
                                    @Html.Raw("</div>");
                                    }
                                    faseTorneio = item.faseTorneio;
                                    if (faseTorneio == 1)
                                    {
                                        faseId = "time" + item.faseTorneio;
                                    }
                                @Html.Raw("<div id='" + faseId + "' class='col-xs-2 box_rodada'>");
                                <div class="titulo">@item.descricaoFaseTorneio</div>
                                }
                            @Html.Partial("_PartialJogoTabela", (Barragem.Models.Jogo)item)
                            }
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <br>
            <div class="col-sm-6 col-xs-10 box-body table-responsive no-padding">
                <table class="table table table-hover">
                    <thead>
                        <tr class="active">
                            <th class="col-sm-1 col-xs-1">#</th>
                            <th>Classificação</th>
                            <th title="número de vitórias">V</th>
                            <th title="confronto direto">CF</th>
                            <th title="Saldo de Sets/Saldo de Games">S.S/S.G.</th>
                            <th title="Média de Sets/Saldo de Games">A.S/A.G.</th>
                        </tr>
                    </thead>
                    @{
                        var posicao = 0;
                        foreach (var item in ViewBag.classificacaoGrupo)
                        {
                            posicao++;
                            <tr>
                                <td> @posicao º</td>
                                <td>
                                    @item.nome
                                    @if (item.inscricao.parceiroDupla != null)
                                    {
                                        @Html.Raw("/ " + item.inscricao.parceiroDupla.nome)
                                    }
                                </td>
                                <td>@item.inscricao.pontuacaoFaseGrupo</td>
                                <td>@if (item.confrontoDireto > 0)
                                { @Html.Raw("V") } </td>
                                <td>@Html.Raw(item.saldoSets + "/" + item.saldoGames)</td>
                                <td>@Html.Raw(item.averageSets + "/" + item.averageGames)</td>

                            </tr>
                        }
                    }
                </table>
            </div>
            <div class="" id="tabFase2">
                    <div id="conteudo_tabela_jogos">
                        <div class="display_jogos">
                            @{
                                int? rodada = 0;
                            }
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    if (rodada != item.rodadaFaseGrupo)
                                    {
                                        if (rodada != 0)
                                        {
                                            @Html.Raw("</div>");
                                        }
                                        rodada = item.rodadaFaseGrupo;
                                        @Html.Raw("<div class='col-xs-2 box_rodada'>");
                                        <div class="titulo">Rodada @item.rodadaFaseGrupo</div>
                                    }
                                    @Html.Partial("_PartialJogoTabelaFaseGrupo", (Barragem.Models.Jogo)item)
                                }
                            }
                        </div>
                    </div>
                </div>                
        }
    }
    </div>
    @section Scripts {
        <script type="text/javascript">
            function Selecionar(verMataMata) {
                var torneioId = document.getElementById('torneioId').value;
                var classeId = document.getElementById('filtroClasse').value;
                var grupo = 1;
                if (document.getElementById('grupo') != undefined) {
                    grupo = document.getElementById('grupo').value;
                }
                if (verMataMata) {
                    grupo = 1000;
                }
                window.location = "Tabela?torneioId=" + torneioId + "&filtroClasse=" + classeId + "&grupo=" + grupo;
            }

            function Imprimir() {
                var torneioId = document.getElementById('torneioId').value;
                var classeId = document.getElementById('filtroClasse').value;
                window.open("TabelaImprimir?torneioId=" + torneioId + "&fClasse=" + classeId, '_blank');
                //window.location = "TabelaImprimir?torneioId=" + torneioId + "&fClasse=" + classeId;
            }

        </script>
    }
