@model IEnumerable<Barragem.Models.Jogo>
    @{
        Layout = "~/Views/Shared/_LayoutTorneioFaseGrupo.cshtml";

        ViewBag.Title = "Tabela Torneio";
        int? faseTorneio = 0;
        string faseId = "";
        int grupo = ViewBag.qtddGrupos;
        var classificacaoGrupo = (List<Barragem.Models.ClassificacaoFaseGrupo>) ViewBag.classificacaoGrupo;
    }

    <h4 class="info-box-text">@ViewBag.nomeTorneio</h4>

    <div class="box-body table-responsive no-padding no-border table-hover">
        @if ((!ViewBag.tabelaLiberada) && !((Roles.IsUserInRole("admin")) || (Roles.IsUserInRole("organizador")) || (Roles.IsUserInRole("adminTorneio")) || (Roles.IsUserInRole("adminTorneioTenis"))))
        {
            <p>Aguarde. Tabela ainda não liberada.</p>
        }
        else
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 control-label">Classes</label>
                    <div class="col-sm-4 col-xs-8">
                        <select name="filtroClasse" id="filtroClasse" class="form-control" onchange="Selecionar()">
                            @if (ViewBag.Classes != null)
                            {
                                foreach (var item2 in ViewBag.Classes)
                                {
                                    <option value="@item2.Id" @if (ViewBag.filtroClasse == item2.Id) { @Html.Raw("selected")    }>@item2.nome</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 control-label">Grupo</label>
                    <div class="col-sm-4 col-xs-8">
                        <select name="grupo" id="grupo" class="form-control" onchange="Selecionar()">
                            @for (int i = 1; i <= grupo; i++)
                            {
                                <option value="@i" @if (ViewBag.grupo == i) { @Html.Raw("selected") }>@i</option>
                            }
                        </select>
                        <input type="hidden" value="@ViewBag.TorneioId" name="torneioId" id="torneioId">
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-6 col-xs-10 box-body table-responsive no-padding">
                <table class="table table table-hover">
                    <thead>
                        <tr class="active">
                            <th class="col-sm-1 col-xs-1">#</th>
                            <th>Classificação</th>
                            <th title="número de vitórias">V</th>
                            <th title="confronto direto">CF</th>
                            <th title="Saldo de Sets/Saldo de Games">S.S/S.G.</th>
                        </tr>
                    </thead>
                    @{
                        var posicao = 0;
                        foreach (var item in classificacaoGrupo)
                        {
                            posicao++;
                            <tr>
                                <td> @posicao º</td>
                                <td>
                                    @item.nome
                                    @if (item.inscricao.parceiroDupla != null) {
                                        @Html.Raw("/ " + item.inscricao.parceiroDupla.nome)
                                    }
                                </td>
                                <td>@item.inscricao.pontuacaoFaseGrupo</td>
                                <td>@if (item.confrontoDireto > 0) { @Html.Raw("V") } </td>
                                <td>@Html.Raw(item.saldoSets + "/" + item.saldoGames)</td>

                        </tr>
                        }
                    }
                </table>
            </div>
            <div class="" id="tabFase2">
                <div id="conteudo_tabela_jogos">
                    <div class="display_jogos">
                        @{
                            int? rodada = 0;
                        }
                        @if (Model != null){
                    foreach (var item in Model)
                    {
                        if (rodada != item.rodadaFaseGrupo)
                        {
                            if (rodada != 0)
                            {
                                        @Html.Raw("</div>");
                            }
                            rodada = item.rodadaFaseGrupo;
                                    @Html.Raw("<div class='col-xs-2 box_rodada'>");
                                    <div class="titulo">Rodada @item.rodadaFaseGrupo</div>
                                }
                                @Html.Partial("_PartialJogoTabelaFaseGrupo", (Barragem.Models.Jogo)item)
                            }
                        }
                    </div>
                </div>
            </div>
                        }
    </div>
    @section Scripts {
        <script type="text/javascript">
            function Selecionar() {
                var torneioId = document.getElementById('torneioId').value;
                var classeId = document.getElementById('filtroClasse').value;
                var grupo = document.getElementById('grupo').value;
                window.location = "TabelaFaseGrupo?torneioId=" + torneioId + "&filtroClasse=" + classeId + "&grupo=" + grupo ;
            }
        </script>
    }
