@model IEnumerable<Barragem.Models.Jogo>
@{
    Layout = "~/Views/Shared/_LayoutTorneio2.cshtml";

    ViewBag.Title = "Tabela Torneio";
    int? faseTorneio = 0;
    string faseId = "";
}

    <h4 class="info-box-text">@ViewBag.nomeTorneio</h4>

    <div class="box-body table-responsive no-padding no-border table-hover">
    @if ((!ViewBag.tabelaLiberada) && !((Roles.IsUserInRole("admin")) || (Roles.IsUserInRole("organizador")))){
        <p>Aguarde. Tabela ainda não liberada.</p>
    }else{
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 control-label">Classes</label>
                <div class="col-sm-4 col-xs-8">
                    <select name="filtroClasse" id="filtroClasse" class="form-control" onchange="Selecionar()">
                        @foreach (var item2 in ViewBag.Classes){
                        <option value="@item2.Id" @if (ViewBag.filtroClasse == item2.Id) { @Html.Raw("selected") }>@item2.nome</option>
                        }
                    </select>
                    <input type="hidden" value="@ViewBag.TorneioId" name="torneioId" id="torneioId">
                </div>
                <div class="col-sm-2 col-xs-3">
                    <input type="button" value="imprimir" class="btn btn-primary" onclick="Imprimir()">
                </div>
            </div>
        </div>
                
        <div class="" id="tabFase2">
                <div id="conteudo_tabela_jogos">
                    <div class="display_jogos">
                        <div class="mover_esquerda"><img src="~/Images/seta.png"></div>
                        <div class="mover_direita"><img src="~/Images/seta.png"></div>
                        @{
                            faseTorneio = 0;
                        }
                        @foreach (var item in Model){
                            if(faseTorneio!=item.faseTorneio){
                                faseId = "times" + item.faseTorneio;
                                if (faseTorneio != 0) {
                                    @Html.Raw("</div>");
                                }
                                faseTorneio = item.faseTorneio;
                                if (faseTorneio == 1) {
                                    faseId = "time" + item.faseTorneio;
                                }
                                @Html.Raw("<div id='" + faseId + "' class='col-xs-2 box_rodada'>");
                                <div class="titulo">@item.descricaoFaseTorneio</div>
                            }
                            @Html.Partial("_PartialJogoTabela", (Barragem.Models.Jogo)item)
                        }
                    </div>
                </div>
            </div>
    }
    </div>
    @section Scripts {
        <script type="text/javascript">
            function Selecionar() {
                var torneioId = document.getElementById('torneioId').value;
                var classeId = document.getElementById('filtroClasse').value;
                window.location = "Tabela?torneioId=" + torneioId + "&filtroClasse=" + classeId;
            }

            function Imprimir() {
                var torneioId = document.getElementById('torneioId').value;
                var classeId = document.getElementById('filtroClasse').value;
                window.open("TabelaImprimir?torneioId=" + torneioId + "&fClasse=" + classeId, '_blank');
                //window.location = "TabelaImprimir?torneioId=" + torneioId + "&fClasse=" + classeId;
            }

        </script>
    }
