@model Barragem.Models.Regra

@{
    ViewBag.Title = "Create";
}

<div class="tab-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <div class="row">
            <div class="col-xs-8 col-sm-8">
                @Html.LabelFor(model => model.nome)
                <div class="input-group">
                    @Html.TextBoxFor(model => model.nome, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.nome)
            </div>
        </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.descricao)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.descricao)
                @Html.ValidationMessageFor(model => model.descricao)
            </div>

            <br />
            <div class="row">
                <div class="col-xs-8 col-sm-8">
                    <input type="submit" value="Salvar" />
                </div>
            </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {

        @Scripts.Render("~/bundles/editor")
        <script type="text/javascript">
        tinyMCE.baseURL = '@Url.Content("~/Scripts/tinymce/")'
		tinyMCE.init({
		    selector: 'textarea#descricao',
		    language: 'pt_BR',
		    theme: "modern",
		    theme_advanced_font_sizes: "10px,12px,13px,14px,16px,18px,20px",
		    font_size_style_values: "12px,13px,14px,16px,18px,20px",
		    width: 700,
		    height: 300,
		    plugins: [
						"advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
						"searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
						"save table contextmenu directionality template paste textcolor"
		    ],
		    toolbar1: "insertfile undo redo  | bold italic | underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage",
		    toolbar2: "forecolor backcolor | fontselect |  fontsizeselect | styleselect"

		});

        </script>
    }
</div>

