@{
    Layout = "~/Views/Shared/_LayoutCadastroBT.cshtml";

}

@section Css_Cadastro{
    <link href="@Url.Content("/Content/css/cadastro-ranking.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/Content/css/jquery-ui-1.10.4.min.css")" rel="stylesheet" type="text/css" />
    
}

<main class="row h-100 w-100 m-0">
    <section class="col-md-5 bg-light">
        <form action="/Liga/CreateRankingLiga" method="post" class=" m-auto mt-4">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <img class="img-fluid logo" src="/Content/img/logo-cad.png" alt="logo">,
            <div class="mt-5 chamada">
                <h1>Crie agora seu ranking</h1>
            </div>
            <div class="mt-3 form-input">
                <label for="">Nome da Agremiação</label>
                <input type="text" name="nomeBarragem" class="form-control" placeholder="Ex: Clube Pinheiros, Ranking dos Amigos">
            </div>
            <div class="mt-3 form-input">
                <label for="">Nome do Circuito</label>
                <input type="text" name="nomeLiga" class="form-control" placeholder="Ex:  Circuito BT 2022, Ranking Clube Beach">
            </div>
            <div class="mt-3 form-input">
                <label for="">Cidade *</label>
                <input type="text" id="cidade" name="cidade" class="form-control" placeholder="Digite o nome">
            </div>

            <div class="mt-3 form-input">
                <label for="">Escolha a modalidade dos torneios *</label>
                <select name="modalidadeBarragem" class="form-select" aria-label="Default select example" id="options">
                    <option value="1">Regras da Federação</option>
                    <option value="2">Todos contra todos</option>
                </select>
            </div>
            <div class="mt-3">
                <div class="alert alert-default federacao" role="alert">
                    <span class="text-white">
                        <img src="/Content/img/alert.svg" alt="" srcset=""> Regras da federação:
                    </span>
                    seguimos fielmente as Regras da Confederação Brasileira de Tênis (CBT) para o Tênis e o Beach Tennis, 
                    assim você não precisa se preocupar com cada detalhe do regulamento.
                </div>
                <div class="alert alert-default todos" role="alert">
                    <span class="text-white">
                        <img src="/Content/img/alert.svg" alt="" srcset=""> Todos contra todos:
                    </span>
                    neste formato, o sistema irá fazer um sorteio de forma que todos participantes joguem contra todos dentro da categoria. 
                    Será campeão aquele que tiver mais vitórias.
                </div>
            </div>
            <div class="mt-3 form-input mb-5">
                <button type="submit" class="btn btn-success w-100">Criar meu Ranking</button>
            </div>
        </form>
    </section>
    <section class="col-md-7 bg-img img-right">
    </section>
</main>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
    .form-control:not(select) {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .ui-autocomplete-loading {
        background: white url("/Content/image/ui-anim_basic_16x16.gif") right center no-repeat;
    }
</style>
@section Scripts {
    @Scripts.Render("/Scripts/jquery-2.1.1.min.js")
    @Scripts.Render("/Scripts/jquery-ui-1.10.4.min.js")

    <script src="/Content/js/render.js"></script>
    <script type="text/javascript">
        $(function () {

            $("#cidade").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Cidade/getCidade",
                        dataType: "jsonp",
                        data: {
                            q: request.term
                        },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 3
            });
        });

        $('#cidade').attr('autocomplete', 'off');

    </script>
}