@model Barragem.Models.CreateBarragemLiga

@{
    ViewBag.Title = "Criar Ranking";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-horizontal">
        <legend>Crie agora seu Ranking</legend>

        <div class="form-group">
            @Html.LabelFor(m => m.nomeBarragem, new { @class = "control-label col-md-2" })*
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.nomeBarragem, new { @class = "form-control", placeholder = "Ex.: nome do clube, condomínio, associação etc" })
                @Html.ValidationMessageFor(m => m.nomeBarragem, "", new { @class = "alert-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.nomeLiga, new { @class = "control-label col-md-2" })*
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.nomeLiga, new { @class = "form-control", placeholder = "Ex.: Circuito Interno Clube Pinheiros 2021" })
                @Html.ValidationMessageFor(m => m.nomeLiga, "", new { @class = "alert-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.cidade, new { @class = "control-label col-md-2" })*
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.cidade, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.cidade, "", new { @class = "alert-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.Label("Modalidade dos Torneios", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <select id="modalidadeBarragem" name="modalidadeBarragem" onchange="mostrarTextoModalidade()" class="form-control">
                    <option value="1">Regras da federação</option>
                    <option value="2">Modelo Todos contra todos</option>
                </select>
            </div>
        </div>
        <div class="row" id="textoFederacao">
            <div class="col-md-4">
                teste texto federação
            </div>
        </div>
        <div class="row" id="textoTodosContraTodos">
            <div class="col-md-4">
                teste texto todos contra todos
            </div>
        </div>
        <input type="submit" value="Criar meu Ranking" class="btn btn-info" />
    </div>
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
    .ui-autocomplete-loading {
        background: white url("/Content/image/ui-anim_basic_16x16.gif") right center no-repeat;
    }
</style>

@section Scripts {

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
    $(function () {

        $("#cidade").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Cidade/getCidade",
                    dataType: "jsonp",
                    data: {
                        q: request.term
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 3
        });
    });

    function mostrarTextoModalidade() {
        if (document.getElementById('modalidadeBarragem').value==1) {
            document.getElementById('textoFederacao').style.opacity = "1";
            document.getElementById('textoFederacao').style.display = "block";
            document.getElementById('textoTodosContraTodos').style.opacity = "0 !important";
            document.getElementById('textoTodosContraTodos').style.display = "none";

        } else {
            document.getElementById('textoFederacao').style.opacity = "0 !important";
            document.getElementById('textoFederacao').style.display = "none";
            document.getElementById('textoTodosContraTodos').style.opacity = "1";
            document.getElementById('textoTodosContraTodos').style.display = "block";
        }
    }
    document.getElementById('textoFederacao').style.opacity = "1";
    document.getElementById('textoFederacao').style.display = "block";
    document.getElementById('textoTodosContraTodos').style.opacity = "0 !important";
    document.getElementById('textoTodosContraTodos').style.display = "none";

</script>
}

