@model IEnumerable<Barragem.Models.ClasseLiga>

@{
    Layout = "~/Views/Shared/_LayoutPainelBT.cshtml";

}

@section Css_Painel{
    <link href="@Url.Content("/Content/css/editar-circuito.css")" rel="stylesheet" type="text/css" />
}

<section class="row">
    <div class="col-md-12 bg-light border position-relative p-4 mb-5 shadow-lg rounded">
        <div class="row dashboard">
            <div class="col-md-12 mb-3 d-flex">
                <h3>
                    <a href="/Torneio/PainelControle" class="voltar">
                        <img src="/Content/img/back.svg" alt="icone">
                        Voltar
                    </a> | @Html.Raw(ViewBag.nomeLiga)
                </h3>
            </div>
            <div class="col-md-12 mb-4">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                            Classes
                        </button>
                    </li>
                    <li class="nav-item ms-2" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                            Informações
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <form action="/Liga/AddClasse" method="post" class=" m-auto mt-4">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <div class="mt-3 form-input">
                                        <label for="">Nome da Categoria</label>
                                        <input type="text" name="nome" class="form-control" placeholder="Ex:  Circuito BT 2022, Ranking Clube Beach">
                                    </div>
                                    <div class="mt-3 form-input">
                                        <div class="form-check">
                                            <input name="isDupla" class="form-check-input" type="checkbox" value="" id="isDupla">
                                            <label class="form-check-label" for="flexCheckDefault">Classe de dupla?</label>
                                        </div>
                                    </div>
                                    <input type="hidden" name="IdLiga" id="IdLiga" value="@ViewBag.idLiga">
                                    <input type="hidden" name="idCategoria" id="IdLiga" value="0">
                                    <div class="mt-3 form-input mb-5">
                                        <button type="submit" class="btn btn-success w-100" onclick="addClasse()">Adicionar nova classe</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <h4>Classe adicionadas ao Circuito</h4>
                                <div class="line"></div>
                                @foreach (var classeLiga in Model)
                                {
                                    <form>
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)
                                        <div class="wrapper d-flex justify-content-between align-items-center mt-4">
                                            <h5>
                                                <input class="input-edit" type="text" name="nomeClasse" id="input-masc-1" placeholder="Masc 1º Classe" value="@classeLiga.Nome">
                                            </h5>
                                            <input type="hidden" name="Id" id="IdClasseLiga" value="@classeLiga.Id">
                                            <div class="wrapper__buttons d-flex">
                                                <button class="btn-white" type="submit" formaction="/Liga/EditNomeClasse" formmethod="post">Salvar</button>
                                                <button class="btn-danger" type="submit" formaction="/Liga/RemoveClasse" formmethod="post">Excluir</button>
                                            </div>
                                        </div>
                                    </form>
                                }
                                <!--wrapper-->
                            </div>
                            <!--col-12-->
                        </div>
                    </div><!--classes tab-->
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="col-md-6">
                            <form action="/Liga/EditNome" method="post" class=" m-auto mt-4">
                                <div class="mt-3 form-input">
                                    <label for="">Nome do Circuito</label>
                                    <input type="text" name="nomeLiga" class="form-control" value="@ViewBag.nomeLiga" placeholder="Circuito Interno de Beach Tennis AABB">
                                </div>
                                <input id="idLiga" name="idLiga" type="hidden" value="@ViewBag.idLiga">
                                <div class="mt-3 form-input">
                                    <label for="">Escolha a modalidade dos torneios *</label>
                                    <select class="form-select" aria-label="Default select example" name="modalidadeBarragem" id="options">
                                        @if(ViewBag.isModeloTodosContraTodos)
                                        {
                                            <option value="1">Regras da Federação</option>
                                            <option value="2" selected>Todos contra todos</option>
                                        }
                                        else
                                        {
                                            <option value="1" selected>Regras da Federação</option>
                                            <option value="2">Todos contra todos</option>
                                        }
                                    </select>
                                </div>
                                <div class="mt-3">
                                    <div class="alert alert-default federacao" role="alert">
                                        <span class="text-white">
                                            <img src="/Content/img/alert.svg" alt="" srcset=""> Regras da federação:
                                        </span>
                                        seguimos fielmente as Regras da Confederação Brasileira de Tênis (CBT) para o Tênis e o Beach Tennis,
                                        assim você não precisa se preocupar com cada detalhe do regulamento.
                                    </div>
                                    <div class="alert alert-default todos" role="alert">
                                        <span class="text-white">
                                            <img src="/Content/img/alert.svg" alt="" srcset=""> Todos contra todos:
                                        </span>
                                        neste formato, o sistema irá fazer um sorteio de forma que todos participantes joguem contra todos dentro da categoria.
                                        Será campeão aquele que tiver mais vitórias.
                                    </div>
                                </div>
                                <div class="mt-3 form-input mb-5">
                                    <button type="submit" class="btn btn-success w-100">Gravar</button>
                                </div>
                            </form>
                        </div>
                    </div><!--informalções tab-->
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        function addClasse() {
            if (document.getElementById("isDupla").checked) {
                document.getElementById("isDupla").value = true;
            } else {
                document.getElementById("isDupla").value = false;
            }
        }
    </script>
    <script src="~/Content/js/render.js"></script>
    <script src="~/Content/js/menu.js"></script>
}
