@model Barragem.Models.Jogo
@{
    ViewBag.Title = "Dashboard";

}

@if (!String.IsNullOrEmpty(ViewBag.cobranca))
{
    <div class="alert alert-danger alert-dismissable">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12">
                        @ViewBag.cobranca
                        @if (!String.IsNullOrEmpty(ViewBag.boleto))
                        {
                            @Html.Raw("<a class='btn btn-primary' href=" + ViewBag.boleto + " target='_blank'>Link do Boleto</a> <br>Número do código de barras:" + ViewBag.numeroCodigoBarras)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="margin-left:0px">
        <!-- Main content -->
        <section class="content" style="padding:5px">
            <h4 class="box-title">@Html.Raw("Painel de Controle")</h4>
            <!-- Info boxes -->
            <div class="row">
                @if (ViewBag.rodadaAtual != null)
                {
                    Barragem.Models.Rodada rodada = ViewBag.rodadaAtual;
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-gear"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">
                                    Rodada <b>@rodada.codigoSeq</b>
                                    @if (!rodada.isAberta)
                                    {
                                        @Html.Raw("<span class='label label-danger'>Fechada</span>")
                                    }
                                    else
                                    {
                                        @Html.Raw("<span class='label label-success'>Aberta</span>")
                                    }
                                </span>
                                <span class="info-box-text">até @Html.Raw(String.Format("{0:dd/MM/yyyy}", rodada.dataFim)) @ViewBag.diaDaSemana</span>
                                @if (ViewBag.jogosEmAberto != null)
                                {
                                    <div><a href="/Jogo/Index" style="font-size:12px; color:grey; text-decoration: underline;">@ViewBag.jogosEmAberto jogos em aberto</a></div>
                                }
                                <div>
                                    <a class="btn btn-sm btn-primary btn-flat botoesRodada" href="@Html.Raw("/Rodada/edit/" + rodada.Id)">Editar</a>

                                    <button data-link="@Url.Action("../Rodada/FecharRodada", new { id = rodada.Id })" data-id="@rodada.Id" data-title="Fechar Rodada!"
                                            title="Fechar Rodada" class="btn btn-warning btn-flat btn-sm confirmDialog botoesRodada">
                                        Fechar
                                    </button>

                                    <button data-link="@Url.Action("../Rodada/ExcluirRodada", new { id = rodada.Id })" data-id="@rodada.Id" data-title="Excluir Rodada!" 
                                            title="Excluir Rodada" class="btn btn-danger btn-flat btn-sm confirmExclusaoRodada botoesRodada">Excluir
                                    </button>

                                    <a class="btn btn-sm btn-success btn-flat botoesRodada" href="/Rodada/Create">Gerar Nova Rodada</a>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                    </div>
                }
                <!-- /.col -->
                @if (ViewBag.temporada != null)
                {
                    Barragem.Models.Temporada temporada = ViewBag.temporada;
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-green"><i class="fa fa-calendar"></i></span>

                            <div class="info-box-content">
                                <span class="label label-success">Aberta</span>
                                <span class="info-box-text">@temporada.nome</span>
                                <span class="info-box-text">@ViewBag.NumeroRodada</span>
                                <div>
                                    <a href="/Temporada/Create" style="font-size:12px; color:grey; text-decoration: underline;">Criar nova temporada</a>
                                </div>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                }
            </div>
            <div class="row">
                <!-- /.col -->
                <!-- fix for small devices only -->
                <div class="clearfix visible-sm-block"></div>
                @if (ViewBag.jogadoresSuspensosWO != null)
                {
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-red"><i class="fa fa-pause"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Suspensos</span>
                                <div><a href="@Url.Action("../Account/ListarUsuarios", new { filtroSituacao = "suspensoWO" })" style="font-size:12px; color:grey; text-decoration: underline;"><span data-toggle="tooltip" title="" class="badge bg-red">@ViewBag.jogadoresSuspensosWO</span> suspensos por WO</a></div>
                                <a href="@Url.Action("../Account/ListarUsuarios", new { filtroSituacao = "suspenso" })" style="font-size:12px; color:grey; text-decoration: underline;"><span data-toggle="tooltip" title="" class="badge bg-red">@ViewBag.jogadoresSuspensos</span> suspensos por jogos atrasados</a>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                }
                <!-- /.col -->
                @if (ViewBag.jogadorespendentes != null)
                {
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-yellow"><i class="fa fa-group"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Novas solicitações de participação</span>
                                @if (ViewBag.jogadorespendentes > 0)
                                {
                                    <a href="@Url.Action("../Account/ListarUsuarios", new { filtroSituacao = "pendente" })"><span data-toggle="tooltip" title="" class="badge bg-green">@ViewBag.jogadorespendentes</span> <span style="font-size:12px; color:grey; text-decoration: underline;">solicitações</span></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("../Account/ListarUsuarios", new { filtroSituacao = "pendente" })" style="font-size:12px; color:grey; text-decoration: underline;">@ViewBag.jogadorespendentes solicitações</a>
                                }
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                }
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->


@section Scripts {

    <script type="text/javascript">

    </script>

}

<style>
    .access-section .form-box .form-box-inner {
        background: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        padding: 0px;
    }

    .container {
        padding-right: 5px;
        padding-left: 5px;
        margin-right: auto;
        margin-left: auto;
    }

    .info-box {
        min-height: 100px;
    }

    .botoesRodada {
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 11px;
        margin-right: 7px;
        margin-top: 3px;
    }
</style>