@model Barragem.Models.Jogo
@{
    ViewBag.Title = "Controlar Jogo";

}

<div class="alert alert-info alert-dismissable">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12">
                    Baixe o APP para ter mais facilidade e rapidez. <br>
                    <a class='btn' href='https://play.google.com/store/apps/details?id=com.rankingtennis&hl=pt_BR' ><img src="/Content/image/googlePlay.png" alt="google play" height="30" width="91"></a>
                    <a class='btn' href='https://apps.apple.com/br/app/meu-ranking/id1483076354'><img src="/Content/image/appStore.png" alt="google play" height="30" width="91"></a>
                </div>
            </div>
        </div>
    </div>
</div>

@if (!String.IsNullOrEmpty(ViewBag.cobranca))
{
    <div class="alert alert-danger alert-dismissable">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12">
                        @ViewBag.cobranca
                        @if (!String.IsNullOrEmpty(ViewBag.boleto)) {
                            @Html.Raw("<a class='btn btn-primary' href="+ ViewBag.boleto +" target='_blank'>Link do Boleto</a> <br>Número do código de barras:" + ViewBag.numeroCodigoBarras)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (ViewBag.Torneio != null)
{
    Barragem.Models.Torneio torneio = ViewBag.Torneio;
    <div class="container-dashboard">
        <legend>@Html.Raw("Torneios Abertos")</legend>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-8 info-box-text">
                        @Html.Raw(torneio.nome) De @Html.Raw(torneio.dataInicio.ToShortDateString()) a @Html.Raw(torneio.dataFim.ToShortDateString())
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 info-box-text">
                        @Html.Raw("Local: " + torneio.local + " - " + torneio.cidade) Inscrição até @Html.Raw(torneio.dataFimInscricoes.ToShortDateString())
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="col-sm-12 pull-right">
                    <a class="btn btn-primary" href="/Torneio/Detalhes/@torneio.Id">
                        Saiba mais
                    </a>
                </div>
            </div>
        </div>
    </div>
}


@if ((Model != null && !(ViewBag.situacaoJogador=="desativado" || ViewBag.situacaoJogador == "pendente" || ViewBag.situacaoJogador == "torneio")) 
    || (ViewBag.ViewOrganizador))
{

    <div class="container-dashboard">
        @if (ViewBag.isRodadaAtual){
            <h4><b>Rodada Atual</b></h4>
        }

        <div class="row" align="left">
            @if (Model.rodada != null){
                if (Model.rodada.temporadaId != null){
                    <div class="col-md-12 col-xs-12" align="left">
                        @Html.Raw(ViewBag.Temporada+": "+ ViewBag.NumeroRodada)
                    </div>
                    <div class="col-md-2 col-xs-12" align="left">
                        @Html.Raw("Até " + Model.rodada.dataFim.ToShortDateString())
                    </div>
                }
                else
                {
                    <div class="col-md-5 col-xs-12" align="left">
                        <h5>@Html.Raw("Rodada:" + Model.rodada.codigoSeq + "")</h5>
                    </div>
                }
            }
            @if (ViewBag.NomeTorneio != null)
            {
                <div class="col-md-5 col-xs-12" align="left">
                    @Html.Raw(ViewBag.NomeTorneio)
                </div>
            }
        </div>
        <h5>
            <label>Situação do jogo:</label> @Html.Raw(Model.situacao.descricao + " " + String.Format("{0:dd/MM/yyyy}", Model.dataJogo) + " " + Model.horaJogo + " " + Model.localJogo + ViewBag.Placar)
        </h5>
        
        <div class="container-dashboard formato-desktop">
            <div class="row clearfix formato-desktop">
                <div class="col-md-2 col-xs-2">
                    @if ((Model.desafiado_id != 0) && (Model.desafiado.fotoURL != null))
                    {
                        <img class="img-responsive center-block" src="@Url.Action("BuscaFoto", "Account", new { id = Model.desafiado_id })" style="width: 148px; height: 198px;" />
                    }
                    else
                    {
                        <img class="img-responsive center-block" src="/Content/image/sem-foto.jpg" style="width: 148px; height: 198px;" />
                    }
                    <center>
                        <p id='jogo'>
                            @ViewBag.ptDefendidosDesafiado
                        </p>
                    </center>
                    @Html.HiddenFor(model => model.desafiado_id)
                </div>
                <div class="col-md-3 col-xs-3">
                    <center>
                        <br><br>
                        <p id="jogo">
                            Desafiado<br>
                            @if (Model.desafiado_id == 0)
                            {
                                @Html.Raw("Aguardando Adversário");
                            }
                            else
                            {
                                <a href="@Url.Action("../Account/Detalhes", new { userId = Model.desafiado_id })" title="Detalhes do jogador">
                                    <b style="font-size:15px">@Model.desafiado.nome</b>
                                </a>
                                <br>@Html.Raw("#" + ViewBag.posicaoDesafiado)<br>
                                <a href="@Model.desafiado.linkwhatsapp"><img width="25" height="25" src="/Content/image/whatsapp.png"></a>
                            }
                        </p>
                    </center>
                </div>
                <div class="col-md-1 exibir-imagem">
                    <center><br><br><h1>X</h1></center>
                </div>
                <div class="col-md-3 col-xs-3">
                    <center>
                        <br><br>
                        <p id="jogo">
                            Desafiante<br>
                            @if (Model.desafiante_id == 0)
                            {
                                if (Model.faseTorneio == 1)
                                {
                                    @Html.Raw("Bye");
                                }
                                else
                                {
                                    @Html.Raw("Aguardando Adversário");
                                }
                            }
                            else
                            {
                                <a href="@Url.Action("../Account/Detalhes", new { userId = Model.desafiante_id })" title="Detalhes do jogador">
                                    <b style="font-size:15px">@Model.desafiante.nome</b>
                                </a>
                                <br>@Html.Raw("#" + ViewBag.posicaoDesafiante)<br>
                                <a href="@Model.desafiante.linkwhatsapp">
                                    <img width="25" height="25" src="/Content/image/whatsapp.png">
                                </a>
                            }
                        </p>
                    </center>
                </div>
                <div class="col-md-2 col-xs-2">
                    @if ((Model.desafiante_id != 0) && (Model.desafiante.fotoURL != null))
                    {
                        <img class="img-responsive center-block" src="@Url.Action("BuscaFoto", "Account", new { id = Model.desafiante_id })" style="width:148px;height:198px;" />
                    }
                    else
                    {
                        <img class="img-responsive center-block" src="/Content/image/sem-foto.jpg" style="width: 148px; height: 198px;" />
                    }
                    <center>
                        <p id='jogo'>
                            @ViewBag.ptDefendidosDesafiante
                        </p>
                    </center>
                    @Html.HiddenFor(model => model.desafiante_id)
                </div>
            </div>
        </div>
        <div class="row clearfix formato-mobile">
            <div class="row">
                <div class="col-xs-1 col-mobile" style="color:white">.</div>
                <div class="col-xs-5 col-mobile">
                    <p id="jogo">
                        Desafiado @Html.Raw("#" + ViewBag.posicaoDesafiado)
                    </p>
                    @if ((Model.desafiado_id != 0) && (Model.desafiado.fotoURL != null))
                    {
                        <img class="img-responsive center-block" src="@Url.Action("BuscaFoto", "Account", new { id = Model.desafiado_id })" style="width: 148px; height: 198px;" />
                    }
                    else
                    {
                        <img class="img-responsive center-block" src="/Content/image/sem-foto.jpg" style="width: 148px; height: 198px;" />
                    }
                </div>
                <div class="col-xs-5 col-mobile">
                    <p id="jogo">Desafiante @Html.Raw("#" + ViewBag.posicaoDesafiante)</p>
                    @if ((Model.desafiante_id != 0) && (Model.desafiante.fotoURL != null))
                    {
                        <img class="img-responsive center-block" src="@Url.Action("BuscaFoto", "Account", new { id = Model.desafiante_id })" style="width: 148px; height: 198px;" />
                    }
                    else
                    {
                        <img class="img-responsive center-block" src="/Content/image/sem-foto.jpg" style="width: 148px; height: 198px;" />
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1 col-mobile" style="color:white">.</div>
                <div class="col-xs-5 col-mobile">
                    <p id="jogo">
                        <a href="@Model.desafiado.linkwhatsapp"><img width="25" height="25" src="/Content/image/whatsapp.png"></a>
                        @if (Model.desafiado_id == 0)
                        {
                            @Html.Raw("Aguardando Adversário");
                        }
                        else
                        {
                            <a href="@Url.Action("../Account/Detalhes", new { userId = Model.desafiado_id })" title="Detalhes do jogador">
                                @Model.desafiado.nome
                            </a>
                        }
                        <br>
                        @ViewBag.ptDefendidosDesafiado
                    </p>
                </div>
                @Html.HiddenFor(model => model.desafiado_id)
                <div class="col-xs-5 col-mobile">
                    <p id="jogo">
                        <a href="@Model.desafiante.linkwhatsapp"><img width="25" height="25" src="/Content/image/whatsapp.png"></a>
                        @if (Model.desafiante_id == 0)
                        {
                            @Html.Raw("Aguardando Adversário");
                        }
                        else
                        {
                            <a href="@Url.Action("../Account/Detalhes", new { userId = Model.desafiante_id })" title="Detalhes do jogador">
                                @Model.desafiante.nome
                            </a>
                        }
                        <br>
                        @ViewBag.ptDefendidosDesafiante
                    </p>
                </div>
                @Html.HiddenFor(model => model.desafiante_id)
            </div>
        </div>


        <div class="container-fluid">
            <h5><label>Ações</label></h5>
            <div class="row">
                <div class="col-sm-3">
                    @if (Model.situacao_Id == 2)
                    {
                        <button class="btn btn-success btn-block" id="botaomarcarJogo" @if (Model.situacao_Id == 4 || Model.situacao_Id == 5) { @Html.Raw("disabled") } onclick="mostrarMarcarJogo()">Alterar horário</button>
                    }
                    else
                    {
                        <button class="btn btn-success btn-block" id="botaomarcarJogo" @if (Model.situacao_Id == 4 || Model.situacao_Id == 5) { @Html.Raw("disabled") } onclick="mostrarMarcarJogo()">Marcar horário</button>
                    }
                </div>
                <div class="col-sm-3">
                    @if (Model.situacao_Id == 4)
                    {
                        <button class="btn btn-success btn-block" id="botaoinserirResultado" onclick="mostrarInserirResultado()">Alterar resultado</button>
                    }
                    else
                    {
                        <button class="btn btn-success btn-block" id="botaoinserirResultado" onclick="mostrarInserirResultado()">Inserir resultado</button>
                    }
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-success btn-block" id="botaolancarWO"@if (Model.situacao_Id == 4) {@Html.Raw("disabled") } onclick="mostrarLancarWO()">Lançar WO</button>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-success btn-block" id="botaolancarWO" onclick="mostrarHead2Head()">Head 2 Head</button>
                </div>
            </div>
        </div>

        @using (Html.BeginForm("MarcarJogo", "Jogo", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.rodada_id)

            @Html.HiddenFor(model => model.dataLimiteJogo)
            @Html.HiddenFor(model => model.faseTorneio)
            @Html.HiddenFor(model => model.classeTorneio)
            @Html.HiddenFor(model => model.ordemJogo)
            @Html.HiddenFor(model => model.torneioId)
            <input type="hidden" name="userId" value="@Html.Raw(ViewBag.userId)">

            <div class="row exibir-inserirResultados" id="divMarcarJogo">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Marcar horário</h3>
                    </div>
                    <div class="box-body">
                        <div id="placar" class="form-horizontal form-inline">
                            <span id="dadosJogo">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.dataJogo, new { @class = "control-label col-sm-4" })
                                    <div class="col-sm-3">
                                        <div class="input-group date" id="dataJogo" data-date-format="dd/mm/yyyy">
                                            <input id="dataJogo" name="dataJogo" value="@Html.Raw(String.Format("{0:dd/MM/yyyy}", Model.dataJogo))" placeholder="dd/mm/yyyy" type="text" autocomplete="off" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar">
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.horaJogo, new { @class = "control-label col-sm-4" })
                                    <div class="col-sm-3">
                                        <input id="horaJogo" name="horaJogo" value="@Html.Raw(Model.horaJogo)" placeholder="hh:mm" type="text" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.localJogo, new { @class = "control-label col-sm-4" })
                                    <div class="col-sm-3">
                                        <input id="localJogo" name="localJogo" value="@Model.localJogo" type="text" />
                                    </div>
                                </div>
                            </span>
                        </div>
                        <center>
                            <input type="submit" class="btn btn-primary" id="button_marcarJogo" value="Salvar" />
                            @if (Model.situacao_Id == 2)
                            {
                                <input type="hidden" value="false" name="desmarcar" id="desmarcar"/>
                                <input type="submit" class="btn btn-danger btn-small" id="desmarcar" value="Desmarcar horário" onclick="desmarcarHorario()" />
                            }
                        </center>
                    </div>


                </div>
            </div>

        }

        @using (Html.BeginForm("InserirResultado", "Jogo", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.rodada_id)

            @Html.HiddenFor(model => model.dataLimiteJogo)
            @Html.HiddenFor(model => model.faseTorneio)
            @Html.HiddenFor(model => model.classeTorneio)
            @Html.HiddenFor(model => model.ordemJogo)
            @Html.HiddenFor(model => model.torneioId)
            <div class="container-dashboard.hide" id="divAcoes">
                <div class="row exibir-inserirResultados" id="divInserirResultado">
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            @if (Model.situacao_Id == 4)
                            {
                                <h3 class="box-title">Alterar resultado</h3>
                            }
                            else
                            {
                                <h3 class="box-title">Inserir resultado</h3>
                            }
                        </div>
                        <div class="box-body">
                            <center>
                                <div class="row clearfix">
                                    <div class="col-md-6 col-xs-6">
                                        <p id="jogo"><b>@Model.desafiado.nome</b></p>
                                    </div>
                                    <div lass="col-md-6 col-xs-6">
                                        <p id="jogo"><b>@Model.desafiante.nome</b></p>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div id="labelset1" class="col-md-6">
                                        <center><p id="set">1º set</p></center>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div id="set1" class="form-group col-md-6 col-xs-6">
                                        @Html.TextBoxFor(model => model.qtddGames1setDesafiado, new { @class = "form-control input-lg", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.qtddGames1setDesafiado)
                                    </div>
                                    <div id="set1_2" class="form-group col-md-6 col-xs-6">
                                        @Html.TextBoxFor(model => model.qtddGames1setDesafiante, new { @class = "form-control input-lg", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.qtddGames1setDesafiante)
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div id="labelset2" class="col-md-6">
                                        <center><p id="set">2º set</p></center>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div id="set2" class="form-group col-md-6 col-xs-6">
                                        @Html.TextBoxFor(model => model.qtddGames2setDesafiado, new { @class = "form-control input-lg", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.qtddGames2setDesafiado)
                                    </div>
                                    <div id="set2_2" class="form-group col-md-6 col-xs-6">
                                        @Html.TextBoxFor(model => model.qtddGames2setDesafiante, new { @class = "form-control input-lg", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.qtddGames2setDesafiante)
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div id="labelset3" class="col-md-6">
                                        <center><p id="set">3º set</p></center>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div id="set3" class="form-group col-md-6 col-xs-6">
                                        @Html.TextBoxFor(model => model.qtddGames3setDesafiado, new { @class = "form-control input-lg", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.qtddGames2setDesafiado)
                                    </div>
                                    <div id="set3_2" class="form-group col-md-6 col-xs-6">
                                        @Html.TextBoxFor(model => model.qtddGames3setDesafiante, new { @class = "form-control input-lg", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.qtddGames3setDesafiante)
                                    </div>

                                </div>
                            </center>
                            <p>
                                <center>
                                @if ((Model.desafiante_id != 0) && (Model.desafiado_id != 0)){
                                    if ((ViewBag.Editar == null) || (ViewBag.Editar)){
                                        <input type="submit" class="btn btn-primary btn-small" id="submeter" value="Salvar" />
                                    }else{
                                        @Html.Raw("<b>Rodada Já Encerrada.</b>")
                                    }
                                    if ((ViewBag.VoltarPendente != null) && (ViewBag.VoltarPendente)){
                                        <input type="hidden" value="1" name="situacao_id" />
                                        <input type="submit" class="btn btn-danger btn-small" id="submeter" value="Voltar para pendente" />
                                    }
                                }
                                </center>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        }

        @using (Html.BeginForm("LancarWO", "Jogo", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.rodada_id)

            @Html.HiddenFor(model => model.dataLimiteJogo)
            @Html.HiddenFor(model => model.faseTorneio)
            @Html.HiddenFor(model => model.classeTorneio)
            @Html.HiddenFor(model => model.ordemJogo)
            @Html.HiddenFor(model => model.torneioId)
            <input type="hidden" name="userId" value="@Html.Raw(ViewBag.userId)">

            <div class="row exibir-inserirResultados" id="divLancarWO">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Lançar WO</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-md-12 col-xs-12" for="situacao">Vencedor da partida</label>
                            <div class="col-md-2 col-xs-12">
                                <input type="radio" name="vencedorWO" value=@Html.Raw(Model.desafiado_id) @if (Model.idDoVencedor == Model.desafiado_id) { @Html.Raw(" checked") }> @Html.Raw(Model.desafiado.nome)<br>
                                <input type="radio" name="vencedorWO" value=@Html.Raw(Model.desafiante_id)@if (Model.idDoVencedor==Model.desafiante_id) { @Html.Raw(" checked") }> @Html.Raw(Model.desafiante.nome)<br>
                            </div>
                            <div class="col-md-2 col-xs-12">
                                @if ((ViewBag.Editar == null) || (ViewBag.Editar)){
                                    <input type="submit" class="btn btn-primary btn-small" id="button_lancarWO" value="Salvar" />
                                 }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }

        <div class="row exibir-headtohead" id="divHead2Head">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Head 2 Head</h3>
                </div>
                <div class="box-body">
                    <div class="row centralizar">
                        <div class="col-md-4">@Html.Raw(Model.desafiado.nome)</div>
                        <div class="col-md-1">
                            <div style="color:#FDB45C; font-size:26px">@ViewBag.qtddVitoriasDesafiado</div>
                            <div style="font-size:11px">Vitórias</div>
                        </div>
                        <div class="col-md-2 col-md-offset-0 col-xs-6 col-xs-offset-3">
                            <canvas id="canvas" height="100" width="100"></canvas>
                        </div>
                        <div class="col-md-1 col-xs-12">
                            <div style="color:#46BFBD; font-size:26px">@ViewBag.qtddVitoriasDesafiante</div>
                            <div style="font-size:11px">Vitórias</div>
                        </div>
                        <div class="col-md-4 col-xs-12">@Html.Raw(Model.desafiante.nome)</div>

                    </div>
                    <br>
                    <div class="col-md-12 col-xs-12">
                        <div class="row centralizar" style="background-color:#e6e5e5;">
                            <div class="col-md-4 col-xs-3" style="text-align:center">@Html.Raw(DateTime.Now.Year - Model.desafiado.dataNascimento.Year)</div>
                            <div class="col-md-4 col-xs-6" style="text-align:center"><p id="jogo">Idade</p></div>
                            <div class="col-md-4 col-xs-3" style="text-align:center">@Html.Raw(DateTime.Now.Year - Model.desafiante.dataNascimento.Year)</div>
                        </div>
                        <div class="row centralizar">
                            <div class="col-md-4 col-xs-4" style="padding-right:2px;padding-left:2px">@Html.Raw(Model.desafiado.naturalidade)</div>
                            <div class="col-md-4 col-xs-4" style="text-align:center"><p id="jogo">Natural</p></div>
                            <div class="col-md-4 col-xs-4" style="padding-right:2px;padding-left:2px">@Html.Raw(Model.desafiante.naturalidade)</div>
                        </div>
                        <div class="row centralizar" style="background-color:#e6e5e5;">
                            <div class="col-md-4 col-xs-4" style="text-align:center">@Html.Raw(Model.desafiado.lateralidade)</div>
                            <div class="col-md-4 col-xs-4" style="text-align:center"><p id="jogo">Lateral</p></div>
                            <div class="col-md-4 col-xs-4" style="text-align:center">@Html.Raw(Model.desafiante.lateralidade)</div>
                        </div>
                        <div class="row centralizar">
                            <div class="col-md-4 col-xs-4" style="text-align:center">@Html.Raw(Model.desafiado.altura2)</div>
                            <div class="col-md-4 col-xs-4" style="text-align:center"><p id="jogo">Altura</p></div>
                            <div class="col-md-4 col-xs-4" style="text-align:center">@Html.Raw(Model.desafiante.altura2)</div>
                        </div>
                        <div class="row centralizar" style="background-color:#e6e5e5;">
                            <div class="col-md-4 col-xs-4" style="text-align:center">@Html.Raw(Model.desafiado.dataInicioRancking.Month + "/" + Model.desafiado.dataInicioRancking.Year)</div>
                            <div class="col-md-4 col-xs-4" style="text-align:center"><p id="jogo">Início ranking</p></div>
                            <div class="col-md-4 col-xs-4" style="text-align:center">@Html.Raw(Model.desafiante.dataInicioRancking.Month + "/" + Model.desafiante.dataInicioRancking.Year)</div>
                        </div>
                        <div class="row centralizar">
                            <div class="col-md-4 col-xs-4" style="text-align:center">@ViewBag.melhorRankingDesafiado</div>
                            <div class="col-md-4 col-xs-4" style="text-align:center"><p id="jogo">Melhor posição ranking</p></div>
                            <div class="col-md-4 col-xs-4" style="text-align:center">@ViewBag.melhorRankingDesafiante</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


}

@using (Html.BeginForm("AtualizaStatus", "Account", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container-dashboard">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">@Html.Raw("Meu status atual: " + ViewBag.situacaoJogador)</h3>
            </div>
            <div class="box-body">
    @if (ViewBag.situacaoJogador == "ativo" || ViewBag.situacaoJogador == "licenciado"){
        <div class="form-group">
            <label class="col-md-2 col-xs-7" for="situacao">Alterar para: </label>
            <div class="col-md-2 col-xs-8">
                <select id="situacao" name="situacao" class="form-control">
                    <option value="ativo" @if (ViewBag.situacaoJogador.Equals("ativo")) { @Html.Raw("selected")       }>
                        ativo
                    </option>
                    <option value="licenciado" @if (ViewBag.situacaoJogador.Equals("licenciado")) { @Html.Raw("selected")       }>
                        licenciado
                    </option>
                </select>
                <input type="hidden" name="userId" value="@Html.Raw(ViewBag.userId)">
            </div>
            <div class="col-md-3 col-xs-4">
                <input type="submit" class="btn btn-primary btn-small" id="submeter" value="Salvar" />
            </div>
        </div>
    }


            </div>
        </div>
        </div>
    }

@if (ViewBag.JogosPendentes != null && !(ViewBag.situacaoJogador == "desativado" || ViewBag.situacaoJogador == "pendente" || ViewBag.situacaoJogador == "torneio"))
    
{
    <div class="container-dashboard">
        <div class="container-fluid">
            <legend>
                @Html.Raw("Jogos Pendentes")
            </legend>
            <div class="row">
                @if (ViewBag.JogosPendentes != null)
                {
                    List<Barragem.Models.Jogo> jogosP = ViewBag.JogosPendentes;
                    foreach (var item in jogosP)
                    {
                        <a href="@Url.Action("Index3", new { idJogo = @item.Id })" title="informar resultado">
                            <div class="col-sm-4">
                                <h4 style="color:forestgreen">Rodada @Html.DisplayFor(modelItem => item.rodada.codigoSeq)</h4>
                                <div class="row centralizar">
                                    <div class="col-md-4 col-xs-6 column">
                                        <img class="" src="/Content/image/JogoPendente.png">
                                    </div>
                                    <div class="col-md-5 col-xs-6 column">
                                        <div class="row">@Html.DisplayFor(modelItem => item.desafiado.nome)</div>
                                        <div class="row"><span style="text-align:center">X</span></div>
                                        <div class="row">@Html.DisplayFor(modelItem => item.desafiante.nome)</div>
                                        <div class="row"><input type="button" class="btn btn-default" value="Marcar Jogo" /></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    </div>
}

<div class="container-dashboard">
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title">Meu desempenho</h3>
        </div>
        <div class="box-body">
            <div class="col-md-4 col-md-offset-2" style="padding-right:0px; padding-left:0px">
                <canvas id="canvasLine" height="250" width="250"></canvas>
            </div>
            <div class="col-md-3">
                <canvas id="canvasdunot" height="200" width="200"></canvas>
            </div>
        </div>
     </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryform")
    @Scripts.Render("~/bundles/Chart")
    
    <script type="text/javascript">
        var chartCtx = $("#canvas").get(0).getContext("2d");
        var config = {
            type: "doughnut",
            data: {
                labels: ["Desafiante", "Desafiado"],
                datasets: [{
                    backgroundColor: ["#46BFBD", "#FDB45C"],
                    data: [@ViewBag.qtddVitoriasDesafiante,@ViewBag.qtddVitoriasDesafiado]
                }]
            },
            options: {
                responsive: true, showTooltips: true, percentageInnerCutout: 30,legend: {display: false}
            }
        };
        new Chart(chartCtx,config);

        var chartLineCtx = $("#canvasLine").get(0).getContext("2d");
        var config = {
            type: 'line',
            data: {
                labels: [@Html.Raw(ViewBag.ChartLinelabels)],
                datasets: [{
                    label:"Evolução no ranking",
                    backgroundColor: "#00a65a",
                    borderColor: "#00a65a",
                    data: [@Html.Raw(ViewBag.ChartLineData)],
                    fill: false,
                }]
            },
            options: {
                responsive: true,
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        ticks: {
                            autoSkip: false
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Rodadas'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks : {
                            reverse: true,
                            stepSize: 1
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Posição',
                        }
                    }]
                }
            }
        };
        new Chart(chartLineCtx, config);

        var charDoughnutCtx = $("#canvasdunot").get(0).getContext("2d");
        var config = {
            type: "doughnut",
            data: {
                @Html.Raw("labels: ['"+ ViewBag.qtddTotalVitorias+ " Vitórias','" + ViewBag.qtddTotalDerrotas +" Derrotas'],")
                datasets: [{
                    label: "Meus Jogos",
                    @Html.Raw("data: ["+ ViewBag.qtddTotalVitorias + "," + ViewBag.qtddTotalDerrotas + "],")
                    backgroundColor: ["#00a65a", "#D53032"]
                }]
            }

        };
        new Chart(charDoughnutCtx,config);


        @if (ViewBag.Sucesso)
        {
            @Html.Raw("toastr.success('"+ViewBag.MsgAlerta+"');");
        }
        function mostrarMarcarJogo() {
            var element = document.getElementById("divMarcarJogo")
            if (element.classList.contains("show")) {
                element.classList.remove("show");
            } else {
                document.getElementById("divInserirResultado").classList.remove("show");
                document.getElementById("divLancarWO").classList.remove("show");
                document.getElementById("divAcoes").classList.remove("hide");
                document.getElementById("divAcoes").classList.remove("container-dashboard");
                document.getElementById("divHead2Head").classList.remove("show");
                element.classList.add("show");
            }
        }
        function mostrarInserirResultado() {
            var element = document.getElementById("divInserirResultado");
            if (element.classList.contains("show")) {
                element.classList.remove("show");
            } else {
                document.getElementById("divMarcarJogo").classList.remove("show");
                document.getElementById("divLancarWO").classList.remove("show");
                document.getElementById("divAcoes").classList.remove("hide");
                document.getElementById("divHead2Head").classList.remove("show");
                element.classList.add("show");
            }
        }
        function mostrarLancarWO() {
            var element = document.getElementById("divLancarWO");
            if (element.classList.contains("show")) {
                element.classList.remove("show");
            } else {
                document.getElementById("divMarcarJogo").classList.remove("show");
                document.getElementById("divInserirResultado").classList.remove("show");
                document.getElementById("divAcoes").classList.remove("hide");
                document.getElementById("divHead2Head").classList.remove("show");
                element.classList.add("show");
            }
        }
        function mostrarHead2Head() {
            var element = document.getElementById("divHead2Head");
            if (element.classList.contains("show")) {
                element.classList.remove("show");
            } else {
                document.getElementById("divMarcarJogo").classList.remove("show");
                document.getElementById("divInserirResultado").classList.remove("show");
                document.getElementById("divLancarWO").classList.remove("show");
                document.getElementById("divAcoes").classList.remove("hide");
                element.classList.add("show");
            }
        }
        function desmarcarHorario() {
            var element = document.getElementById("desmarcar");
            element.value = true;
        }
    </script>
    <script type="text/javascript">
        $("#dataJogo").datepicker({
            language: 'pt-BR',
            pickTime: false
        });
        $("#horaJogo").mask("99:99");
        
    </script>
}
