@{
    Layout = null;
    HttpCookie cookie = Request.Cookies["_barragemId"];
    HttpCookie cookieNome = Request.Cookies["_barragemNome"];
    var barraBeach = "0";
    var banner = "bannerTenis";
    var barraId = 0;
    var barraNome = "Painel";
    if (ViewBag.IdBarragem != null)
    {
        barraId = ViewBag.IdBarragem;
        barraNome = ViewBag.NomeBarragem;
    }
    else if (cookie != null)
    {
        barraId = Convert.ToInt32(cookie.Value.ToString());
        barraNome = Server.UrlDecode(cookieNome.Value);
    }
    if (Roles.IsUserInRole("adminTorneio"))
    {
        barraBeach = "1";
        banner = "banner";
    }
    var scrLogo = "/Content/image/logo" + barraId + ".png";
    var path = Server.MapPath(scrLogo);
    if (!File.Exists(path))
    {
        scrLogo = "/Content/image/logo" + barraId + ".jpg";
        path = Server.MapPath(scrLogo);
    }
    if (!File.Exists(path))
    {
        scrLogo = "/Content/image/inserirLogo.png";
    }
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="~/Content/css/hamburgers.min.css" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/favicon.ico">
    @if (IsSectionDefined("Css_Painel"))
    {
        @RenderSection("Css_Painel", required: false)
    }
    <title>@barraNome</title>
</head>

<body>
    <!--menu mobile-->

    <div class="menu">
        <div class="menu__wrapper">
            <div class="logo p-4"><img class="img-fluid" src="~/Content/img/logo.png" alt="logo do site" /></div>
        </div><!--menu__wrapper-->
        @if (Request.IsAuthenticated)
        {
            <div class="dropdown-custom d-flex justify-content-between">
                <div class="d-flex">
                    <div class="mt-1"><img width="50" height="50" src="@Url.Action("BuscaFoto", "Account", new { id = 0, userName = User.Identity.Name })" alt=""></div>
                    <div class="drowdown__info mx-1 d-flex flex-column justify-content-center">
                        <span>@User.Identity.Name</span>
                    </div><!--dropdown__info-->
                </div>
                <div class="arrow">
                    <img src="~/Content/img/arrow.svg" alt="icone">
                </div>
            </div><!--dropdown-->

            <div class="dropdown-links">
                <ul>
                    <li class="pt-1"><a href="@Url.Action("EditaUsuario", "Account", new { UserName = User.Identity.Name })">Alterar Perfil</a></li>
                    <li><a href="/Account/Manage">Alterar Senha</a></li>
                    <li><a href="/Torneio">Torneios</a></li>
                    <li class="pb-1"><a href="javascript:document.getElementById('logoutForm').submit()">Sair</a></li>
                </ul>
            </div><!--dropdown-links-->
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
            }
    <ul class="mobile">
        <li><a href="/Torneio/PainelControle">Painel</a></li>
        <li><a href="/Torneio/Manuais">Manuais</a></li>
        @if (Roles.IsUserInRole("adminTorneio"))
        {
            <li>
                <a href="https://api.whatsapp.com/send?phone=5561985355794&text=Olá,%20estou%20com%20dúvidas%20no%20sistema%20de%20organização%20de%20torneios." target="_blank">Suporte</a>
            </li>
        }
        else
        {
            <li>
                <a href="https://api.whatsapp.com/send?phone=5561998095668&text=Olá,%20estou%20com%20dúvidas%20no%20sistema%20de%20organização%20de%20torneios." target="_blank">Suporte</a>
            </li>
        }
    </ul>
        }
        else
        {
            <ul class="mobile">
                <li class="nav-item me-4">
                    <a class="nav-link active" href="@Url.Action("Login", "Account")">Log in</a>
                </li>
            </ul>
        }
    </div><!--menu-->
    <!--fim do menu mobile-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="nav__wrapper d-flex">
                @if (barraBeach == "1") { 
                    <a href="/Torneio/PainelControle"><img src="~/Content/img/logo-painel.png" alt="logo"></a>
                }
                <div class="user-info d-flex align-items-center">
                    <a class="mx-1" href="/Home/IndexBarragens">
                        @if ((barraId != 0) && (barraId < 9999))
                        {
                            <img width="50" height="50" src="@scrLogo" alt="logo">
                        }
                    </a>
                    <h6>@Html.Raw(barraNome)</h6>
                </div><!--user-info-->
            </div><!--nav__wrapper-->
            <div class="hamburger hamburger--spring">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item me-4">
                        <a class="nav-link active" aria-current="page" href="/Torneio/PainelControle">Painel</a>
                    </li>
                    <li class="nav-item me-4">
                        <a class="nav-link" href="/Torneio/Manuais">Manuais</a>
                    </li>
                    @if (Roles.IsUserInRole("adminTorneio"))
                    {
                        <li class="nav-item me-4">
                            <a class="nav-link" href="https://api.whatsapp.com/send?phone=5561985355794&text=Olá,%20estou%20com%20dúvidas%20no%20sistema%20de%20organização%20de%20torneios." target="_blank">Suporte</a>
                        </li>
                    }
                    else { 
                        <li class="nav-item me-4">
                            <a class="nav-link" href="https://api.whatsapp.com/send?phone=5561998095668&text=Olá,%20estou%20com%20dúvidas%20no%20sistema%20de%20organização%20de%20torneios." target="_blank">Suporte</a>
                        </li>
                    }

                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="d-inline-flex align-items-center">
                                    <div>
                                        <img width="35" height="35" src="@Url.Action("BuscaFoto", "Account", new { id = 0, userName = User.Identity.Name })" alt="">
                                    </div>
                                    <div class='ms-1 me-1'>
                                        <h5 class="mb-0">@User.Identity.Name</h5>
                                    </div>
                                </div>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("EditaUsuario", "Account", new { UserName = User.Identity.Name })">Alterar Perfil</a></li>
                                <li><a class="dropdown-item" href="/Account/Manage">Alterar Senha</a></li>
                                <li><a class="dropdown-item" href="/Torneio">Torneios</a></li>
                                <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Sair</a></li>
                            </ul>
                        </li>
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                    }
                    else
                    {
                        <li class="nav-item me-4">
                            <a class="nav-link active" href="@Url.Action("Login", "Account")">Log in</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="@banner position-absolute"></div>
    <main class="container mt-5">
        @if ((ViewBag.MsgErro != "") && (ViewBag.MsgErro != null))
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Erro!</strong> @ViewBag.MsgErro
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if ((ViewBag.DetalheErro != "") && (ViewBag.DetalheErro != null))
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Erro!</strong> @ViewBag.DetalheErro
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if ((ViewBag.Ok != "") && (ViewBag.Ok != null))
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <strong>Operação realizada com sucesso!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if ((ViewBag.MsgAlert != "") && (ViewBag.MsgAlert != null))
        {
            <div class="alert alert-info alert-dismissible" role="alert">
                <strong>@ViewBag.MsgAlert</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

        }

        @RenderBody()
    </main>
    @if (Roles.IsUserInRole("adminTorneio"))
    {
        @Html.Partial("_FooterBT1")
    }
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>