@{
    Layout = null;
    var barraId = 0;
    var barraNome = "Ranking de Tênis";
    var scrLogo = "/Content/image/logo0.png";
 }
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jogue tênis de maneira inovadora</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/Content/image/logo.jpg">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>

    @Styles.Render("~/css")
    @Styles.Render("~/css0")

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="home-page">
    <!-- ******HEADER****** -->
    <header id="header" class="header navbar-fixed-top">
        <div class="container">
            <h1 class="logo">
                <a href="~/Home/index"><span class="text">
                    <img width="50" height="50" src="@scrLogo">&nbsp;@barraNome</span>
                </a>
            </h1><!--//logo-->
            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        Menu
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item"><a href="/Home/Index">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Funcionalidades <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Jogos", "FuncJogos", "Home")</li>
                                <li>@Html.ActionLink("Ranking", "FuncRanking", "Home")</li>
                                <li>@Html.ActionLink("Estatísticas", "FuncEstatistica", "Home")</li>
                                <li>@Html.ActionLink("Torneios", "FuncTorneio", "Home")</li>
                                <li>@Html.ActionLink("Eventos", "FuncEventos", "Home")</li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Informações <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Regulamento", "Regulamento", "Home")</li>
                                <li>@Html.ActionLink("Quem somos", "QuemSomos", "Home")</li>
                                <li>@Html.ActionLink("Fale Conosco", "FaleConosco", "Home")</li>
                            </ul>
                        </li><!--//dropdown-->
                        <li class="nav-item"><a href="/Account/Login">Log in</a></li>
                        <li class="nav-item nav-item-cta last">
                        @if(barraId==0){
                            <a class="btn btn-cta btn-cta-secondary" href="@Url.Action("FaleConosco", "Home")">
                                Entre Em Contato
                            </a>
                        } else {
                            <a class="btn btn-cta btn-cta-secondary" href="@Url.Action("Register", "Account")">
                                Cadastre-se
                            </a>
                        }
                            </li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div><!--//container-->
    </header><!--//header-->
    @RenderBody()

    @Html.Partial("_Rodape")

    <!-- Javascript -->
    @Scripts.Render("~/js")
    @Scripts.Render("~/bundles/load-image")
    @RenderSection("scripts", required: false)
    <script>
        var $doc = $('html, body');
        $('.scrollSuave').click(function () {
            $doc.animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 500);
            return false;
        });
    </script>
    <!-- Vimeo video API x-->
    <!--script-- src="http://a.vimeocdn.com/js/froogaloop2.min.js"></!--script-->
</body>
</html>