@model string
@{
    string ehTorneio = Model;
}
@if (Request.IsAuthenticated)
{

    <li class="nav-item dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Informações <i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Regulamento", "Regulamento2", "Home")</li>
            <!--li>Html.ActionLink("Torneios", "FuncTorneio2", "Home")</li-->
            <li>@Html.ActionLink("Quem somos", "QuemSomos2", "Home")</li>
            <li>@Html.ActionLink("Fale Conosco", "FaleConosco2", "Home")</li>
        </ul>
    </li>

    <li class="nav-item dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
            <img id="imgFoto" src="@Url.Action("BuscaFoto", "Account", new { id = 0, userName = User.Identity.Name })" class="profile-image img-circle" style="width: 40px; height: 40px; vertical-align: top; margin-top:-9px">&nbsp;@User.Identity.Name <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
            @if (Roles.IsUserInRole("adminTorneio") || Roles.IsUserInRole("adminTorneioTenis") || Roles.IsUserInRole("organizador") || Roles.IsUserInRole("admin"))
            {
                <li>@Html.ActionLink("Painel Torneio", "PainelControle", "Torneio")</li>
            }
            @if ((Roles.IsUserInRole("admin")) || (Roles.IsUserInRole("organizador")))
            {
                <li>@Html.ActionLink("Painel", "Dashboard", "Home")</li>
                <li>@Html.ActionLink("Meu Jogo", "Index3", "Home")</li>
            }
            @if (Roles.IsUserInRole("parceiroBT"))
            {
                <li>@Html.ActionLink("Ranking", "Index", "Barragens")</li>
                <li>@Html.ActionLink("Torneio", "Index", "Torneio")</li>
                <li>@Html.ActionLink("Circuito", "Index", "Liga")</li>
            }
            @if (!Roles.IsUserInRole("adminTorneio"))
            {
                <li>@Html.ActionLink("Inserir Foto", "../Account/EditaUsuario", new { UserName = User.Identity.Name, isAlterarFoto = true })</li>
                <li>@Html.ActionLink("Alterar Dados", "../Account/EditaUsuario", new { UserName = User.Identity.Name })</li>
                <li>@Html.ActionLink("Perfil", "../Account/Detalhes", new { userId = WebSecurity.GetUserId(User.Identity.Name) })</li>
                if (!Roles.IsUserInRole("parceiroBT"))
                {
                    <li>@Html.ActionLink("Meus Jogos", "ListarJogosJogador", "Jogo")</li>
                }
            }
            <li>@Html.ActionLink("Trocar senha", "Manage", "Account")</li>

            @if ((Roles.IsUserInRole("admin")) || (Roles.IsUserInRole("organizador")))
            {
                <li>@Html.ActionLink("Ranking", "Index", "Barragens")</li>
                <li>@Html.ActionLink("Temporada", "Index", "Temporada")</li>
            }
            @if ((Roles.IsUserInRole("admin")) || (Roles.IsUserInRole("organizador")) || (Roles.IsUserInRole("adminTorneio")))
            {
                <li>@Html.ActionLink("Torneio", "Index", "Torneio")</li>
            }
            @if (Roles.IsUserInRole("admin"))
            {
                <li>@Html.ActionLink("Pagamentos", "Index", "Pagamento")</li>
                <li>@Html.ActionLink("Circuito", "Index", "Liga")</li>
                <li>@Html.ActionLink("Regra", "Index", "Regra")</li>
            }

            @if ((Roles.IsUserInRole("admin")) || (Roles.IsUserInRole("organizador")))
            {
                <li>@Html.ActionLink("Patrocinador", "Index", "Patrocinador")</li>
            }

            @if (Roles.IsUserInRole("admin"))
            {
                <li>@Html.ActionLink("Usuários Duplicados", "UsuariosDuplicado", "Account")</li>
            }
        </ul>
    </li>

    <li class="active nav-item"><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sair</a></li>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="isTorneio" value="@ehTorneio" />
    }

}
else
{
    <li class="nav-item nav-item-cta last">
        @if (ehTorneio == "torneio")
        {
            <a class="btn btn-cta btn-cta-secondary" href="@Url.Action("Login", "Account", new { returnUrl = "torneio" })">Log in</a>
        }
        else
        {
            <a class="btn btn-cta btn-cta-secondary" href="@Url.Action("Login", "Account")">Log in</a>
        }
    </li>
}
