@model Barragem.Models.LocalPasswordModel

<h3>Trocar senha</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="col-md-3">
                @Html.PasswordFor(m => m.OldPassword)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="col-md-3">
                @Html.PasswordFor(m => m.NewPassword)
            </div>
        </div>    
        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="col-md-3">
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>
        <input type="submit" value="Trocar senha" />
    </div>
}
