@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@model IEnumerable<Barragem.Models.UserProfile>
    @{
        ViewBag.Title = "Login";

    }
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Selecione um usuário</h3>
                    </div>
                    <div class="box-body">
                        @foreach (var item in Model)
                        {
                            var scrLogo = "/Content/image/logo" + item.barragemId + ".png";
                            <div class="col-md-6 col-xs-6">
                                <a href="@Url.Action("LoginPassword", new { userName = @item.UserName, returnUrl=ViewBag.ReturnUrl, torneioId=ViewBag.torneioId })" >
                                    <img id="imgFoto" src=@scrLogo class="profile-image img-circle" style="width:40px;height:40px;"><br>
                                    @Html.DisplayFor(modelItem => item.UserName) <br>
                                    @Html.DisplayFor(modelItem => item.barragem.nome)
                                </a>
                            </div>
                         }
                    </div>
                </div>
            </div>
        </div>
    </section>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
