@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@model IEnumerable<Barragem.Models.LoginRankingModel>
    @{
        ViewBag.Title = "Login";

    }
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Selecione um usuário</h3>
                    </div>
                    <div class="box-body">
                        @foreach (var item in Model)
                        {
                            var scrLogo = "/Content/image/logo" + item.logoId + ".png";
                            var path = Server.MapPath(scrLogo);
                            if (!File.Exists(path))
                            {
                                scrLogo = "/Content/image/logo" + item.logoId + ".jpg";
                            }
                            <div class="col-md-6 col-xs-12 text-center" style="border-radius:10px; margin-bottom: 15px; padding-top: 10px; @if (item.idRanking != 0 && ViewBag.ReturnUrl == "torneio") { @Html.Raw("background-color: #E8E8E8") } ">
                                <a href="@Url.Action("LoginPassword", new { userName = @item.userName, returnUrl=ViewBag.ReturnUrl, torneioId=ViewBag.torneioId })" >
                                    <img id="imgFoto" src=@scrLogo class="profile-image img-circle" style="width:40px;height:40px;"><br>
                                    @Html.DisplayFor(modelItem => item.userName) 
                                    <!-- Html.DisplayFor(modelItem => item.nomeRanking) --> 
                                </a>
                                @if (item.idRanking != 0 && ViewBag.ReturnUrl=="torneio") {
                                    <br>
                                    @Html.Raw("<p style='font-size: 12px'>Este usuário possui pontuação para: " + item.nomeLiga + "</p>");
                                 }
                            </div>
                         }
                    </div>
                </div>
            </div>
        </div>
    </section>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
