@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@model Barragem.Models.VerificacaoCadastro
@{
    ViewBag.Title = "Validar Email";

}
<section class="content">
    @if ((ViewBag.Msg != "") && (ViewBag.Msg != null))
    {
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>@ViewBag.Msg</strong>
        </div>
    }
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">Digite o seu email</h4>
                </div>
                @using (Html.BeginForm("Login", "Account", FormMethod.Post)){
                    <div class="box-body">
                        <div class="row">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(false)
                                <div class="form-horizontal">
                                    <div class="col-md-12 col-xs-12 input-group-sm">
                                        <input type="text" class="form-control" name="email" placeholder="email">
                                        <input type="hidden" value="@Model.returnUrl" name="returnUrl">
                                        <input type="hidden" name="torneioId" value="@Model.torneioId">
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button class="col-md-12 col-xs-12 btn btn-small btn-success" type="submit">Continuar</button>
                    </div>
                }
            </div>
        </div>
    </div>
    
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
