@model Barragem.Models.LoginModel
@{
    Layout = "~/Views/Shared/_LayoutLoginBT.cshtml";

}

@section Css_Login{
    <link href="@Url.Content("/Content/css/login3.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/Content/jquery-confirm.min.css")" rel="stylesheet" type="text/css" />
}

<main class="row w-100 m-0">
    <section class="col-md-5  form-mobile">
        <form action="/Account/LoginPasswordBT" method="post" class=" m-auto mt-4">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <img src="/Content/img/logo-cad.png" alt="" srcset="">
            @if ((ViewBag.Msg != "") && (ViewBag.Msg != null))
            {
                <div class="mt-5 chamada mt-5">
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>@ViewBag.Msg</strong>
                    </div>
                </div>
            }
            <div class="mt-5 chamada mt-5">
                <h1>Acesse a sua conta</h1>
                <label>@Html.Raw(ViewBag.userName)</label>
            </div>
            <div class="mt-3 form-input">
                <div class="passord-wrapper d-flex flex-column justify-content-end">

                    <input name="Password" class="form-control" type="text" id="password" placeholder="Senha" required />
                    <div class="eye">
                        <img class="img-fluid" id="eye" src="/Content/img/eye.png">
                        <img class="img-fluid" id="eyeClosed" src="/Content/img/hidden.png">
                    </div>
                </div>
            </div>
            <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl">
            <input type="hidden" name="torneioId" value="@ViewBag.torneioId">
            <input type="hidden" name="UserName" value="@ViewBag.userName">
            <div class="mt-3 form-input mb-5 mt-5">
                <button type="submit" class="btn btn-success p-btn w-100">Entrar</button>
                <a href="#" class="btn w-100 mt-3 btn-recuperar confirmEsqueciSenha">Esqueci minha senha</a>
            </div>
        </form>
    </section>
    <section class="col-md-7 bg-img img-right">
    </section>
</main>

@section Scripts {
    <script>
        const password = document.getElementById('password');
        const eye = document.getElementById('eye');
        const eyeClosed = document.getElementById('eyeClosed');

        function changeToText() {
            eye.addEventListener('click', () => {
                if (password.Attribute = ('type', 'text')) {
                    document.getElementsByName("Password")[0].setAttribute('type', 'password');
                    eyeClosed.classList.toggle('eyeActive');
                }
                else {
                    document.getElementsByName("Password")[0].setAttribute('type', 'password');
                }
            });
        }
        function changeToPassword() {
            eyeClosed.addEventListener('click', () => {
                if (password.Attribute = ('type', 'password')) {
                    document.getElementsByName("Password")[0].setAttribute('type', 'text');
                    eyeClosed.classList.toggle('eyeActive');
                }
                else {
                    document.getElementsByName("Password")[0].setAttribute('type', 'password');
                }
            });
        }

        changeToText();
        changeToPassword();

    </script>
    @Scripts.Render("/Scripts/jquery-2.1.1.min.js")
    @Scripts.Render("/Scripts/jquery.confirm.min.js")

    <script type="text/javascript">
        $(document).ready(function () {

            $(".confirmEsqueciSenha").confirm({
                title: "Confirmação",
                content: "Você receberá uma nova senha no seu email. Confirma?",
                buttons: {
                    sim: {
                        text: 'Sim',
                        btnClass: 'btn-primary',
                        action: function () {
                            document.forms[0].action = "ResetarSenha";
                            document.forms[0].submit();
                        }
                    },
                    cancelar: function () {

                    }
                }
            });

        });
    </script>
}