@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@model Barragem.Models.LoginModel
@{
    ViewBag.Title = "Login";

}
<!--section class="content-header">
    <h1>Login</h1>
</section-->
<section class="content">
    @if ((ViewBag.Msg != "") && (ViewBag.Msg != null))
    {
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>@ViewBag.Msg</strong>
        </div>
    }
    <div class="row">
        <div class="col-md-4">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Digite sua senha</h3>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="form">
                            <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl">
                            <input type="hidden" name="torneioId" value="@ViewBag.torneioId">
                            <input type="hidden" name="UserName" value="@ViewBag.userName">
                            <div class="form-group">
                                <div class="input-group col-md-6">
                                    @Html.Raw(ViewBag.userName)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group col-md-8">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                    <input type="password" class="form-control" placeholder="Senha" id="Password" name="Password" required>
                                </div>
                            </div>
                            <input name="RememberMe" type="hidden" value="true">
                            <!--div class="form-group">
                                <div class="input-group col-md-6">
                                    
                                    Html.LabelFor(m => m.RememberMe, new { class = "" })&nbsp;&nbsp;
                                    Html.CheckBoxFor(m => m.RememberMe)
                                </div>
                            </div-->
                            <div class="box-footer">
                                <button class="col-md-12 col-xs-12 btn btn-small btn-success" type="submit">Entrar</button>
                                <button class="col-md-12 col-xs-12 btn btn-small btn-cta-secondary confirmEsqueciSenha" role="button">Esqueci senha</button>
                            </div>
                        </div>
                    }
                
            </div>
            </div>
    </div>
</section>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">
            $(document).ready(function () {

                $(".confirmEsqueciSenha").confirm({
                    title: "Confirmação",
                    content: "Você receberá uma nova senha no seu email. Confirma?",
                    buttons: {
                        sim: {
                            text: 'Sim',
                            btnClass: 'btn-primary',
                            action: function () {
                                document.forms[0].action = "ResetarSenha";
                                document.forms[0].submit();
                            }
                        },
                        cancelar: function () {

                        }
                    }
                });

            });
        </script>
    }
