@model Barragem.Models.UserProfile

@{
    ViewBag.Title = "Minha Pontuação";
}

<style>
    .posicao {
        color: dimgray;
        font-weight: bold;
    }
    .nomeJogador {
        color: black;
        display:inline;
        font-weight: bold;
    }
    .rotuloPontuacaoAtual {
        color: black;
     }
    .pontuacaoAtual {
        border-radius: 10px;
        padding: 10px;
        color: white;
        font-weight: bold;
        background: #006600;
        display: inline;
    }
    .legenda {
        padding: 5px;
        color: red;
        background: red;
        display: inline;
    }
    .explica {
        position: relative;
        top: 15px;
        border-radius: 3px;
        color: #006600;
        font-weight: bold;
        padding: 5px;
        background: darkgray;
        text-align: center;
    }
</style>

@if ((ViewBag.MsgErro != "") && (ViewBag.MsgErro != null))
{
    <div class="alert alert-danger alert-dismissable">
        <strong>Erro!</strong> @ViewBag.MsgErro
    </div>
}

    <legend>
        <div class="posicao">
            @Html.Raw("#" + ViewBag.posicaoJogador)
            <div class="nomeJogador"> @Html.Raw(@Model.nome)</div>
        </div>
    </legend>

    <div class="rotuloPontuacaoAtual">
        @Html.Raw("Pontuação atual: ")
        <div class="pontuacaoAtual">
            @Html.Raw(ViewBag.pontuacaoAtual+" pts")
        </div>
    </div>

    <div class="explica">
        @Html.Raw("Sua pontuação é a soma dos seus últimos 10 resultados")
    </div>


<div id="tabRanking">
    @if (ViewBag.RanckingJogador != null)
    {
        List<Barragem.Models.Rancking> ranking = ViewBag.RanckingJogador;
        var dataJogos = ViewBag.dataJogos;
        var i = 0;
        <br>
        <div>
            <table border="0" class="table table-striped">
                <tr>
                    <th>
                        @Html.DisplayName("rodada") 
                    </th>
                    <th>
                        @Html.DisplayName("data")
                    </th>
                    <th>
                        @Html.DisplayName("pts na rodada")
                    </th>
                    <th>

                    </th>
                </tr>

                @foreach (var item in ranking)
                {
                    var jogoAtrasado = "";
                    if(dataJogos[i]!=null && dataJogos[i] > ViewBag.dataFimRodada) {
                        jogoAtrasado = "red";
                    }
                    i++;
                    <tr style='background-color:@jogoAtrasado'>
                        <td>
                            @Html.DisplayFor(modelItem => item.rodada.codigoSeq)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rodada.dataFim)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.pontuacao, 2)
                        </td>
                    </tr>
                }
            </table>
            <div class="legenda">xxx</div> A pontuação de jogos atrasados serão contabilizadas após o fechamento da próxima rodada.
        </div>
    }
</div>
