@model Barragem.Models.RegisterInscricao
@{
    Layout = "~/Views/Shared/_LayoutTorneio2.cshtml";
    ViewBag.Title = "Inscrição Torneio ";
    Barragem.Models.Torneio torneio = ViewBag.Torneio;
}
<section class="content-header">
    <h1>Inscrição Torneio</h1>
</section>
<section class="content">
    @if ((ViewBag.Msg != "") && (ViewBag.Msg != null))
    {
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>@ViewBag.Msg</strong>
        </div>
    }

    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="col-md-6">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Dados Pessoais</h3>
                    </div>
                    <div class="box-body">
                        <div>
                            @Html.ValidationMessageFor(m => m.register.email, "", new { @class = "alert-danger" })
                            @Html.ValidationMessageFor(m => m.register.UserName, "", new { @class = "alert-danger" })
                            @Html.ValidationMessageFor(m => m.register.Password, "", new { @class = "alert-danger" })
                            @Html.ValidationMessageFor(m => m.register.ConfirmPassword, "", new { @class = "alert-danger" })
                            @Html.ValidationMessageFor(model => model.register.dataNascimento, "", new { @class = "alert-danger" })
                            @Html.ValidationMessageFor(m => m.register.altura2, "", new { @class = "alert-danger" })
                            @Html.ValidationMessageFor(m => m.register.telefoneCelular, "", new { @class = "alert-danger" })
                        </div>
                        <div class="form">
                            <input type="hidden" name="register.barragemId" id="register_barragemId" value="@torneio.barragemId">
                            <div class="row form-group">
                                @Html.LabelFor(m => m.register.email, new { @class = "control-label col-md-4" })*
                                <div class="col-md-6 input-group-sm">
                                    @Html.TextBoxFor(m => m.register.email, new { @class = "form-control", Value = ViewBag.email })
                                    @Html.ValidationMessageFor(m => m.register.email, "", new { @class = "alert-danger" })
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(m => m.register.UserName, new { @class = "control-label col-md-4" })*
                                <div class="col-md-6 input-group-sm">
                                    @Html.TextBoxFor(m => m.register.UserName, new { @class = "form-control", placeholder = "ex.: nome.sobrenome ou email", Value = ViewBag.login })
                                    @Html.ValidationMessageFor(m => m.register.UserName, "", new { @class = "alert-danger" })
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(m => m.register.Password, new { @class = "control-label col-md-4" })
                                <div class="col-md-6 input-group-sm">
                                    @Html.PasswordFor(m => m.register.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.register.Password, "", new { @class = "alert-danger" })
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(m => m.register.ConfirmPassword, new { @class = "control-label col-md-4" })
                                <div class="col-md-6 input-group-sm">
                                    @Html.PasswordFor(m => m.register.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.register.ConfirmPassword, "", new { @class = "alert-danger" })
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.Label("Nome e UM Sobrenome", new { @class = "control-label col-md-4" })*
                                <div class="col-md-6 input-group-sm">
                                    @Html.TextBoxFor(m => m.register.nome, new { @class = "form-control", placeholder = "Nome e UM Sobrenome" })
                                    @Html.ValidationMessageFor(m => m.register.nome, "", new { @class = "alert-danger" })
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(model => model.register.dataNascimento, new { @class = "control-label col-md-4" })*
                                <div class="col-md-5 input-group-sm">
                                    @Html.TextBoxFor(m => m.register.dataNascimento, new { @class = "form-control", placeholder = "dd/mm/yyyy" })
                                    @Html.ValidationMessageFor(model => model.register.dataNascimento, "", new { @class = "alert-danger" })
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(m => m.register.altura2, new { @class = "control-label col-md-4" })*
                                <div class="col-md-3 input-group-sm">
                                    @Html.TextBoxFor(m => m.register.altura2, new { @class = "form-control", placeholder = "ex.: 1,80" })
                                    @Html.ValidationMessageFor(m => m.register.altura2, "", new { @class = "alert-danger" })
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(m => m.register.lateralidade, new { @class = "control-label col-md-4" })
                                <div class="col-md-4 input-group-sm">
                                    <select id="register.lateralidade" name="register.lateralidade" class="form-control">
                                        <option value="destro">destro</option>
                                        <option value="canhoto">canhoto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(m => m.register.telefoneCelular, new { @class = "control-label col-md-4" })*
                                <div class="col-md-6 input-group-sm">
                                    @Html.TextBoxFor(m => m.register.telefoneCelular, new { @class = "form-control", placeholder = "ex.:(61)99999-9999" })
                                    @Html.ValidationMessageFor(m => m.register.telefoneCelular, "", new { @class = "alert-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Dados da Inscrição</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            @Html.Label("Uma categoria", new { @class = "col-sm-5" })
                            <div class="col-sm-7 info-box-text">
                                @Html.Hidden("inscricao.torneioId", torneio.Id)
                                @Html.Hidden("isClasseDupla", false)
                                @if (torneio.valor == 0)
                                {
                                    @Html.Raw("Gratuito")
                                    @Html.Hidden("inscricao.valor", "0");
                                }
                                else
                                {
                                    @Html.Raw("R$ " + torneio.valor + ",00")
                                    @Html.Hidden("inscricao.valor", torneio.valor);
                                }
                            </div>
                        </div>
                        @if (torneio.qtddCategoriasPorJogador>1)
                        {
                        <div class="row">
                            @Html.Label("Duas Categorias", new { @class = "col-sm-5" })
                            <div class="col-sm-7 info-box-text">
                                @if (torneio.valor == 0)
                                {
                                    @Html.Raw("gratuito")
                                }
                                else
                                {
                                    @Html.Raw("R$ " + torneio.valor2 + ",00")
                                }
                            </div>
                        </div>
                        }
                        @if (torneio.qtddCategoriasPorJogador > 2)
                        {
                        <div class="row">
                            @Html.Label("Três Categorias", new { @class = "col-sm-5" })
                            <div class="col-sm-7 info-box-text">
                                @if (torneio.valor == 0)
                                {
                                    @Html.Raw("gratuito")
                                }
                                else
                                {
                                    @Html.Raw("R$ " + torneio.valor3 + ",00")
                                }
                            </div>
                        </div>
                        }
                        @if (torneio.qtddCategoriasPorJogador > 3)
                        {
                        <div class="row">
                            @Html.Label("Quatro Categorias", new { @class = "col-sm-5" })
                            <div class="col-sm-7 info-box-text">
                                @if (torneio.valor == 0)
                                {
                                    @Html.Raw("gratuito")
                                }
                                else
                                {
                                    @Html.Raw("R$ " + torneio.valor4 + ",00")
                                }
                            </div>
                        </div>
                        }
                        @if ((torneio.isDesconto != null && (bool)torneio.isDesconto))
                        {
                        <div class="row">
                            @Html.Label("Desconto p/ " + torneio.descontoPara + " de", new { @class = "col-sm-5" })
                            <div class="col-sm-7 info-box-text">
                                @Html.Raw("R$ " + torneio.valorSocio + ",00")
                            </div>
                        </div>
                        }
                        <div class="row">
                            @Html.Label("Inscrições até", new { @class = "col-sm-5" })
                            <div class="col-sm-7 info-box-text">
                                @Html.Raw(torneio.dataFimInscricoes.ToShortDateString())
                            </div>
                        </div>
                        @if (torneio.isDesconto!=null && (bool)torneio.isDesconto)
                        {
                        <div class="row">
                            <label id="labelIsSocio" class="col-sm-5">
                                @Html.Raw("É " + torneio.descontoPara + "? *")
                            </label>
                            <div class="col-sm-7 info-box-text">
                                <input type="radio" name="isSocio" id="isSocio" value="true">Sim
                                <input type="radio" name="isSocio" id="isSocio" value="false">Não
                            </div>
                        </div>
                        }
                        <div class="row">
                            @Html.Label("Classe", new { @class = "col-sm-4" })
                            <div class="col-sm-8 info-box-text">
                                <select name="classeInscricao" id="classeInscricao" data-classe2="@(torneio.qtddCategoriasPorJogador>1)" class="form-control escolherSegundaOpcaoClasse">
                                    <option value="0">Selecione uma classe...</option>
                                    @foreach (var item in ViewBag.Classes)
                                    {
                                        <option value="@item.Id" data-isDupla="@item.isDupla" @if (ViewBag.ClasseInscricao == item.Id) { @Html.Raw("selected")    }>@item.nome</option>
                                    }
                                </select>
                            </div>
                        </div>
                        @if (torneio.qtddCategoriasPorJogador>1)
                        {
                        <div id="checkSegundaOpcaoClasse" class="form-group">
                            <div class="col-sm-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="true" name="isSegundaOpcaoClasse" id="isSegundaOpcaoClasse" onclick="segundaOpcaoDeClasse()" /> @Html.Raw("Quero escolher mais uma categoria")
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div id="segundaOpcaoClasse" class="row">
                            @Html.Label("2ª Opção", new { @class = "col-sm-4" })
                            <div class="col-sm-8 info-box-text">
                                <select name="classeInscricao2" class="form-control segundaOpcaoClasse escolherTerceiraOpcaoClasse" data-classe3="@(torneio.qtddCategoriasPorJogador>2)">
                                    <option value="0">Selecione uma classe...</option>
                                    @foreach (var item in ViewBag.Classes2)
                                    {
                                        <option value="@item.Id" data-isDupla="@item.isDupla" @if ((!String.IsNullOrEmpty(ViewBag.ClasseInscricao2)) && (ViewBag.ClasseInscricao2 == item.Id)) { @Html.Raw("selected")    }>@item.nome</option>
                                    }
                                </select>
                            </div>
                        </div>

                        }
                        @if (torneio.qtddCategoriasPorJogador > 2)
                        {
                        <div id="checkTerceiraOpcaoClasse" class="form-group">
                            <div class="col-sm-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="true" name="isTerceiraOpcaoClasse" id="isTerceiraOpcaoClasse" onclick="terceiraOpcaoDeClasse()" /> @Html.Raw("Quero escolher mais uma categoria")
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div id="terceiraOpcaoClasse" class="row">
                            @Html.Label("3ª Opção", new { @class = "col-sm-4" })
                            <div class="col-sm-8 info-box-text">
                                <select name="classeInscricao3" class="form-control terceiraOpcaoClasse escolherQuartaOpcaoClasse" data-classe3="@(torneio.qtddCategoriasPorJogador>3)">
                                    <option value="0">Selecione uma classe...</option>
                                    @foreach (var item in ViewBag.Classes2)
                                    {
                                        <option value="@item.Id" data-isDupla="@item.isDupla" @if ((!String.IsNullOrEmpty(ViewBag.ClasseInscricao3)) && (ViewBag.ClasseInscricao3 == item.Id)) { @Html.Raw("selected")     }>@item.nome</option>
                                    }
                                </select>
                            </div>
                        </div>

                        }
                        @if (torneio.qtddCategoriasPorJogador > 3)
                        {
                        <div id="checkQuartaOpcaoClasse" class="form-group">
                            <div class="col-sm-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="true" name="isQuartaOpcaoClasse" id="isQuartaOpcaoClasse" onclick="quartaOpcaoDeClasse()" /> @Html.Raw("Quero escolher mais uma categoria")
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div id="quartaOpcaoClasse" class="row">
                            @Html.Label("4ª Opção", new { @class = "col-sm-4" })
                            <div class="col-sm-8 info-box-text">
                                <select name="classeInscricao4" class="form-control quartaOpcaoClasse">
                                    <option value="0">Selecione uma classe...</option>
                                    @foreach (var item in ViewBag.Classes2)
                                    {
                                        <option value="@item.Id" data-isDupla="@item.isDupla" @if ((!String.IsNullOrEmpty(ViewBag.ClasseInscricao4)) && (ViewBag.ClasseInscricao4 == item.Id)) { @Html.Raw("selected")      }>@item.nome</option>
                                    }
                                </select>
                            </div>
                        </div>

                        }
                                @if (!String.IsNullOrEmpty(torneio.observacao))
                                {
                                    <br>
                                    <div class="boxPadrao">
                                        <div class="row">
                                            <div class="col-sm-12">@Html.Raw(torneio.observacao)</div>
                                        </div>
                                        <div class="row form-group input-group-sm">
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(m => m.inscricao.observacao, new { @class = "form-control", placeholder = "Responda aqui..." })
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        @if (torneio.dataFimInscricoes.AddDays(1) >= DateTime.Now)
                        {
                            if (!String.IsNullOrEmpty(ViewBag.statusPagamento))
                            {
                                <a href="@Url.Action("EfetuarPagamento", "Torneio", new { inscricaoId = ViewBag.inscricaoId })" class="btn btn-default" data-id="@ViewBag.inscricaoId" title="Efetuar Pagamento">Efetuar Pagamento</a>
                            }
                            else
                            {
                                <button type="submit" id="btnIncricao" class="btn btn-primary pull-right validarSeSocio">Inscrever-me</button>
                            }
                        }
                        else
                        {
                            @Html.Raw("Inscrições Encerradas.")
                        }
                    </div>
                    <!-- /.box-footer -->
                </div>
            </div>
        }
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var isDupla = false;
        var isDupla2 = false;
        $(document).ready(function () {
            $("#register_dataNascimento").mask("99/99/9999");
            $("#register_altura2").mask("9,99");
            $("#register_telefoneCelular").mask("(99) 99999-9999");

            $(".escolherSegundaOpcaoClasse").change(function (event) {
                event.preventDefault();
                var classe2 = $(this).data("classe2");
                isDupla = $(this).children(':selected').data("isdupla") == "True";
                if ((isDupla) || (isDupla2)) {
                    $("#btnIncricao").text("Escolher Parceiro");
                    document.forms[0].isClasseDupla.value = true;
                } else {
                    $("#btnIncricao").text("Inscrever-me");
                    document.forms[0].isClasseDupla.value = false;
                }
                if (classe2 == "True") {
                    document.getElementById('checkSegundaOpcaoClasse').style.opacity = "1";
                    document.getElementById('checkSegundaOpcaoClasse').style.display = "block";
                    $.confirm({
                        title: "",
                        content: "Deseja jogar em mais uma classe?",
                        buttons: {
                            sim: {
                                text: 'Sim',
                                btnClass: 'btn-primary',
                                action: function () {
                                    document.getElementById('isSegundaOpcaoClasse').checked = true;
                                    segundaOpcaoDeClasse();
                                }
                            },
                            cancelar: { text: 'Não' }
                        }
                    });
                }
            });

            $(".escolherTerceiraOpcaoClasse").change(function (event) {
                event.preventDefault();
                var classe3 = $(this).data("classe3");
                isDupla2 = $(this).children(':selected').data("isdupla") == "True";
                if ((isDupla) || (isDupla2)) {
                    $("#btnIncricao").text("Escolher Parceiro");
                    document.forms[0].isClasseDupla.value = true;
                } else {
                    $("#btnIncricao").text("Inscrever-me");
                    document.forms[0].isClasseDupla.value = false;
                }
                if (classe3 == "True") {
                    document.getElementById('checkTerceiraOpcaoClasse').style.opacity = "1";
                    document.getElementById('checkTerceiraOpcaoClasse').style.display = "block";
                    $.confirm({
                        title: "",
                        content: "Deseja jogar em mais uma classe?",
                        buttons: {
                            sim: {
                                text: 'Sim',
                                btnClass: 'btn-primary',
                                action: function () {
                                    document.getElementById('isTerceiraOpcaoClasse').checked = true;
                                    terceiraOpcaoDeClasse();
                                }
                            },
                            cancelar: { text: 'Não' }
                        }
                    });
                }
            });

            $(".escolherQuartaOpcaoClasse").change(function (event) {
                event.preventDefault();
                var classe3 = $(this).data("classe3");
                isDupla3 = $(this).children(':selected').data("isdupla") == "True";
                if ((isDupla) || (isDupla2) || (isDupla3)) {
                    $("#btnIncricao").text("Escolher Parceiro");
                    document.forms[0].isClasseDupla.value = true;
                } else {
                    $("#btnIncricao").text("Inscrever-me");
                    document.forms[0].isClasseDupla.value = false;
                }
                if (classe3 == "True") {
                    document.getElementById('checkQuartaOpcaoClasse').style.opacity = "1";
                    document.getElementById('checkQuartaOpcaoClasse').style.display = "block";
                    $.confirm({
                        title: "",
                        content: "Deseja jogar em mais uma classe?",
                        buttons: {
                            sim: {
                                text: 'Sim',
                                btnClass: 'btn-primary',
                                action: function () {
                                    document.getElementById('isQuartaOpcaoClasse').checked = true;
                                    quartaOpcaoDeClasse();
                                }
                            },
                            cancelar: { text: 'Não' }
                        }
                    });
                }
            });

            $(".segundaOpcaoClasse").change(function (event) {
                event.preventDefault();
                isDupla2 = $(this).children(':selected').data("isdupla") == "True";
                if ((isDupla) || (isDupla2)) {
                    $("#btnIncricao").text("Escolher Parceiro");
                    document.forms[0].isClasseDupla.value = true;
                } else {
                    $("#btnIncricao").text("Inscrever-me");
                    document.forms[0].isClasseDupla.value = false;
                }

            });

            $(".terceiraOpcaoClasse").change(function (event) {
                event.preventDefault();
                isDupla3 = $(this).children(':selected').data("isdupla") == "True";
                if ((isDupla) || (isDupla2) || (isDupla3)) {
                    $("#btnIncricao").text("Escolher Parceiro");
                    document.forms[0].isClasseDupla.value = true;
                } else {
                    $("#btnIncricao").text("Inscrever-me");
                    document.forms[0].isClasseDupla.value = false;
                }

            });

            $(".quartaOpcaoClasse").change(function (event) {
                event.preventDefault();
                isDupla4 = $(this).children(':selected').data("isdupla") == "True";
                if ((isDupla) || (isDupla2) || (isDupla3) || (isDupla4)) {
                    $("#btnIncricao").text("Escolher Parceiro");
                    document.forms[0].isClasseDupla.value = true;
                } else {
                    $("#btnIncricao").text("Inscrever-me");
                    document.forms[0].isClasseDupla.value = false;
                }

            });

        })

        function segundaOpcaoDeClasse() {
            if (document.getElementById('isMaisDeUmaClasse').checked) {
                document.getElementById('segundaOpcaoClasse').style.opacity = "1";
                document.getElementById('segundaOpcaoClasse').style.display = "block";
            } else {
                document.getElementById('segundaOpcaoClasse').style.opacity = "0 !important";
                document.getElementById('segundaOpcaoClasse').style.display = "none";
                isDupla2 = false;
                if ((isDupla) || (isDupla2)) {
                    $("#btnIncricao").text("Escolher Parceiro");
                    document.forms[0].isClasseDupla.value = true;
                } else {
                    $("#btnIncricao").text("Inscrever-me");
                    document.forms[0].isClasseDupla.value = false;
                }
            }
        }
        @if(ViewBag.isClasseDupla!=null && ViewBag.isClasseDupla)
        {
            @Html.Raw("$('#btnIncricao').text('Escolher Parceiro'); ");
            @Html.Raw("document.forms[0].isClasseDupla.value = true;");
        }

        jQuery(function ($) {
            $.validator.addMethod('date',
                function (value, element) {
                    $.culture = Globalize.culture("pt-BR");
                    var date = Globalize.parseDate(value, "dd/MM/yyyy", "pt-BR");
                    return this.optional(element) ||
                        !/Invalid|NaN/.test(new Date(date).toString());
                });
        });

        function segundaOpcaoDeClasse() {
            if (document.getElementById('isSegundaOpcaoClasse').checked) {
                document.getElementById('segundaOpcaoClasse').style.opacity = "1";
                document.getElementById('segundaOpcaoClasse').style.display = "block";
            } else {
                document.getElementById('segundaOpcaoClasse').style.opacity = "0 !important";
                document.getElementById('segundaOpcaoClasse').style.display = "none";
                isDupla2 = false;
                if ((isDupla) || (isDupla2)) {
                    $("#btnIncricao").text("Escolher Parceiro");
                    document.forms[0].isClasseDupla.value = true;
                } else {
                    $("#btnIncricao").text("Inscrever-me");
                    document.forms[0].isClasseDupla.value = false;
                }
            }
        }

        function terceiraOpcaoDeClasse() {
            if (document.getElementById('isTerceiraOpcaoClasse').checked) {
                document.getElementById('terceiraOpcaoClasse').style.opacity = "1";
                document.getElementById('terceiraOpcaoClasse').style.display = "block";
            } else {
                document.getElementById('terceiraOpcaoClasse').style.opacity = "0 !important";
                document.getElementById('terceiraOpcaoClasse').style.display = "none";
                isDupla2 = false;
                if ((isDupla) || (isDupla2) || (isDupla3)) {
                    $("#btnIncricao").text("Escolher Parceiro");
                    document.forms[0].isClasseDupla.value = true;
                } else {
                    $("#btnIncricao").text("Inscrever-me");
                    document.forms[0].isClasseDupla.value = false;
                }
            }
        }

        function quartaOpcaoDeClasse() {
            if (document.getElementById('isQuartaOpcaoClasse').checked) {
                document.getElementById('quartaOpcaoClasse').style.opacity = "1";
                document.getElementById('quartaOpcaoClasse').style.display = "block";
            } else {
                document.getElementById('quartaOpcaoClasse').style.opacity = "0 !important";
                document.getElementById('quartaOpcaoClasse').style.display = "none";
                isDupla2 = false;
                if ((isDupla) || (isDupla2)) {
                    $("#btnIncricao").text("Escolher Parceiro");
                    document.forms[0].isClasseDupla.value = true;
                } else {
                    $("#btnIncricao").text("Inscrever-me");
                    document.forms[0].isClasseDupla.value = false;
                }
            }
        }

        if (!document.getElementById('isSegundaOpcaoClasse').checked) {
            document.getElementById('segundaOpcaoClasse').style.opacity = "0";
            document.getElementById('segundaOpcaoClasse').style.display = "none";
            document.getElementById('checkSegundaOpcaoClasse').style.opacity = "0";
            document.getElementById('checkSegundaOpcaoClasse').style.display = "none";
        }

        if (!document.getElementById('isTerceiraOpcaoClasse').checked) {
            document.getElementById('terceiraOpcaoClasse').style.opacity = "0";
            document.getElementById('terceiraOpcaoClasse').style.display = "none";
            document.getElementById('checkTerceiraOpcaoClasse').style.opacity = "0";
            document.getElementById('checkTerceiraOpcaoClasse').style.display = "none";
        }

        if (!document.getElementById('isQuartaOpcaoClasse').checked) {
            document.getElementById('quartaOpcaoClasse').style.opacity = "0";
            document.getElementById('quartaOpcaoClasse').style.display = "none";
            document.getElementById('checkQuartaOpcaoClasse').style.opacity = "0";
            document.getElementById('checkQuartaOpcaoClasse').style.display = "none";
        }

        $(".validarSeSocio").click(function (event) {
            event.preventDefault();
            var radioButtons = document.getElementsByName("isSocio");
            var labelisSocio = document.getElementById("labelIsSocio");
            if ((labelisSocio != null) && (radioButtons[0].checked == false) && (radioButtons[1].checked == false)) {
                alert("Favor informar se você é sócio do clube ou não.");
                labelisSocio.style.color = "red";
                return false;
            } else {
                document.forms[0].submit();
            }
        });

        

    </script>
}


