@model Barragem.Models.Rodada

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <legend>Criar Rodada</legend>

        <div class="editor-field">
            <input type="hidden" name="codigo" value="A"/>
            <input type="hidden" name="sequencial" value="1" />
        </div>

    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.dataInicio)
            <div class="input-group date" id="dataInicio" data-date-format="dd/mm/yyyy">
                @Html.TextBoxFor(model => model.dataInicio, new { @class = "form-control", @readonly = "readonly" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
            </div>

            @Html.ValidationMessageFor(model => model.dataInicio)
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.dataFim)
            <div class="input-group date" id="dataFim" data-date-format="dd/mm/yyyy">
                @Html.TextBoxFor(model => model.dataFim, new { @class = "form-control", @readonly = "readonly" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
            </div>

            @Html.ValidationMessageFor(model => model.dataFim)
        </div>
    </div>

    if (Roles.IsUserInRole("admin"))
    {
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.barragemId)
                <div class="input-group">
                    @Html.DropDownList("barragemId", null, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.barragemId)
            </div>
        </div>
    }
    else
    {
        <input type="hidden" name="barragemId" value="@ViewBag.barraId" />
    }

    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.temporadaId)
            <div class="input-group">
                @Html.DropDownList("temporadaId", null, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.temporadaId)
        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col-xs-2">
            <input type="submit" value="Criar" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    
    <script type="text/javascript">
        $(function () {
            $("#dataInicio").datepicker({
                language: 'pt-BR',
                pickTime: false
            });
            $("#dataFim").datepicker({
                language: 'pt-BR',
                pickTime: false
            });
        });
    </script>
}
