@model Barragem.Models.Rodada

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <legend>Editar rodada</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.codigo)
        @Html.HiddenFor(model => model.sequencial)
        @Html.HiddenFor(model => model.barragemId)
        @Html.HiddenFor(model => model.temporadaId)
        @Html.HiddenFor(model => model.isAberta)
        <div class="editor-label">
            <label>Rodada: @Model.codigoSeq</label>
        </div>

    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.dataInicio)
            <div class="input-group date" id="dataInicio" data-date-format="dd/mm/yyyy">
                @Html.TextBoxFor(model => model.dataInicio, new { @class = "form-control", @readonly = "readonly" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
            </div>

            @Html.ValidationMessageFor(model => model.dataInicio)
        </div>
    </div>

        <div class="row">

            <div class="col-md-4">
                @Html.LabelFor(model => model.dataFim)
                <div class="input-group date" id="dataFim" data-date-format="dd/mm/yyyy">
                    @Html.TextBoxFor(model => model.dataFim, new { @class = "form-control", @readonly = "readonly" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar">
                        </span>
                    </span>
                </div>

                @Html.ValidationMessageFor(model => model.dataFim)
            </div>
        </div>
        <br />
        <p>
            <input type="submit" value="Save" />
            <input class="btn btn-success sortear" type="submit" value="Sortear Jogos" />
        </p>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @section Scripts {
            <script type="text/javascript">
                var link = "/Rodada/SortearJogos?id=@Model.Id&barragemId=@Model.barragemId";
                $(function () {
                    $("#dataInicio").datepicker({
                        language: 'pt-BR',
                        pickTime: false
                    });
                    $("#dataFim").datepicker({
                        language: 'pt-BR',
                        pickTime: false
                    });
                    $(".sortear").click(function (event) {
                        event.preventDefault();
                        document.forms[1].action = link;
                        document.forms[1].submit();
                    });
                });
            </script>
        }
