@model IEnumerable<Barragem.Models.Patrocinio>

    @{
        ViewBag.Title = "Index";
    }

    <p>
        @Html.ActionLink("Adicionar", "Create", null, new { @class = "btn btn-primary btn-small" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UrlImagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlPatrocinador)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img width="50" height="50" src="@item.UrlImagem" id="@Html.Raw("imagem")">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UrlPatrocinador)
                </td>
                <td align="center">
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs excluirButton" })
                </td>
            </tr>
        }

    </table>
