@model IEnumerable<Barragem.Models.SnapshotRanking>
    @{
        Layout = "~/Views/Shared/_LayoutPainelBT.cshtml";

    }

    @section Css_Painel{
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
        <link href="@Url.Content("/Content/css/circuito-exemplo.css")" rel="stylesheet" type="text/css" />
    }

    <section class="row">
        <div class="col-md-12 bg-light border position-relative p-4 mb-5 shadow-lg rounded">
            <div class="row dashboard">
                <div class="col-md-12 mb-3 d-flex">
                    <h3>
                        <a href="/Torneio/PainelControle" class="voltar">
                            <img src="/Content/img/back.svg" alt="icone">
                            Voltar
                        </a> | @Html.Raw(ViewBag.nomeLiga)
                    </h3>
                </div>
                <div class="col-md-12 mb-4">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div id="divNotificarAppRankingLiga" class="col-md-12">
                    @if (ViewBag.SnapshotsDaLiga.Count > 0)
                    {
                        <button id="btnNotificarAppRankingLiga" class="btn btn-orange" style="float:right" onclick="NotificarAppRankingLiga()"><img style="height:23px;width:23px" src="/Content/img/phone_ico.png" alt="Ver">Notificar App</button>
                    }
                    <label>Atualizações deste circuito</label>
                </div>
                <section class="atualizacoes mb-5" style="margin-top:-25px">
                    <form action="/Ranking/RankingDasLigasBT" method="post" class=" m-auto mt-4">
                        <input type="hidden" id="idLiga" name="idLiga" value="@ViewBag.idLiga" />
                        @if (ViewBag.SnapshotsDaLiga.Count > 0)
                        {
                            <select id="idSnapshot" name="idSnapshot" class="form-select" onchange="">
                                @foreach (var snap in ViewBag.SnapshotsDaLiga)
                                {
                                    <option value="@snap.Id" @if (snap.Id == ViewBag.idSnapshot) { @Html.Raw("selected") }>
                                        @snap.Data
                                    </option>
                                }
                            </select>
                        }
                        else
                        {
                            @Html.Raw("Este circuito ainda não possui ranking para exibir.")
                        }
                    </form>


                </section>


                <div class="col-md-12">

                    <div class="swiper" id="slide-circuito1">

                        <ul class="nav nav-tabs swiper-wrapper" id="myTab" role="tablist">
                            @{
                                var categorias = ViewBag.Categorias;
                                var i = 0;
                                foreach (Barragem.Models.Categoria cat in categorias)
                                {
                                    var tabName = "#tab" + cat.Id;
                                    if (i == 0)
                                    {
                                        <li class="nav-item swiper-slide" role="presentation">
                                            <button class="nav-link active nav-links" data-bs-toggle="tab"
                                                    data-bs-target="@tabName" type="button" role="tab"
                                                    aria-selected="true">
                                                @cat.Nome
                                            </button>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item swiper-slide ms-2" role="presentation">
                                            <button class="nav-link nav-links" data-bs-toggle="tab"
                                                    data-bs-target="@tabName" type="button" role="tab"
                                                    aria-selected="false">
                                                @cat.Nome
                                            </button>
                                        </li>
                                    }
                                    i++;
                                }
                            }
                        </ul>
                    </div>

                    <div class="tab-content" id="myTabContent">
                        @{
                            int j = 0;
                            foreach (Barragem.Models.Categoria cat in categorias)
                            {
                                var tabName = "tab" + cat.Id;
                                var tabPane = "tab-pane fade";
                                if (j == 0) { tabPane = "tab-pane fade show active"; }
                                <div id="@tabName" class="@tabPane" role="tabpanel">

                                    <div class="row  row-line">

                                        <div class="col-2">
                                            <h6>Posição</h6>
                                        </div>

                                        <div class="col-5">
                                            <h6>Nome</h6>
                                        </div>

                                        <div class="col-5 d-flex justify-content-end">
                                            <h6>Pontuação</h6>
                                        </div>

                                    </div>

                                    @foreach (Barragem.Models.SnapshotRanking ranking in Model)
                                    {
                                        if (ranking.CategoriaId == cat.Id)
                                        {
                                            <div class="row row-line">

                                                <div class="col-2">
                                                    <span class="info-table-1">@ranking.Posicao</span>
                                                </div>

                                                <div class="col-5">
                                                    <span class="info-table">@ranking.Jogador.nome</span>
                                                </div>

                                                <div class="col-5 d-flex justify-content-end">
                                                    <span class="info-table">@ranking.Pontuacao</span>
                                                </div>

                                            </div>
                                        }
                                    }
                                </div>
                                j++;
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    @section Scripts {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
        <script src="~/Content/js/circuito-exemplo.js"></script>
        <script src="~/Content/js/menu.js"></script>

        <script type="text/javascript">
            function NotificarAppRankingLiga() {
                event.preventDefault();
                $.ajax(
                    {
                        type: 'GET',
                        url: '/Ranking/NotificarAppRankingLiga',
                        data: "ligaId=" + document.getElementById("idLiga").value,
                        contentType: "application/json; charset=utf-8",
                        success: function (response) {
                            if (typeof response == "object") {
                                if (response.retorno === 1) {
                                    toastr.success("Notificação enviada com sucesso: " + response.segmento, "Aviso");
                                } else {
                                    toastr.error("Erro ao enviar notificação via APP.", "Erro");
                                }
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            toastr.error("Erro ao enviar notificação via APP.", "Erro");
                        }
                    }
                );
            }
        </script>
    }
