@model Barragem.Models.Barragens

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <legend>Criar Barragem</legend>

    <div class="editor-label">
        <label>Barragem</label>
    </div>
    <div class="row">
        <div class="col-xs-2">
            @Html.LabelFor(model => model.nome)
            <div class="input-group">
                @Html.TextBoxFor(model => model.nome, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.nome)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            @Html.Label("CPF/CNPJ")
            <div class="input-group">
                @Html.TextBoxFor(model => model.cpfResponsavel, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.cpfResponsavel)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            @Html.LabelFor(model => model.nomeResponsavel)
            <div class="input-group col-xs-6">
                @Html.TextBoxFor(model => model.nomeResponsavel, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.nomeResponsavel)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            @Html.Label("Valor p/usuário")
            <div class="input-group">
                @Html.TextBoxFor(model => model.valorPorUsuario, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.valorPorUsuario)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            @Html.LabelFor(model => model.dominio)
            <div class="input-group">
                @Html.TextBoxFor(model => model.dominio, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.dominio)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            @Html.LabelFor(model => model.email)
            <div class="input-group">
                @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            @Html.LabelFor(model => model.cidade)
            <div class="input-group">
                @Html.TextBoxFor(model => model.cidade, new { @class = "form-control" })
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-2">
            <label>
                <input type="checkbox" value="true" name="soTorneio"> Só Torneio
                
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <label>
                @Html.CheckBoxFor(model => model.suspensaoPorAtraso, new { @checked = "checked" }) Suspensão por jogo atrasado
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <label>
                @Html.CheckBoxFor(model => model.suspensaoPorWO, new { @checked = "checked" }) Suspensão por WO
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <label>
                @Html.CheckBoxFor(model => model.isAtiva, new { @checked = "checked" }) Ativa
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <label>
                @Html.CheckBoxFor(model => model.isTeste) Período de teste
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <label>
                @Html.CheckBoxFor(model => model.isClasseUnica) Sorteio por proximidade
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            @Html.LabelFor(model => model.emailPagSeguro)
            <div class="input-group col-xs-6">
                @Html.TextBoxFor(model => model.emailPagSeguro, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.emailPagSeguro)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            @Html.LabelFor(model => model.tokenPagSeguro)
            <div class="input-group col-xs-6">
                @Html.TextBoxFor(model => model.tokenPagSeguro, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.tokenPagSeguro)
        </div>
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.regulamento)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.regulamento)
        @Html.ValidationMessageFor(model => model.regulamento)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.quemsomos)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.quemsomos)
        @Html.ValidationMessageFor(model => model.quemsomos)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.contato)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.contato)
        @Html.ValidationMessageFor(model => model.contato)
    </div>

    <br />
    <div class="row">
        <div class="col-xs-2">
            <input type="submit" value="Criar" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {

    @Scripts.Render("~/bundles/editor")
    <script type="text/javascript">
        $("#cpfResponsavel").mask("99999999999999");
		tinyMCE.baseURL = '@Url.Content("~/Scripts/tinymce/")'
		tinyMCE.init({
		    selector: 'textarea#regulamento',
		    language: 'pt_BR',
		    theme: "modern",
		    theme_advanced_font_sizes: "10px,12px,13px,14px,16px,18px,20px",
            font_size_style_values: "12px,13px,14px,16px,18px,20px",
            relative_urls: false,
            remove_script_host: false,
		    width: 700,
		    height: 300,
		    plugins: [
						"advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
						"searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
						"save table contextmenu directionality template paste textcolor"
		    ],
		    toolbar1: "insertfile undo redo  | bold italic | underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage",
		    toolbar2: "forecolor backcolor | fontselect |  fontsizeselect | styleselect"

		});

		tinyMCE.init({
		    selector: 'textarea#quemsomos',
		    language: 'pt_BR',
		    theme: "modern",
		    theme_advanced_font_sizes: "10px,12px,13px,14px,16px,18px,20px",
		    font_size_style_values: "12px,13px,14px,16px,18px,20px",
		    width: 700,
		    height: 300,
		    plugins: [
						"advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
						"searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
						"save table contextmenu directionality template paste textcolor"
		    ],
		    toolbar1: "insertfile undo redo  | bold italic | underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage",
		    toolbar2: "forecolor backcolor | fontselect |  fontsizeselect | styleselect"

		});

		tinyMCE.init({
		    selector: 'textarea#contato',
		    language: 'pt_BR',
		    theme: "modern",
		    theme_advanced_font_sizes: "10px,12px,13px,14px,16px,18px,20px",
		    font_size_style_values: "12px,13px,14px,16px,18px,20px",
		    width: 700,
		    height: 300,
		    plugins: [
						"advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
						"searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
						"save table contextmenu directionality template paste textcolor"
		    ],
		    toolbar1: "insertfile undo redo  | bold italic | underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage",
		    toolbar2: "forecolor backcolor | fontselect |  fontsizeselect | styleselect"

		});
    </script>
}

